[2020-12-28 18:53] MattV1993 commented on #21166
Hi, please send 18.75 ETH to address 0x84ab149210ee64B3BDe0f4e340F3B032A5100049
Thanks!

[2020-12-28 20:43] efalken commented on #22039
Is there a link to a site that tells us when Rinkeby is down, and a time estimate of when it will be up again?

[2020-12-28 20:47] ligi opened #22086 "Rinkeby down"
seeing the following syncing

 `Current full block number unavailable hash="d9150b…52a6be"`

[2020-12-28 20:47] ligi commented on #22039
@efalken https://www.rinkeby.io/#stats - sorry no ETA when it is up again - tracking the issue here: #22086

[2020-12-28 20:49] ligi commented on #22085
I do not think a GUI should be in the scope of geth

[2020-12-28 21:04] SirLemuel commented on #21166
Hi @ligi , I could use 18.75 Ethers for the Rinkeby test net please.
My address: 0x9960b79214759A5103430466d156D93ee771c48d

Thank You.

[2020-12-28 21:06] ligi commented on #21166
sorry - cannot send anymore funds - rinkeby is stuck. #22086
Please try to move to goerli in the meantime if possible
Sorry for the inconvenience!

[2020-12-28 21:35] ligi commented on #22086
Does not seem to affect all nodes

Log from the Berlin Office DappNode - seems unaffected(apart from no new blocks as expected):

[code]

[2020-12-28 21:46] jm9151821 commented on #22085
It would make things way easier for the average non command line speaking
person. i don't have hard data but this is most likely strongly preventing
it from their being more nodes in the world.

It sure is the reason why I could set up a bitcoin node in 2 days but I'm
having to give more time to setting up an eth node. I think I've figured it
out with some help from the Eth staker discord group. U

[2020-12-28 21:49] ligi commented on #22085
Not saying it should not exist - just saying IMHO it should not be part of this. Should be another app/repo that uses this. Something like Grid was going in the direction.

[2020-12-29 00:24] WolveIT commented on #22072
@ligi we would really appreciate eth to our address on rinkeby testnet address is: 0xF4fF64CaC8cB7d16d517798f36bDbf5aBeffA228

[2020-12-29 00:35] ngrt commented on #21166
Hi, @ligi
Please send me 18 ETH for the testnet Rinkeby 0x612a6883ff751a8315e7A8CF95fF69019025D1c5

Thanks!

[2020-12-29 00:36] ligi commented on #22086
Rinkeby is back

[2020-12-29 00:36] #22086 closed

[2020-12-29 02:38] ymonye opened #22087 "Fully Synced Archive Node on v1.9.25 - Missing Trie Node Errors on ETH Balance Calls, Yet Succeeds on Subsequent Attempts"
#### System information

Geth version: v1.9.25-stable-e7872729
OS & Version: CentOS 7
Hardware: Dell PowerEdge R720, 128GB RAM, (8) Toshiba 1.92 TB SSDs in RAID-6
Commit hash : e7872729012a4871397307b12cc3f4772ffcbec6

#### Detail

Hi all. I have a few fully synced archive nodes for my company, running off Dell PowerEdge R720 servers with CentOS 7. Every now and then I receive a "missing trie node

[2020-12-29 02:47] jm9151821 commented on #22085
Okay,  I guess all I am trying to point out to, is that the bitcoin core
has a very simple GUI, why couldn't Geth?

Juan Mayen | IMBA
Class of 2018
The University of Memphis
University of Central Arkansas '15

On Mon, Dec 28, 2020 at 3:50 PM ligi <notifications@github.com> wrote:

[2020-12-29 06:49] hussamBim commented on #22039
Hey @ligi,
Can you please send 20 Rinkeby ETH to this account 0xf67D9611204ca60dB6E6006643fb3cf0EdC8b3CA?

[2020-12-29 07:50] arun-ddc commented on #22039
Hey @ligi
I am building a new dApp and I need some ether for testing. Can I get 10 Rinkeby ethers to this account
0x92506Ee00ad88354fa25E6CbFa7d42116d6823C0

[2020-12-29 08:44] jcortejoso commented on #22072
It does not work yet. Facebook posts also throw the same error.

[2020-12-29 09:34] holiman opened #22088 "Current full block number unavailable during sync"
Investigating this issue which occurred on one of the Rinkeby miners yesterday.

`Geth/v1.9.26-unstable-a425a47d-20201227/linux-amd64/go1.15.6`

<details>
  <summary>More complete logs</summary>

[code]

</details>

Interesting parts -- it mines block `1` as `d9150b…52a6be`, and starts working on block `2`, before block synchronization kicks in:
[code]
Once the sync starts, it imports headers, and

[2020-12-29 10:14] mejimwamba commented on #22039
Hi @ligi. I'm facing the same issue. May you please send me 10 10 Rinkeby Eth?
0x0Fe590462f7eA3A0E350cb059c8f7c3F31bB6587

[2020-12-29 10:20] holiman commented on #22088
Seems to be a regression of something that was fixed in  https://github.com/ethereum/go-ethereum/pull/20780

[2020-12-29 10:38] MariusVanDerWijden opened #22089 "Usage of reexec in docs"
We should improve the documentation about reexec and tracing e.g.
[code]
see also: https://github.com/ethereum/go-ethereum/issues/21005

[2020-12-29 10:43] MariusVanDerWijden commented on #21005
An example for correct usage:
[code]
we'll update the docs soonish

[2020-12-29 11:00] sljfalewjlkf commented on #22039
Hi @ligi. I'm facing the same issue. May you please send me 1 Rinkeby Eth? 0x447636e1D5f0B7ebF8302E1ecAC47A836fe2d64c
 thank you very much

[2020-12-29 11:26] AntonioPMCS commented on #21166
Hello, I am having the same problem. Do you have any idea when this might be fixed?

In the meanwhile, @ligi  is it possible to send 15 ETH to 0x95C95792697d2b024aF824fE3e455b1be4994db1?

[2020-12-29 12:34] hjmoon83 commented on #22072
@ligi same problem occurs here as well. Neither Twitter nor Facebook works. (Keeps happening for the past few days)
Could you kindly send 30 or more to my Rinkeby wallet? 0x50FB0557eA3fB5c5ee5588f1A30c3B2A292739Ed

[2020-12-29 13:18] #21732 closed

[2020-12-29 14:49] sonish777 commented on #21166
Having the same problem. Please send me 18 ETH for the Rinkeby test network, my address is 0xcba659d3a182EC0A8D69159DA02C90690c440887
Thank you very very much in advance!!!

[2020-12-29 14:50] AdemHodzic commented on #22039
@ligi Can you send 10 eth? 0x41D2375BE180dA88671C66fda8B927f371aBE5A5

[2020-12-29 14:51] holiman commented on #22087
Just to be clear: the _exact_ same call parameters?

[2020-12-29 15:04] tientvt commented on #21166
Hi @ligi , I could use 18.75 Ethers for the Rinkeby test net please.
My address: 0x7361098D77d2437475c7cF5489D61784EC61A261

Thank You!!!

[2020-12-29 15:25] sonish777 commented on #22072
@ligi hi there, could you please send some ether (rinkeby test network) for me too. Thank you very much!!!!

[2020-12-29 15:40] amir92io commented on #22072
Same issue.
I would be glad if someone can send me some ether at:
0x1C6A93D195842305d78F6B890e8283220Da0C97B

[2020-12-29 16:02] jm9151821 commented on #18356
this helped me too!!!

[2020-12-29 16:35] metthebet commented on #21166
Hello! While I'm still getting the same "Ethereum address not found for funding" error message, can please anyone send me any amount (ideally -- 18) of test ETH to 0x2Ac05a5B19c882B91B537dcfae613FA0E4aFEE

Thank you!

[2020-12-29 17:13] ph0ly commented on #21166
Hi @ligi , I could use 18.75 Ethers for the Rinkeby test net please.
My address: 0x699DB98B976BC6B42c7E0F35f283f62656dC5A86

Thank You!!!

[2020-12-29 17:29] rbishopny commented on #22031
0x339FC29d3F8D29Def2267484ff2db7537f396E35

Please send 18 ETH.  Thank you!

[2020-12-29 17:31] 0xLeia commented on #22031
Hey, could you please send 18 ETH to `0x1e1a88bdEf16b1906b85c31c625baEf8EAabBA98`? Thanks!

[2020-12-29 18:00] rbsamtest commented on #21166
Hi @ligi. I am having the same problem. Can you please send me 18 Ethers for the Rinkeby test net.
My Address: 0x575416c12C13e46A998e862aC10372b198D174cd.

Thanks a lot.

[2020-12-29 19:41] monkeyden commented on #22072
Could use some as well.  Thanks.
0x253641e1970cEcB61FDaa8608718370765CAb905

[2020-12-29 19:50] raghavddps2 commented on #22039
@ligi Can you please send 10 ethers to 0xA09d901b8A7C73059Addc3B32dEbb1Ad9e672dce . Much appreciated! :)

[2020-12-29 21:24] makerzy commented on #21166
Hi, @ligi could you please send 18.75 ETH to address 0xbd7a862eBCc528002cC77786643A97D43f8ec948
Thanks you!

[2020-12-29 21:28] makerzy commented on #22072
Hi @ligi, please send 18.75 ETH to address 0xbd7a862eBCc528002cC77786643A97D43f8ec948
Thank you!

[2020-12-29 22:36] ggilboo commented on #21166
@ligi, sorry to jump on the bandwagon but could use some as well

0xC61f96bb09087f516e7edF42aD3767B6d5dfF70D

[2020-12-30 01:27] artkkk commented on #21166
Hi @ligi  ,could you pleses send 8 ETH to address  0x3c3167C5974485E3d736f328C3a1810606173169     Thank u very much!

[2020-12-30 01:47] gtrrz-victor commented on #21166
Hi @ligi, thanks so much for giving that support to the solidity learners whereas this issue is being fixed. I would like to have some ethers to build up examples in order to learn about solidity.
My address is: 0x19a4a7544456bFca6C4d1C8c269bb46c0350A2f2

[2020-12-30 01:51] JeanGalt1957 commented on #21166
FYI, Ropsten faucet is working fine - just deployed there :)

[2020-12-30 02:12] gtrrz-victor commented on #21166
Thx! You have made my day!! Now, I can keep doing my course.

[2020-12-30 04:24] to101380 commented on #21166
Hi @ligi ,could you pleses send 18.75 ETH to address 0xbc1ADfF2EAC8dbA22d382DFADDf7e6B73aBC2334 Thank u very much!

[2020-12-30 04:33] zpcodemen commented on #21166
,could you pleses send 1 ETH to address 0x68e30F64c71F311bbF7B5b1499b49d33Fde45a67 Thank u very much!

[2020-12-30 06:15] ph0ly opened #22090 "Rinkeby faucet not work!"
Rinkeby faucet not work again, could you please send 18.75 ETH to address  0x699DB98B976BC6B42c7E0F35f283f62656dC5A86  for the Rinkeby test net
Thank u very much!

[2020-12-30 07:10] hqman commented on #21166
Thank you!  please send me 18.75 ETH :0x5386D64023Dde8e391f8bCE92B5cd5bFF31413ef

[2020-12-30 08:41] forencen opened #22091 "How to make geth keep states for the last 10000 blocks instead of 128?"
# geth version
[code]
# ubuntu version
`Ubuntu 18.04.5 LTS`

# node info
run : `geth --rpc --rpcapi web3,eth,net,txpool,admin,personal,debug --rpcaddr 0.0.0.0 --rpcport 8545 --datadir "/disk/eth/data" --syncmode "full"`

node model: `full-sync with pruning`

[code]

# my question

## reqeust parmas

[code]

## response

[code]

I checked the [documentation](https://geth.ethereum.org/docs/dapp/trac

[2020-12-30 09:08] anngdev commented on #22039
Hi @ligi
Can you please send 18 ethers to 0x817a65Ee3e20eB5500e814f4D7aD47D2ac9b1f62, many thanks 👍

[2020-12-30 09:09] MariusVanDerWijden commented on #22091
You can just set reexec to 10.000
[code]

[2020-12-30 09:11] kurochkagril commented on #21166
pls send me 0.1 eth 0xEbB166E1E8c3b4e9c51E4463Cbf5C59A5899DAB8

[2020-12-30 10:06] forencen commented on #22091
thank you for your help

when I sent this request:
[code]
Every time I request, the server takes a long time to process.

But I need a lot of blocks trace information

everytime I use this request, I have to wait a long time. Isn't there a global configuration to replace 128?

[2020-12-30 10:07] tanqiangyes commented on #21166
Hi, @ligi
Please send me 18.75 ETH for the testnet Rinkeby 0xb03eB40add8f80472804eA658D7B18585d0Ae737
Because it's still not working...

Thank u very much!

[2020-12-30 10:19] holiman commented on #22091
Unfortunately not. This is not a trivial problem to solve -- in order to keep 10K untouched, it requires us to keep 10K states in memory -- because the pruner is in-memory, and thus in order to do _any_ pruning, we'd have to keep 10K+ states in memory.
So, that probably won't work. And as long as we only have in-memory pruning and no disk-based pruning, the methods to achieve what you want is eith

[2020-12-30 10:19] #22091 closed

[2020-12-30 10:23] z280723809 commented on #21166
Hi,@ligi
 I also need 5 ETH for the testnet Rinkeby 0xdcd6da2575fF04b363A6467d568e965F777d40E0

Thank u very much!

[2020-12-30 10:42] navy1125 commented on #22031
0x95b194fa00e6EC9a35b1b483f404b6CA89603380

thank you!

[2020-12-30 11:39] ligi commented on #22084
now the node is in the state again - for hours not syncing - I see some of the 500 error parts in this log - but may not be the root cause.  It seems stuck at revalidating nodes:

[code]

wonder if `--maxpeers 5` plays a role here.

[2020-12-30 12:10] #22049 closed

[2020-12-30 13:00] blancoms commented on #22039
Hello @ligi
Can you please send me 10 eth to 0x3723d553A8CD196B704A35f6AA37d1C0A8330EDC ?
Thanks!

[2020-12-30 13:34] okuma10 commented on #22090
I'm having the same issue for few days now.
I'm trying to get some ETH but the faucet keeps saying that there is no ETH address in the link. I tried with the twitter template from the faucet, as well as having only my ETH address in the tweet. Both gave error that there is no ETH address to send the test ETH to.

[2020-12-30 14:22] soulremover commented on #22072
0xCB3b1e1BBECeC51dfeAca6B2E935171Dd75c28fF
Can you please add me some ETH for testing purposes ?
Thanks a lot in advance

[2020-12-30 14:46] YpsilonOmega commented on #22043
The problem was the SSD.
I used an Intenso 1TB external SSD Premium (https://www.intenso.de/en/products/solid-state-drives/external-SSD-premium).
Somehow the Raspberry has got problems with it, while it seems to run on my PC.

Now I'm using a Samsung T5 (https://www.samsung.com/uk/memory-storage/portable-ssd/portable-ssd-t5-1tb-black-mu-pa1t0b-eu/)
Everything is working completely fine.
I don't ha

[2020-12-30 14:46] #22043 closed

[2020-12-30 15:30] malbecAr commented on #22031
@ligi 10 eth please
0xcC4768Dfaae25224103A4801dED30787b74Ec28d

THANK YOU!

[2020-12-30 16:04] monkeyden commented on #22072
An alternative, if you don't already have too much running on Rinkeby, is to use Ropsten.  This faucet worked for me this morning.
[https://faucet.dimensions.network/](https://faucet.dimensions.network/)

[2020-12-30 16:19] aloisius82 commented on #22031
please send me 20 eth 0xD5fB11a7655D0095fE9E090c205C91a8f0CDef47
thanks

[2020-12-30 17:21] AlonBuchs commented on #22039
@ligi First of all, I am so so grateful that you have decided to help and for all that you have sent.
I wish there were more people here who could help as you do.

I'm asking now for something on behalf of my lecturer who is teaching in multiple academic institutions and he needs 30 Rinkeby ETH by tomorrow... and he does not know what to do...
This is his address:
0xbf87F523896Ef97af2818Dd5Ea524Fb

[2020-12-30 17:22] loks2cool commented on #22039
Hi @ligi - can you please send me 2 to 3 eth to this address 0x26179D6E44C9150C110d306afb18137C404d7eBC

thanks

[2020-12-30 22:35] okuma10 commented on #22072
Following a tutorial and the faucet does not work.
0xB4F49a489519b3ADee909dA0F5323b915fF47Dc9

[2020-12-30 22:44] ganmaf commented on #22072
0xB4F49a489519b3ADee909dA0F5323b915fF47Dc9

[2020-12-30 23:48] SvyatoslavLiven commented on #22031
5 ETH  please)
0x696CC718d80fDd2eC8e2CE0b29cFcEA4c16d9496

Thank you!!))

[2020-12-31 00:44] cristocer commented on #22031
@ligi 15 eth would be nice please
0x66353521A464345BE1AdCd74A25D686981a359c6

Thank you!

[2020-12-31 02:58] LeTranMinhQuoc commented on #21166
Hi,
I need 15 Rinkeby ETH for testing,could you pleses send me at 0x0ec104399A639e14d0c5f3d97c6F4A519663f646

Thank u so much!!!

[2020-12-31 03:14] k1jason2082 commented on #22031
@ligiCan you send me 10 ETh please 0xa531DF3729d02242f10B5F9934C81dEEafa98e7a
Thanks

Sent from Yahoo Mail for iPhone

On Wednesday, December 30, 2020, 11:31 PM, malbecAr <notifications@github.com> wrote:

@ligi 10 eth please
0xcC4768Dfaae25224103A4801dED30787b74Ec28d

THANK YOU!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, o

[2020-12-31 03:34] vae520283995 opened #22093 "eth_sendRawTransaction return already known"
#### System information

Geth version: `Geth/v1.9.23-stable-8c2f2715`
OS & Version: Linux
Commit hash : stable-8c2f2715

#### Expected behaviour
Broadcast normally returns txhash

#### Actual behaviour
return already known

#### Steps to reproduce the behaviour
Unable to reproduce, appeared once

#### Backtrace

[code]

[2020-12-31 04:12] clifton commented on #21166
im also trying to get this to work for ethernaut thx -- 0xF9bF754c92dC813301bc2bc014d2015fc86b980A

[2020-12-31 05:21] k1jason2082 opened #22094 "ETh"
# Rationale

Why should this feature exist?
What are the use-cases?

# Implementation

Do you have ideas regarding the implementation of this feature?
Are you willing to implement this feature?

[2020-12-31 05:39] k1jason2082 opened #22095 "ETH SMART CONTACT"
const assert = require('assert')
const Web3Utils = require('web3-utils')
const env = require('../loadEnv')

const { deployContract, privateKeyToAddress, sendRawTxForeign } = require('../deploymentUtils')
const { web3Foreign, deploymentPrivateKey, FOREIGN_RPC_URL } = require('../web3')

const ERC677BridgeToken = require('../../../build/contracts/ERC677BridgeToken.json')
const EternalStorageProxy =

[2020-12-31 05:42] k1jason2082 commented on #22095
- @k1jason2082

[2020-12-31 05:42] k1jason2082 opened #22096 "ETH smart contact"
- @k1jason2082

__Originally posted by @k1jason2082 in https://github.com/ethereum/go-ethereum/issues/22095#issuecomment-752851894__

[2020-12-31 05:54] #22095 closed

[2020-12-31 07:46] thelastjosh commented on #22031
@ligi Same issue. 10 ETH please!
0x356bd1169A2b94B5a3C9D9F356FA5D35E584A521

Thank you!!!

[2020-12-31 08:12] xiaoxiaoleo commented on #21166
Hi,@ligi
I also need 15 ETH for the testnet Rinkeby 0x146a4ee57464b1F241c6d5F6b0ee45A9FAB98307

Thank u very much!

[2020-12-31 08:18] #22094 closed

[2020-12-31 08:20] zonghai-li commented on #21166
15eth   Rinkeby  0x7913AcB42289768FCf6817B006842D0c66f4682B   Appreciate that!

[2020-12-31 08:21] MariusVanDerWijden commented on #22096
@k1jason2082 I don't know what this should means. Do you have any questions regarding go-ethereum?
It seems to be a smart contract and javascript code to deploy it. I don't think it has anything to do with geth.

[2020-12-31 08:21] #22096 closed

[2020-12-31 08:25] k1jason2082 commented on #22096
@MariusVanDerWijden , sorry about that, haha, just know my wife to get my phone to wrong put any comments. Sorry about.

[2020-12-31 08:30] MariusVanDerWijden commented on #22093
This error is returned if a transaction was already in the mempool. It has to be the exact same transaction, because it is compared by txHash. So there are two possibilities: you either submitted the same rawTransaction twice (maybe because there was a reorg right before it) or there's  a slight race and the rawTransaction was internally handled twice. Since it appeared only once and is not reprod

[2020-12-31 09:22] vae520283995 commented on #22093
Thank you for your answer, I am sure I only broadcast once, and I only have this situation once, which cannot be reproduced

[2020-12-31 10:10] millileakz commented on #22031
same issues - if anyone has some eth to Rinkeby ETh to spare for test i will appreciate this :)

0x7058823b0F892aab83E4841c39a5Cef4f1AB962B

[2020-12-31 10:29] DmytroNazarenko commented on #22039
Hi @ligi ! Could you please send me 10 eth to 0x7A75a57b881bAc94b0987D276e2A568Eb798Ba84 ?
Thanks!

[2020-12-31 10:43] einfach-edel commented on #22031
same issue - I created my first account, shared my EOA via Facebook and Twitter. Entered the link on https://faucet.rinkeby.io/ and got the error message "No Eth address found to fund".

Can someone send me 1 Rinkeby Eth to
0xF5aa9a685fCc792C1E616803B57a8c0F1015e0f1

[2020-12-31 13:45] krasi-georgiev opened #22097 "Add an option to disable locking so that it can be used as a deployment i k8s"
## Why should this feature exist?
To allow using geth in kubernetes
In k8s a deployment rollout creates a second container before deleting the original one so with the file locking this is no possible as the second container can't start. I know that allowing more then a single app to write to the same data folder is dangerous and might lead to corruptions, but with k8s that is the only way AFAIC

[2020-12-31 14:09] ttakumat commented on #22031
Hi. same issue here.
I'd really appreciate if someone can fund 1 eth to
0x348c0a7a93F86E451971DFC89D2A74519bBaEBfd
Thanks.

[2020-12-31 14:38] JohnattanD88 commented on #21166
dear all, if there is someone among u who still has some ETH to spare (I literary need 1 ETH - I just started with Dapps and still learning)... anyway I would appreciate if someone could help me out here... thx in advance!

0xe48A001eDB1F0ef962669CD7aB58aE67fb2d342f

[2020-12-31 15:03] #21915 closed

[2020-12-31 15:30] JeanGalt1957 commented on #21166
I recommend the Ropsten network - the facet works fine!

[2020-12-31 15:51] rajinder712 commented on #21166
hi @ligi please send me 15 ethers. ineed urgent

[2020-12-31 16:11] JeanGalt1957 commented on #21166
@gtrrz-victor  glad it helped! I’m doing the same thing :)

[2020-12-31 17:13] mimigon commented on #21166
hello,@ligi
I need 3eth for the testnet Rinkeby 0x7F5687ED5e026f601d1D8Ba7301C8C0f6430Df7b

Thank u very much!

[2020-12-31 18:17] helderribeirosousa commented on #22039
Hello, I'm giving a class on Ethereum Dapps in a few days and I need some ether to transfer into the students' accounts so they can try some smart-contracts on the Rinkeby Test network.

Since the faucet is not working, could someone please transfer 10ETH to `0x0Ffa0373899e678D54811569E1D1D7beBa30efEC`?

[2020-12-31 18:31] helderribeirosousa commented on #22072
Hello, I'm giving a class on Ethereum Dapps in a few days and I need some ether to transfer into the students' accounts so they can try some smart-contracts on the Rinkeby Test network.

Since the faucet is not working, could someone please transfer 10ETH to 0x0Ffa0373899e678D54811569E1D1D7beBa30efEC?

[2020-12-31 18:52] DGKSK8LIFE commented on #22085
Agreed. geth is a command line client.

[2020-12-31 19:32] iAmShakil commented on #21166
Need 5 ETH for development 0x6ABce4D8fB88d8Fbb4b23D8d2De24172dB8640F9

[2020-12-31 19:54] raohammad commented on #22097
I am running geth based full node in K8s without problems. Probably I
didn't have that scenario yet? What can I do to create failure scenario?

Thanks,

On Thu, 31 Dec 2020, 14:46 Krasimir Georgiev, <notifications@github.com>
wrote:

[2020-12-31 21:30] SirLemuel commented on #21166
Attention: Ringeby is likely to be down for some time, I've tried for a few days now. Use the Ropsten network @ https://faucet.ropsten.be/

[2020-12-31 21:50] k1jason2082 commented on #22031
@ligi Please help me...,My address is 0x0bd5A2E73576Dc3eE3820d05A5985897A2D45B81, 10 ETH(Rinkeby) to this account would be great.Thank you~

[2020-12-31 22:49] lordkayag commented on #22031
Having same issue.
Please send 5 eth rinkeby to 0x43A0033408C2bCc86102385F1A4FcB37bABFe8f8

[2020-12-31 23:34] MariusVanDerWijden commented on #22085
I'm closing this issue, geth is supposed to be a cli client. Creating a gui to start geth (and set parameters and stuff) would be a great hackathon project. If someone wants to pick it up, I would be happy to help

[2020-12-31 23:34] #22085 closed

[2020-12-31 23:42] MariusVanDerWijden commented on #22097
Disabling the locking for the data directory can be dangerous. It would mean that two different processes would be able to write and change files that are currently in use by the other process. I don't think it would be possible to allow this with the way geth uses the datadir. There are some tutorials that use geth inside kubernetes without a problem e.g. https://messari.io/article/running-an-eth

[2021-01-01 00:59] Code0x2 commented on #19181
same this is still happening to me in 1.9.25

[2021-01-01 03:37] noahc66260 commented on #22031
Me too.
Please send 3 ETH rinkeby to 0x71849D7a22890f60C6D6BE83E2E48cdB4A24CEA7
Post: https://twitter.com/devilscompiler/status/1344848283626180609

[2021-01-01 05:21] z330789559 commented on #22031
me too
Please send 18ETH rinkeby to 0x896267e34bD86ecc9478333F412705235Fc66E4a
https://twitter.com/al84628047/status/1343894099783372801?s=20

[2021-01-01 06:13] gio5151 commented on #21166
@ligi Hi, please send 3 ETH at (Thank you)

0x870cE981DDc757f25E5B069f0cDa7ea65946c75e

[2021-01-01 08:01] krasi-georgiev commented on #22097
Thanks, for the link my manifests are almost identical. The problem is when do rolling updates.
For example if you change anything in the manifest file and do
[code]
What happens in the background is that k8s will schedule a new pod with the same data directory but because of the LOCK file this new pod can't start so k8s will never delete the old one.

Like I said I understand it is dangerous, but

[2021-01-01 08:01] #22097 closed

[2021-01-01 08:49] TennisBowling commented on #22078
my use case is to mine trasactions while paying 0 gas fee. propagating isn't the concern, its forcing geth to mine it.

[2021-01-01 09:18] z330789559 commented on #22039
@ligi
please give 10 rinkeby eth to  0xDF255110565ffF30cB72dfd4b372Ce2C4b1fd32a, very very thanks!

[2021-01-01 11:15] krasi-georgiev opened #22098 "Deploying to Simulated backend with bytecode from etherscan results in error: `execution reverted`"
#### System information

Geth version: 0a3993c55861
OS & Version: Linux

abigen : 0a3993c55861

Trying to run some tests against this contract https://etherscan.io/address/0xf7914ebf0f021adaf95114b068502d0c7d107bc9#code

I downloaded the bytecode `608060405234801.....` and the abi `[{"constant":false,"inputs":[{"in....`
generated the binding using
[code]

and when trying to deploy with the code be

[2021-01-01 11:19] testacc-a11y commented on #22072
Can you please send 18.75 ETH to 0xe1783E2BF6e49fEB6e6C433B8c3295A0DC278eD9? Thanks in advance.

[2021-01-01 12:42] dvdsm commented on #21375
Can someone please transfer some ETH to this address?
0x965eE3C36a6C7D512142949351a2372FFB96221E
Thank you!

[2021-01-01 12:44] dvdsm commented on #22090
Can't get any ETH from the Rinkeby Faucet. Can someone please send some to 0x965eE3C36a6C7D512142949351a2372FFB96221E
Thanks!

[2021-01-01 13:37] gillerg8 commented on #22039
Hey @ligi, can you send 10 rinkeby eth over to 0x746e159149EfED9730C55bCCAa0E2C9B80f2B274 when you get the chance? Thanks!!

[2021-01-01 14:51] MTHCH commented on #22039
Hi @ligi

I would appreciate it if you could help me out as well with 10 ETH.
My address is: 0xef4556573101Ea830474993497DbA23210B608A6

[2021-01-01 15:05] vnavascues commented on #22031
Hi, can I get 18 ETH at 0x5E1e93B6D25690B7A26d70468f81d5b6441885c4? Many thanks
https://twitter.com/vnavascues1/status/1345022515408756745

[2021-01-01 18:10] nuliknol commented on #16218
I am glad that 2 and half years later, you finally understood what I have said. As I am reading Geth 1.9 release notes and it says:

There is still a lot of room to improve performance of trie storage starting from the design.

[2021-01-01 18:17] Kronoxis commented on #22031
We're planning on doing some extensive testing with 4 devs tomorrow, so I could use some more ETH to distribute among my team. Can you send 16-20 ETH to the following address?
0x57b2D27191d80afDb520AD07AD407C2a99B34127
Thanks!

[2021-01-01 20:17] lucagrossi commented on #21166
Hi can you send 5 Eth to 0xe3Ba28D6734dE86839BBe8B922233806C73C98bE.
thanks a lot!

[2021-01-01 21:04] bonedaddy opened #22100 "Generated Code From ABIGen May Panic Due To Unchecked Error Condition"
#### System information

abigen version: `abigen version 1.9.23-stable-8c2f2715`

#### Generated Code

The following generated code is from running `abigen` against the Uniswap V2Pair contracts:

[code]

In the case where `err := _Uniswapv2pair.contract.Call(opts, &out, "getReserves")` results in `err` actually containing an error then the following will cause a panic because `out` will have no el

[2021-01-01 21:33] Code0x2 opened #22101 "limit number of inbound syncing peers"
Geth should have a feature (i.e. cli flag) that will restrict the amount of inbound syncing peers that the node will serve data to. This should be an option to effectively be able to connect to lots of peers on Geth, but reducing network out bandwidth. Useful if the node is hosted on a hosting provider (such as AWS) that charges additional funds for outbound data.

[2021-01-01 22:36] R4HMATT commented on #22039
Hi @ligi could you please 18.75 ether to 0x9666d7d35081d26541a404bc056b7f94d7c3faB2

Thanks in advance!

[2021-01-01 23:38] bnestars commented on #22072
Could you pleas send 15 ETH to 0xAe57603429faF930887122AdB87378a42067B373 ? Thanks.

[2021-01-02 01:37] atrana opened #22102 "Error: invalid mix digest"
Hoping can get some help on this issue:
Geth
Version: 1.9.13-stable
Architecture: amd64
Protocol Versions: [65 64 63]
Go Version: go1.13.4
Operating System: linux

Running private network with 2 nodes on AWS servers - One region went down, when I try to bring it up get error :

Error: invalid mix digest
##############################

WARN [01-02|12:32:27.063] Synchronisation failed, dropping peer

[2021-01-02 03:59] Kantitad commented on #22072
2564-01-02 6:38 GMT+07:00, bnestars <notifications@github.com>:

[2021-01-02 08:42] jcswapper commented on #21166
Hi @ligi ,could you pleses send 8 ETH to address 0xB23FaFfF64E0670E8E72a2B522e5e63e7d83940e Thank u very much!

[2021-01-02 08:52] barracuda7777 commented on #21166
Hello, Can you send 8 ETH to my address please?

0xc35B0C09a86F003EdccACD0c6a3fF41194fE26fd

Thank you for the help!

[2021-01-02 08:55] nikolavranic commented on #21166
Hello @ligi can you please send 8 EHT to address: 0xFeD3b599698bDf8f70495F6F85a1f5457f1eeA41 Thank you!

[2021-01-02 08:57] jcswapper commented on #22039
Hi @ligi could you please 8 ether to 0xB23FaFfF64E0670E8E72a2B522e5e63e7d83940e

Thanks in advance!

[2021-01-02 09:09] alexxxmf commented on #22039
Hey @ligi could you please send 2/3 eth to this one: 0x052F3a044e841326a59F17E0abba598F0c35c0DB. Trying to go through ethernaut levels but noticed faucet was not working for me. Thanks in advance buddy!

[2021-01-02 09:33] jcswapper commented on #21375
@billpottle please could you send me 3 Rinkeby ETH 0xB23FaFfF64E0670E8E72a2B522e5e63e7d83940e ? Thank you !

[2021-01-02 11:19] paul-arssov commented on #16218
Hi,

Thank you for the update.
As a system level 'C' programmer I dislike 'popular' languages like go,
and the packaged 'goods' with it.
As the design of the block does not change there is probably no need to
use a standard database in the first place.

Happy New Year!

Paul.

On 2021-01-01 8:11 p.m., nuliknol wrote:

[2021-01-02 13:39] foravneet commented on #22031
2-3 ETH at this address will help. Thanks ! - 0x1600431bD009a0EEb62247a429dE609b9E0014B5

[2021-01-02 18:07] MariusVanDerWijden commented on #22100
It's already been fixed on master: https://github.com/ethereum/go-ethereum/commit/38c1d592b7121f26dc661c1bc2bf0e32eba9d888

[2021-01-02 18:07] #22100 closed

[2021-01-02 18:15] MariusVanDerWijden commented on #22101
You can limit the number of syncing peers by limiting the number of max peers (using the `--maxPeers` flag)
I think implementing such a feature would severely weaken the network since it creates the incentive to never allow anyone to sync off of your node.

[2021-01-02 18:18] erhenglu commented on #21166
Hi @ligi, Can you send 8 ETH to address 0xE3f7580315DC100C2B64731c1868A742D77d1d23   Thank you

[2021-01-02 19:41] sonish777 commented on #21166
Hi everyone, just letting everyone know that the Rinkeby faucet now seems to be working.
I used facebook post option and it worked just fine! Please check it out. Happy Coding !!!!!!!!!!!

[2021-01-02 20:01] elsampsa commented on #21825
I had the same problem.  Updated to 1.9.24, cleared ethhas & restarted.  Seems to work now.

[2021-01-02 20:07] bonedaddy commented on #22100
Thanks this appears to have fixed the problem

[2021-01-02 20:14] carthorian commented on #21166
Hi @sonish777 ,
I've just tried vie Twitter but didn't work.

Hi @ligi,
Can you send 8 ETH to address 0x4D4351EB699a85eb3B68cB0E26B36174dDCC2237 ?
Thank you.

[2021-01-02 22:55] GuillemRX commented on #22039
Hey @ligi could you please send me 2ETH to my address: 0xE4d71181350FFe442AeC9B28ed60245dDe8Fcf4b need them to test my dapp. Really apreciated.

[2021-01-02 23:32] ligi commented on #22039
@GuillemRX done
@alexxxmf done
@jcswapper done
@R4HMATT done
@MTHCH done
@gillerg8 done
@z330789559 done
@helderribeirosousa done
@DmytroNazarenko done
@loks2cool done
@AlonBuchs done
@blancoms done
@anngdev done
@raghavddps2 done
@AdemHodzic done
@sljfalewjlkf done
@mejimwamba done
@arun-ddc done
@hussamBim done

[2021-01-02 23:35] ligi commented on #22090
@ph0ly @dvdsm you both have rinkeby eth now

[2021-01-02 23:40] ligi commented on #22090
closing as duplicate of #22062

[2021-01-02 23:42] DGKSK8LIFE commented on #22090
please do @ligi

[2021-01-02 23:43] #22090 closed

[2021-01-03 00:01] DGKSK8LIFE commented on #22090
thanks

[2021-01-03 04:33] Ezparga commented on #22031
Just found this thread, we're urgently needing to carry out some testing and the faucet isn't working

Please could you send 15 ETH to:

0xC20fabA9c8cc4E4Dfa059D8F7B39A6Eb17F34eDb

Thank you!

[2021-01-03 04:56] luongs3 commented on #22031
Please 15 ETH to 0x91878ec5288E944fD4A357022d60DbE9Ab49c46f
I really need it now to test my product

[2021-01-03 04:57] luongs3 commented on #22039
Please 15 ETH to 0x91878ec5288E944fD4A357022d60DbE9Ab49c46f
I really need it now to test my product
@ligi

[2021-01-03 05:11] DGKSK8LIFE commented on #22031
scam or not?

[2021-01-03 06:03] ttakumat commented on #22039
@ligi
Hi. I need some help too.
Can you send me 4 Eth to 0x348c0a7a93F86E451971DFC89D2A74519bBaEBfd.
Thanks for the help!

[2021-01-03 07:34] Code0x2 commented on #22101
This will limit the number of synced peers that the node is connected to, which might work. Ill give it a try and check my data transfer costs after and see if they get reduced.

[2021-01-03 07:34] #22101 closed

[2021-01-03 08:37] abramsymons commented on #18402
It seems the rinkeby network was stopped working for more than an hour 3 times in only one month:

time | block | stop time in minutes
-- | -- | --
12/28/2020, 09:28:25 AM | 7797794 | 771
12/02/2020, 07:04:35 AM | 7648430 | 101
11/30/2020, 02:47:51 PM | 7639067 | 64

Are rinkeby down times related to this issue?

[2021-01-03 09:35] abramsymons commented on #18402
To reproduce deadlock:

- Run a network with 5 sealers and stop one of them to have 4 sealers active
- Use 1 second as block time
- Rebuild `geth` by setting [wiggleTime](https://github.com/ethereum/go-ethereum/blob/master/consensus/clique/clique.go#L52) from 500 milliseconds to 1 millisecond to increase racing conditions

With such a configuration, you should have 2-3 deadlocks each hour.

[2021-01-03 10:26] abramsymons commented on #18402
We experienced such deadlocks on [IDChain](https://github.com/BrightID/IDChain/wiki) and solved the issue by running a [deadlock resolver script](https://github.com/BrightID/IDChain/blob/release/1.9/deadlock_resolver.py) that monitor the node and if chain stopped, uses `debug.setHead` to return the node state to `n/2+1` blocks ago where `n` is the number of sealers. The only disadvantage of using

[2021-01-03 13:10] ligi commented on #22102
Please provide more information. E.g. what do you mean with "One region went down," - did geth have an unclean shutdown?

[2021-01-03 13:15] ligi commented on #22093
Which is the code that sends the transactions? Are you sure the bug is not in there that executed a tx twice?

[2021-01-03 13:18] vae520283995 commented on #22093
Use web3j eth_sendRawTransaction,  Not executed twice

[2021-01-03 14:32] monkeyden commented on #22072
Just noticed I received 5ETH 16hrs ago.  Back to dev and testing.  Thank you to whomever is responsible.

[2021-01-03 14:34] formulatrout commented on #21166
Neither twitter or Facebook works for me.

Requesting faucet funds into 0x9d868d2900e3df96e5A7938bfab8B89Aa6B9dB09 on the #Rinkeby #Ethereum test network.

[2021-01-03 15:09] Strangey commented on #22039
Aaaand one more in line: 15 ETH to 0x5360E76F8c77650dd1035FA6234D0b44FA7C9299 please.

Thank you very much! 🙏

[2021-01-03 15:14] javimogan commented on #22039
Hey @ligi could you please send me 7.5ETH to my address: 0x66c9C91cee9fA27C2cC169B13e2Ef4e62B466214 need them to test my dapp. Really apreciated.
My tweet:
https://twitter.com/javimogan/status/1345749419870871556?s=20

[2021-01-03 18:12] oanatudor-umc commented on #21166
Twitter or Facebook posts do not work for me in the Rinkeby Faucet.
If @ligi can still help (much appreciated), I would need about 4 ETH to get going on the Rinkeby Ethereum test network. Address is 0x96DF371cd4Abe23083c29c62272EF5E635548784

[2021-01-03 21:04] RickyyValdez commented on #22039
Hi @ligi could you please send 3 ether to 0xd57792d1b5AB27bA25Aab34f7d3699F34CB2777A

Thank you!

[2021-01-03 23:24] setragk commented on #22031
Can someone please send 10 ether to 0xB3D8C850aD1f50CF5863600b3F49c1AC068400e4

[2021-01-03 23:34] atrana commented on #22102
Yes there was an unclean shutdown - the EC2 instance terminated.

[2021-01-03 23:36] ligi commented on #22102
Unfortunately you will most likely need to resync then

[2021-01-03 23:39] atrana commented on #22102
I am happy to resync, but when I do it stops with the message "invalid chain data" - I tried, full, fast, light, export, import - the second node just does not want to sync

[2021-01-03 23:40] ligi commented on #22102
So you deleted the data-dir and it still does not want to sync?

[2021-01-03 23:42] atrana commented on #22102
yes correct - completely started the second node from geth init genesis.json - was syncing fine and then hits this error

[2021-01-03 23:43] atrana commented on #22102
the other node (the only one) is working fine - mining and verifying

[2021-01-03 23:47] ligi commented on #22102
did you *delete* the data dir?
Seems something is wrong with your cache - I think init does not delete it. Also do you use ```--ethash.cachedir or --ethash.dagdir``` ?
Ideally specify all your CLI arguments

[2021-01-03 23:49] atrana commented on #22102
yes I deleted the data dir. full cli

nohup geth --datadir ./datadir --keystore ./keystore --networkid=88888001 --nodiscover --syncmode=full --maxpeers 3 --nousb --verbosity 3 --cache=2048 --ethash.dagdir=./.ethash &

[2021-01-03 23:51] ligi commented on #22102
can you remove ```--ethash.dagdir=./.ethash``` and see if it works then?

[2021-01-04 00:00] alex347 commented on #20965
Please review a new implementation: #22103

[2021-01-04 00:36] miroman86 commented on #22039
Hi, can I have some Rinkeby too? 0x4413678a270863455DF24570348743813720121a

Not entirely sure how much I need, I'm trying to use Ethernauts here: https://ethernaut.openzeppelin.com/

Maybe 10 will do, but more would be much appreciated. Thank you!

[2021-01-04 00:50] atrana commented on #22102
is it safe to delete the dagdir ? I only have one node running now with production smart contracts - cannot afford to corrupt this

[2021-01-04 00:57] DGKSK8LIFE commented on #22102
@atrana make a test environment for your node

[2021-01-04 00:58] atrana commented on #22102
actually just did it now - removed the dagdir and restarted... looking ok so far

[2021-01-04 01:03] DGKSK8LIFE commented on #22102
ok cool. Best of luck! @atrana

[2021-01-04 03:56] SmartyPants042 commented on #22039
@ligi I'm trying out solidity exploits on `ethernaut`, and would appreciate 15 ether here: `0x88f3B74d0861fE54DeE511580fC267bcEc5f9E3c`.

[2021-01-04 04:02] atrana commented on #22102
it started and regenerated the DAGS fine and individually the node is working, but as soon as I add a peer and start syncing I get the error:
INFO [01-04|15:00:02.345] Looking for peers                        peercount=0 tried=1 static=1
ERROR[01-04|15:00:02.549]
########## BAD BLOCK #########
Chain config: {ChainID: 20082010 Homestead: 0 DAO: <nil> DAOSupport: false EIP150: 0 EIP155: 0 EIP158: 0

[2021-01-04 04:08] Kholo747 commented on #22039
Hi @ligi can I please have 3 eth. I want test out some non fungible tokens. Please send here 0xE1Df12782B5387E27e7F344b82599CE39834b755

[2021-01-04 05:13] luckhoi56 commented on #21166
0x67E4b1172B64b8D04B72eD2BD05473003969F8E0
can i get 5 eth please

[2021-01-04 05:18] masoodamodak commented on #21166
Hi,@ligi
I also need 15 ETH for the testnet Rinkeby 0xdf2Cd225177E96C3426F761146ab2FC7EF1966Cf

Thank u very much!

[2021-01-04 05:20] masoodamodak commented on #22072
Hi @ligi, please send 15 ETH to address 0xdf2Cd225177E96C3426F761146ab2FC7EF1966Cf
Thank you!

[2021-01-04 06:18] hussamBim commented on #22039
@ligi  Thanks for sending faucets

[2021-01-04 06:51] Philipid3s commented on #21166
HI @ligi
I will need 5 ETH for the testnet Rinkeby 0xA7236a1aD6EA72649EDdB0045501ae92AD61d0Cb

Many thanks in advance !

[2021-01-04 07:46] igal94 commented on #22039
Hi @ligi can i have some rinkeby eth please? i need it to learn solidity.
0x433b51f2AB61dAA64806EF6e9926E7Dd9F55c49E

[2021-01-04 08:09] IoT-master commented on #21375
Can I get 18.75 Rinkeby ETH? 0x6b0eee108783fF52Ff2c3477f99C0DE4Df76a4DD Thanks in Advance

[2021-01-04 08:36] holiman commented on #22102
I would recommend doing a disk-check. I suspect that the DAG data is corrupt, and since it got corrupt again it seems likely that it's due to a disk issue.
We could also verify this, if you do a `shasum` of the files in the dagdir / cachedir, and we could compare against the correct version.

[2021-01-04 08:38] holiman commented on #22102
Oh wait -- what engine are you using? I can't believe you ran `ethash` for `12122670` blocks?

[2021-01-04 08:41] holiman commented on #22102
Also, `1.9.13` suffers from a bug in mining ethash: https://github.com/ethereum/go-ethereum/security/advisories/GHSA-v592-xf75-856p . If you're at block `12M`, you would definitely hit it.

[2021-01-04 08:56] jcortejoso commented on #22039
Hi @ligi could you please 18 ether to 0xd449DB2DAba9388266B78B5D40a4c40D72de36d0.

Thanks in advance!

[2021-01-04 09:28] yuancdata commented on #22039
Hi @ligi,
Hope you're well, Happy New Year!!
Can you please send 10ETH to 0x7303b6940251471183E8354748B9EC2D5bcC5f73

Cheers :)

[2021-01-04 09:53] karalabe commented on #21375
Hey all, the upstream faucet is back online https://faucet.rinkeby.io/

Sorry about the downtime, Twitter decommissioned their old site that we used to fetch tweets from and needed to switch over to an API workflow, which is a bit more work than we wanted to put in during xmas. Should be fine now, please ping if there's still some issue.

[2021-01-04 09:54] karalabe commented on #21166
Hey all, the upstream faucet is back online https://faucet.rinkeby.io/

Sorry about the downtime, Twitter decommissioned their old site that we used to fetch tweets from and needed to switch over to an API workflow, which is a bit more work than we wanted to put in during xmas. Should be fine now, please ping if there's still some issue.

[2021-01-04 11:11] krasi-georgiev opened #22106 "Error macthing doesn't work with the `jsonrpcMessage` and `func (c *BoundContract) Transact`"
#### System information
OS & Version: Linux
Commit hash : current master - f83fc302a504

I have some generated bindings and calling `func (c *BoundContract) Transact` returns an error
[code]

Now the caller needs to match this against the `core.ErrNonceTooLow` , but since it is wrapped in `jsonError` this is not possible.

The end goal is to be able to use something like
[code]

I think the soluti

[2021-01-04 11:18] MariusVanDerWijden commented on #22098
I tried to replicate by generating the binding directly from the solidity which works fine.
Just copied the sol from https://etherscan.io/address/0xf7914ebf0f021adaf95114b068502d0c7d107bc9#code (copy source code to clipboard) into a file and called abigen as follows: `abigen --pkg geth --sol contract.sol --out contract.go --solc ./solc-static-linux-5-16` I then ran both your and deployment code an

[2021-01-04 11:25] elvisgiv commented on #22039
Hi can I also get 100 eth on rinkeby?
need for testing a lot of transaction
0x654711a195994919004BA66b29ee9CAEcb428F75 Thank you!

[2021-01-04 11:26] MariusVanDerWijden commented on #22098
Hmm no, it works for me even with the way you build your binding...
[code]

[2021-01-04 11:29] MariusVanDerWijden commented on #22098
My repro code is here btw: https://github.com/MariusVanDerWijden/go-snippets/tree/master/contract_repro

[2021-01-04 11:30] krasi-georgiev commented on #22098
Thanks, I will look into it shortly.

[2021-01-04 11:44] MariusVanDerWijden commented on #22106
Unfortunately it is not as easy as exposing the `Is` method on `jsonError` since the `jsonError` object does not have the error information. It only contains the error message not the actual error object. Since the `jsonError` has to be send over the wire it has to be marshaled into json. This will afaik result in loosing the error field if we were to put a raw `Error error` field into the `jsonEr

[2021-01-04 12:28] krasi-georgiev commented on #22106
Yep, got it thanks for the update, matching by code is a good start. Can we maybe add this first for some common errors?

[2021-01-04 12:50] DGKSK8LIFE commented on #21375
this ^

[2021-01-04 13:17] atrana commented on #22102
We currently run 2 nodes on a private network - one of them is also constantly mining, is there another way to ensure transactions and smart contracts are updated on demand ?

[2021-01-04 13:29] holiman commented on #22102
Normally people use `clique` proof-of-authority networks, instead of ethash proof-of-work mining.

[2021-01-04 13:30] holiman commented on #22102
It may well be that the mining-node hit the 4gb threshold quite some whle ago, and has mined "bad blocks" for a while now.. Which means that you're in a pretty bad situation, basically. Either you need to keep the mining-bug in there, or throw away a few million blocks...

[2021-01-04 13:34] atrana commented on #22102
I think this error has been around since 23 Dec. I can see in the logs that the peer was dropped back then. We didn't pick up on the problem until 1st Jan (peeps being away on holidays)

I am happy to rewind back a few million blocks - how to do that ?

[2021-01-04 13:36] parabellumdev commented on #22039
Hey can anyone send 1ETH to 0xd45053291F4BB3e3462E379F3a9daF472f7cEe4e

[2021-01-04 14:05] atrana commented on #22102
I have just been reading more on PoA networks and I think this suits us better, as our network has no value but requires proof of transactions. I think when we started this nearly 2 years ago clique was not available in geth (or maybe we overlooked it). Is there any way to migrate from PoW to PoA ?

[2021-01-04 14:10] holiman commented on #22102
No, there's no way to migrate, you'd have to start over from scratch. That said, it's possible to populate the genesis alloc with arbitrary state: balances, code and storage.

[2021-01-04 14:11] DGKSK8LIFE commented on #22102
Sounds like you'd have to rewrite your code for that.

[2021-01-04 14:23] atrana commented on #22102
We might bring up a clique network for all new customers (we are a small fintech startup) and slowly migrate existing customers over. But for now, coming back to above question - how to throw away the "bad blocks" so that I can upgrade to ver 1.9.24 and start mining and syncing again ?

[2021-01-04 14:56] holiman commented on #22102
A full-sync will verify every header, and get stuck on the first bad one. A fast-sync will not verify the PoW on every header, so it might "land" somewhere after a bad block.
So first of all, you need to figure out which the first bad block is. After that, you can do a `setHead` to that block, or full-sync to that point and then start mining

[2021-01-04 14:58] holiman commented on #22102
You could also, with some custom code, ensure that every header pow is verified during fast-sync., by changing `fsHeaderCheckFrequency` to `1` in `downloader.go`. Then a fast-sync would pinpoint the first bad block.

[2021-01-04 16:34] gaieges commented on #21375
Confirmed working, thanks @karalabe !!

cc: @uivlis

[2021-01-04 16:38] jason12343 opened #22110 "error on running geth attach to a local script"
my js code is fine if i use node wstest.js
geth attach --exec 'loadScript("wstest.js")'
when i tried to use this command .
errors :
Unexpected reserved word
        at native
and i located the line with error , was just some
import statement like this
const WebSocket = require('ws');
is the interact console doesn't support import statement or something im missing here?
any way i can make this work

[2021-01-04 16:41] DGKSK8LIFE commented on #21375
someone lock/archive the thread

[2021-01-04 16:41] DGKSK8LIFE commented on #22110
could I get some more context here? @jason12343

[2021-01-04 16:44] jason12343 commented on #22110
const WebSocket = require('ws');
const wss = new WebSocket.Server({ port: 8081 });

wss.on('connection', function connection(ws) {
  ws.on('message', function incoming(message) {
    console.log('received: %s', message);
  });
});

here is the script

GoError: Error while compiling or running script: SyntaxError: /root/ws/testws.js: Line 2:1 Unexpected reserved word
        at native
        at <e

[2021-01-04 16:46] DGKSK8LIFE commented on #22110
could you please put your code in a formatted codeblock so I can read it easier? Thanks @jason12343

[2021-01-04 16:51] jason12343 commented on #22110
sorry for the format DGKSK8LIFE ,  the code went wrong at first 2 lines
so this two statement was not able to pass the compiler

const WebSocket = require('ws');
const wss = new WebSocket.Server({ port: 8081 });

[2021-01-04 17:06] razimih opened #22111 "WARN tx iteration error error="unexpected EOF" ... constantly"
#### System information

Geth version: `Geth/v1.9.25-stable-e7872729/linux-amd64/go1.15.6`
OS & Version: Linux xxxx 5.4.0-58-generic #64-Ubuntu SMP Wed Dec 9 08:16:25 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

Commit hash : (if `develop`)

#### Expected behaviour  - not sure

#### Actual behaviour
INFO [01-04|11:38:52.502] Imported new chain segment               blocks=1  txs=157  mgas=12.504 elaps

[2021-01-04 17:18] #22110 closed

[2021-01-04 17:42] DGKSK8LIFE commented on #22110
Thanks sorry had class @jason12343

[2021-01-04 17:47] jason12343 commented on #22110
no problem . I changed the const key word to var then it works .don't know why but it's ok now

[2021-01-04 17:58] DGKSK8LIFE commented on #22110
@jason12343 it's best to use `let` instead of `var`; if you're declaring the import in the global scope then you should have no problem referencing it anywhere you want in code.

[2021-01-04 19:06] jason12343 commented on #22110
@DGKSK8LIFE , I think i know this , but running code in geth console is different . the problem only appear when i use --exec 'loadScript("/xxx/xxx.js") to start the code .. and i also am running into problems like js modules .seems like the interact console can not simply import any js modules ,related to this https://github.com/ethereum/web3.js/issues/1849 ..

[2021-01-04 19:42] DGKSK8LIFE commented on #22110
ok no problem @jason12343. Might wanna report said problems

[2021-01-04 20:20] vdamle opened #22112 "Automatic sync fails after transient error syncing to Freezer DB with "missing parent" error"
#### System information

Geth version: `1.9.7`
OS & Version: Linux (Kubernetes on Azure) - running `clique/POA`
Commit hash : stable

#### Expected behaviour

After a transient failure to write blocks to freezer the node restarts (as expected), and should be able to sync with it's peers and catch up to the rest of the chain.

#### Actual behaviour

Node truncates freezer to a very old block (due t

[2021-01-04 20:42] DGKSK8LIFE commented on #22112
Maybe this is instigated by containerization/k8s? Are you using kubectl proxy by any chance?

[2021-01-04 21:01] vdamle commented on #22112
No, we are not. In general, there is no failure to sync blocks when adding new nodes to an existing chain (even one which is > 90k blocks). So direct and ongoing push to the freezer DB works just fine. The `CRIT` error when syncing data to the freezer could be due to the underlying filesystem -- but that shouldn't mean that a subsequent recover isn't possible, should it?

[2021-01-04 21:06] DGKSK8LIFE commented on #22112
Well if you're hosting a full node, you have to sync/download stuff off the ethereum blockchain. So a failure in the underlying filesystem could instigate an error in syncing.

[2021-01-04 21:27] vdamle commented on #22112
I mentioned in my initial summary that we are running a private chain `running clique/POA`

[2021-01-05 01:24] grantweii commented on #21375
It seems to me that the faucet is not woking again? Just started working with test networks. Does the red bar mean it has failed?

[2021-01-05 01:32] atrana commented on #22102
Thanks @holiman - so from the console I would use debug.setHead('#blocknum') ?

[2021-01-05 02:23] cn4941 commented on #22062
hello fine sirs, can you please send 18 test eth to 0x0901fC18745A9515e2733d74bb3005cA76dEf33E thank you

[2021-01-05 04:49] rjl493456442 commented on #21929
It's verified that the submission is valid. The difficulty can be recovered is 4567006823027140.

[2021-01-05 04:53] krasi-georgiev commented on #22098
So strange now it also worked for me as well. Thanks for the support, I hope the examples help someone else as well.

[2021-01-05 04:53] #22098 closed

[2021-01-05 05:32] k1jason2082 opened #22113 "Audi apt-get install {Magic-Lense}Apps"
Audi apt-get install {Magic-Lense}Apps
Installing MagicLense Apps
intro: 'When your app is public, anyone can install your app on their repository through {% if currentVersion == "free-pro-team@latest" %} the {% data variables.product.prodname_marketplace %} or {% endif %}an installation URL. When your app is private, you can only install the app on repositories that you own.'redirect_from:
  - /a

[2021-01-05 07:36] boy-good opened #22116 "Solidity used require() Reverted need gas?"
transaction: https://etherscan.io/tx/0x5b0b03e5d589fef5306e261a26a206f806d9df8d8faf2c8840fb495815c134e9
This tx Reverted & Contract used **require()** but also need gas?
But i see docs “From the Metropolis version, require type exceptions do not consume any gas.”
I don't quite understand, please help.
![image](https://user-images.githubusercontent.com/39320533/103618789-823c0a80-4f6b-11eb-973d-a87

[2021-01-05 07:37] lxex opened #22117 "How to sync block quickly and full history state trie?"
**System information**
Geth version: Geth/v1.9.26
OS & Version:
windows 10 pro

I used the following command, but  slower than mainnet producted!

**geth  --syncmode=full --gcmode=archive --cache=1024 --verbosity=2**

[2021-01-05 07:56] holiman commented on #22117
Well, that looks correct, if you want the full archive state of every single block ever produced. You better have good hardware; fast IO and huge disks.

You lowered the `--cache`, bumping it up should improve things a bit.

In my experience, a lot of people who thinks they want a full archive node would actually only need a `syncmode=fast gcmode=archive`, but of course that depends on your usecas

[2021-01-05 08:01] holiman commented on #22112
This is the root of you problems:
[code]
Apparently, this failure used the `CRIT` log level, which is not good -- since it causes an abnormal shutdown, which can cause further corruption.

I suspect that the `missing parent` error comes from a mismatch between what's in leveldb versus what's in ancient db.

[2021-01-05 08:44] holiman commented on #22102
Yes. I can't guarantee it will work perfectly, but that's the way to do it. It's obviously not something that is considered part of the normal usecase -- it's a last-ditch approach to correcting a bad error, but @karalalbe put a lot of effort into making setHead behave correctly.
It probably requires a restart after the operation is finished.

[2021-01-05 09:07] lxex commented on #22117
thanks for your message @holiman.

My application scenario is to use the account(`common.Address{}`) to traverse all the historical transactions.
my solution is
1) use one `Address`  and block number `start `and `end`
2) Dichotomy to find the history `Nonce` and `Balance` changes
3) Get the block
4) Find the address's transactions with block.Transactions()

**Do you have a better way to quickly qu

[2021-01-05 09:10] MariusVanDerWijden commented on #22113
I don't think this concerns go-ethereum

[2021-01-05 09:10] #22113 closed

[2021-01-05 09:21] MariusVanDerWijden commented on #22116
See https://stackoverflow.com/questions/48077773/ethereum-solidity-does-require-use-any-gas
The transaction consumes gas up until the require. Difference is that the require does not consume *all* gas left.
For the future please ask questions like this on the stackexchange https://ethereum.stackexchange.com/

[2021-01-05 09:21] #22116 closed

[2021-01-05 10:18] #22080 closed

[2021-01-05 10:22] gballet commented on #22080
Thanks for pointing this out. It should be fixed, please check again with next release and open a new issue if the problem persists.

[2021-01-05 11:24] krasi-georgiev opened #22119 "[ABIGEN] Add option to create bindings from a contract addres and use etherscan to fetch it."
# Rationale

Why should this feature exist?
Much nicer workflow for e2e test and make sure the tests run against the deployed version.

What are the use-cases?
e2e tests
# Implementation
Happy to open a PR for this.

so the change would be that when the contract paths is an address it uses etherscan to fetch it. One requirement is that it would also need an etherscan API key.

[2021-01-05 11:59] karalabe commented on #22112
Btw, you're running a fairly old release (20 releases old). I think it's probably time to upgrade before trying again :)

[2021-01-05 12:04] karalabe commented on #22119
This is a nice idea, but very much out of scope for `abigen`. It goes also a bit against the notion that a compiler should be deterministic. Using Etherscan for source retrieval would also be trusting a remote server to deliver highly sensitive data that can cause serious loss if used badly. All in all, no :) But should not be that hard to add your own tool on top of abigen for your own use case.

[2021-01-05 12:04] #22119 closed

[2021-01-05 12:06] karalabe commented on #22078
Geth prioritizes local transactions. Local == submitted via the RPC or received from the network and recipient being in the `--txpool.locals` CLI flag (though you'll probable never get a 0 wei gas price tx propagated across the network). If you submit a tx to our miner directly with 0 gas price, it will pick it up before anything else.

[2021-01-05 12:07] #22078 closed

[2021-01-05 12:08] karalabe commented on #22072
This was fixed yesterday. Twitter discontinued their old site so we needed to swap the auth workflow.

[2021-01-05 12:08] #22072 closed

[2021-01-05 12:08] karalabe commented on #22062
This was fixed yesterday.

[2021-01-05 12:08] #22062 closed

[2021-01-05 12:09] karalabe commented on #22031
This was fixed yesterday, needed a new Twitter auth workflow.

[2021-01-05 12:09] #22031 closed

[2021-01-05 12:17] ligi commented on #22119
If you write such a tool it would be nice if it also supports sourcify and not only etherscan. In this case you would not even need an API key.

[2021-01-05 12:22] krasi-georgiev commented on #22119
Actually, I just tried and with etherscan you can get the contract without an API key, has some rate limit but it is reasonable.

I agree with @karalabe points, but for e2e tests I think it is reasonable.

@karalabe is there any more trusting way to get a contract from the blockchain than relying on a central entity?

[2021-01-05 12:34] Gui1105 opened #22120 "err="authentication needed: password or unlock""
WARN [01-05|20:29:45.605] Served eth_sendTransaction               conn=195.123.222.16:41236 reqid=1 t="54.957µs"  err="authentication needed: password or unlock"
WARN [01-05|20:29:45.613] Served eth_sendTransaction               conn=195.123.222.16:40270 reqid=1 t="35.645µs"  err="authentication needed: password or unlock"
WARN [01-05|20:29:45.879] Served eth_sendTransaction               conn=19

[2021-01-05 12:44] ligi commented on #22120
Please add more information. So far this issue is not actionable

[2021-01-05 12:51] karalabe commented on #22120
Oh yes it is. My hunch is that you opened up your RPC endpoint to the world / internet and someone is actively trying to exhaust your funds. You are actively being attacked. Close your RPC ports down!

[2021-01-05 13:31] #21795 closed

[2021-01-05 13:48] #22041 closed

[2021-01-05 14:17] holiman commented on #22112
Oh, I just saw that you reported this against `v1.9.7`.
In https://github.com/ethereum/go-ethereum/pull/21409 , which was merged for `1.9.20`, @karalabe reworked a lot of the repair cases, to ensure that geth properly handled all the quirky scenarios that can happen on an abrupt shutdown.

Whatever happened on `1.9.7`, it's not really actionable, because it's too old, and with the major refactorin

[2021-01-05 14:17] #22112 closed

[2021-01-05 14:17] holiman commented on #22112
Oh and I just saw that @karalabe already commented just that :/

[2021-01-05 15:05] cn4941 commented on #22062
still not working for me using FB link :(

[2021-01-05 20:31] forming commented on #22039
Hey can anyone send 2 ETH to 0x59a4C026B9ebB5Da893F3001FDb5255D0Fd096c0

[2021-01-05 20:44] ligi commented on #22039
send you all rinkeby ETH
everyone as much as requested except for @elvisgiv - 100 is just too much - I send you 10 ..

[2021-01-05 22:04] walkerAZ commented on #22039
@ligi hello can you please send 6 eth to 0xF643A13d9871Bf3df5857322ec8bAEcf932ccE15

thank you so much!

[2021-01-06 01:31] fang19911030 opened #22121 "Geth error caused by location of clef.ipc"
#### System information

Geth version: 1.9.25-stable-e7872729
OS & Version: Ubuntu 20.04.1 LTS
Commit hash : (if `develop`)

#### Expected behaviour
Start get successfully.
#### Actual behaviour
Error message

#### Steps to reproduce the behaviour
I follow the guidance [here](https://geth.ethereum.org/docs/getting-started).
Type the command:
geth --goerli --syncmode "light" --rpc --signer=<CLEF_LO

[2021-01-06 01:38] ligi commented on #22121
It seems clef is not started. Can you show the output of the step "Start Clef"?

[2021-01-06 02:17] Gui1105 commented on #22120
Thank you for your reply.

[2021-01-06 02:39] fang19911030 commented on #22121
Command: clef --keystore /usr/bin/geth/keystore --chainid 5

``INFO [01-05|21:33:14.133] Starting signer                          chainid=5 keystore=/usr/bin/geth/keystore light-kdf=false advanced=false
DEBUG[01-05|21:33:14.133] Failed to reload keystore contents       err="open /usr/bin/geth/keystore: not a directory"
DEBUG[01-05|21:33:14.133] Ledger support enabled
DEBUG[01-05|21:33:14.133] Trez

[2021-01-06 02:46] ligi commented on #22121
please create the directory - seems it does not exist.

Also I do not really think having it in /usr/bin is a good idea. I think it is better if it is in the home directory of your user.

[2021-01-06 03:10] fang19911030 commented on #22121
The command in the link is: clef --keystore <GETH_LOCATION>/keystore --chainid 5, the <GETH_LOCATION>  can be everywhere by user or the path to the executable geth?

[2021-01-06 03:14] ligi commented on #22121
it can be everywhere

[2021-01-06 03:19] fang19911030 commented on #22121
Cool, Solved. The explanation about CLEF_LOCATION is also very misleading.

[2021-01-06 03:20] ligi commented on #22121
Great! That's why I added the type:docs label ;-)
If you could describe it better - ideally in a PR - that would be awesome!

[2021-01-06 04:09] yeziqing233 commented on #22039
Hi can I also get 20 eth on rinkeby? 0x99b15a1E0BF3bbFe05B0100eC644964bfE875741 Thank you!

[2021-01-06 04:14] ligi commented on #22039
@walkerAZ done
@yeziqing233 I send you 10 - 20 is more than the normal faucet would give and I do not really see a good reason why you would need so much

[2021-01-06 07:03] fatimahambreen commented on #21166
@karalabe I have tried the whole day yesterday but the faucet.rinkeby.io is still not working....it's notifying the same message that "no Ethereum addresses found to fund" ....
Please help me I need 20 ether for my college project. It's very important ...

If anyone could give me please do reply I will send my account address

[2021-01-06 07:58] karalabe commented on #21166
Something seems broken in the light client, the faucet keeps stopping pushing transactions out to the network.

@fatimahambreen Please paste the link here you're trying to use so I can take a look at it.

[2021-01-06 08:32] MariusVanDerWijden commented on #22078
@TennisBowling this is not supported by geth. If you want to do that, you need to rewrite the transaction pool. We won't include such a change into geth as it leads to centralization. Being able to select specific transactions would enable the miner to censor other transactions, which should not be a feature in geth. If someone goes through the hoops of rewriting geth to do that, that's fine and n

[2021-01-06 09:45] estebaneu commented on #15616
FYI, I finished syncing last night:

State entry: 664 401 205

Hardware NUC i5-8259U -16 GB RAM - 1TB NMVE Sabrent Q

[2021-01-06 12:33] ierosvin commented on #22039
@ligi please send 5eth on rinkeby. 0xf0E7D818C221B9457Cd7182c48361d95a95CdF4e Thank you thank you!

[2021-01-06 13:54] z2453564902 opened #22128 "Failed to write block into disk err="write /root/.ethereum/geth/chaindata/2487982.log: no space left on device""
Error before geth restart：
Error: invalid merkle root (remote: 57cc91ee8b91b956592a27b14386abc2aba723b5f4f9e5d3181ace6b5d3cd433 local: 1f9ee59bfa683a25c7a15b626995a3ad7c58c571b40df96eea31e5c5eed9732d)
end:
Failed to write block into disk          err="write /root/.ethereum/geth/chaindata/2487982.log: no space left on device"

[2021-01-06 14:40] liquid-8 opened #22129 "Fast-synced node crushes"
#### System information

Geth version: `1.9.25`
OS & Version: Windows 10

#### Expected behaviour
Fast synced geth starts and works as local node

#### Actual behaviour
Fast synced geth throws the error at startup

and shuts down then

#### Steps to reproduce the behaviour
runs w/admin privs as follow

Z:\gth\geth.exe --datadir ".\data" --syncmode fast --cache 1024 --http --http.addr 127.0.0.1 --h

[2021-01-06 15:38] fatimahambreen commented on #21166
Hello sir,

First of all thanks a lot. I would be very grateful for your help.

This is my account address 0x956Bcb03a6f8Df9566C7b300E35A21571e30c559

Sir please provide me atleast 20 ether so that I can complete my project at
university.

Anticipating for your help

Thanks & regards
Ambreen Fatimah

On Wed, Jan 6, 2021 at 1:28 PM Péter Szilágyi <notifications@github.com>
wrote:

[2021-01-06 15:49] fatimahambreen commented on #21166
Sir this is my facebook post link that I pasted in faucet.rinkeby.io

https://www.facebook.com/ambreen.fatimah.1/posts/781618749097122

But its saying "No ethereum address found to fund"

Please help me sir

On Wed, Jan 6, 2021 at 9:08 PM ambreen fatimah <fatimahambreen30@gmail.com>
wrote:

[2021-01-06 15:52] gballet commented on #20921
Addressed in #21960, closing.

[2021-01-06 15:52] #20921 closed

[2021-01-06 18:38] ligi commented on #22128
seems your disc is full

[2021-01-06 19:22] #22121 closed

[2021-01-06 23:31] razimih commented on #22111
Any idea ? Anybody ?
Does this at every new block ...
What should I look at ? any parameter to try ?...
Is this just a warning ? or some other serious issue....

[2021-01-06 23:48] ligi commented on #22111
did you have this from the beginning or did it start at some point?

[2021-01-07 00:51] TennisBowling commented on #22078
cool! thanks for everything.

[2021-01-07 03:04] razimih commented on #22111
Hi Ligi, it starts as soon as it gets synced. From the very first block added after being in sync, I get exactly 4  warnings at each new block:
.......
Jan 06 21:55:16 ubsrv20 geth[731]: INFO [01-06|21:55:16.511] Imported new chain segment               blocks=1  txs=133 mgas=12.457 elapsed=790.857ms   mgasps=15.751  number=11604969 hash="f06f80…47457f" dirty=127.90MiB
Jan 06 21:55:16 ubsrv20 geth

[2021-01-07 03:12] sljfalewjlkf commented on #22039
@ligi please send 10eth on rinkeby. 0x447636e1D5f0B7ebF8302E1ecAC47A836fe2d64c . I use it to study https://ethernaut.openzeppelin.com/. thank you .

[2021-01-07 03:19] guagualvcha opened #22131 "A potential dead lock of client which result in block syncing halt"
#### System information

Geth version: 1.9.13
OS & Version: Linux

#### Expected behaviour
Client sync block normal

#### Actual behaviour
Client failed to sync block.

#### Steps to reproduce the behaviour
First change the code to make it easier to reproduce:
[code]

Do request for multi times:
[code]

#### Backtrace
Here is the pprof of go routine:
[goroutine.txt](https://github.com/binance-chai

[2021-01-07 07:03] #22128 closed

[2021-01-07 07:05] rjl493456442 commented on #22131
I still don't get it, if the subscription is uninstalled sucessfully, no more following events will be sent to this filter.

[2021-01-07 07:09] rjl493456442 commented on #22131
And regarding the deadlock. Before uninstall request get processed, all the queued events can be processed by the Unsubscribe function too, so I don't think the eventLoop will be blocked.

Maybe I miss something here?

[2021-01-07 08:00] rjl493456442 commented on #22120
Close it now, feel free to open again.

[2021-01-07 08:00] #22120 closed

[2021-01-07 08:10] holiman commented on #22131
@guagualvcha did you also send this as a bounty? I tried the repro earlier, and was never able to repro it. I'll give it another go later

[2021-01-07 08:13] rjl493456442 commented on #22102
@atrana Regarding the `invalid mix digest`, I think I can almost sure that it's because of the 4GB DAG issue. You are using the old Geth to generate the invalid DAG(which can be invalid when the size of DAG exceeds 4GB).

You can use the latest released Geth to regenerate the DAG. And with the correct DAG, then apply the approach from @holiman to wipe all mined bad blocks.

[2021-01-07 08:53] holiman commented on #22093
Signing a transaction (at least in geth) is deterministic, if you sign the same data twice, it becomes the exact (hash-wise) duplicate.
So it's not necessarily that you submit the same signed data blob twice, it could be that whatever backend you used, produced the same (same nonce, same value same recipient etc) twice, and it resulted in the same blob twice.
If you don't have any more info about

[2021-01-07 08:56] holiman commented on #22051
Fixed as of `1.9.24` in https://github.com/ethereum/go-ethereum/pull/21733

[2021-01-07 08:56] #22051 closed

[2021-01-07 08:58] joeysino commented on #22128
My colleague's light node and my own light node also ran out of disk space this week.

Perhaps it's because the network has been busy recently, the data files have grown faster than usual?

[2021-01-07 08:59] holiman commented on #21943
@rjl493456442 answered this correctly -- the sync isn't finished, due to peering problems

[2021-01-07 08:59] #21943 closed

[2021-01-07 09:03] vae520283995 commented on #22093
Both create transaction and sign transaction use web3j, without calling geth, but I called eth_estimateGas before signing

[2021-01-07 09:25] ligi commented on #22111
can you run a console and dump out the block? so do
`
eth.getBlock('0xA232D4')
`
Actions that should be taken:
 * improve the error message
 * fix the error

[2021-01-07 09:29] ligi commented on #22058
Do you run 2 miners with the same account? In clique you should not run the same account to run 2 mining nodes

btw. you can delete some of your CLI flags.

[2021-01-07 09:31] karalabe commented on #22058
The `--minerthreads` is only needed for PoW networks.

[2021-01-07 09:34] fatimahambreen commented on #21166
@karalabe please sir do reply..

[2021-01-07 09:35] ligi commented on #22056
What kind of IO performance do you have on your SSD and what kind of FileSystem are you running on the SSD? Also it would be great if you could provide some logs

[2021-01-07 09:40] ligi commented on #22055
Regarding the RAM: does not seem to be a leak but it seems to be normal behavior
Regarding the CPU: is it 100% on all cores?
Can you provide all CLI parameters?

[2021-01-07 09:40] holiman commented on #22055
1. The go garbage collector doesn't immediately return the allocated memory to the OS, it just signals that if the OS should need it, it can be returned.
2. A cache of `4Gb` means that geth will actively make use of 4G, it doesn't constrain geth to not use more in case there is more available.

[2021-01-07 09:42] karalabe commented on #22055
Go's GC is also a bit sucky in that it will use more RAM and run the GC sweep when too much accumulates. This can lead to a 2x overhead easily. If this is really bothersome for you, there are so GC config flags to play with, but it would be a perf hit.

[2021-01-07 09:44] ligi commented on #22054
Please update your geth version and see if you still have the problem? Please reopen then. 1.8.0 is at least 3 years old

[2021-01-07 09:44] #22054 closed

[2021-01-07 09:53] ligi commented on #21979
Let's check back in a year if this github discussions feature is still alive and kicking - and reconsider then.

upsides:
 * we can easily create issues from questions
 * better overview and feedback through upvotes

downsides:
 * *MIGHT* make more work
 * if we start it - it is hard to close it
 * it can become chaos

[2021-01-07 09:56] ligi commented on #19181
@BBSee  you cannot run geth with 4GB of RAM
@Code0x2 can you provide more information about your OS, Hardware, geth version and CLI arguments (ideally in a new issue?)

[2021-01-07 09:57] karalabe commented on #19181
@BBSee Geth be default uses a fairly large cache (4gb). We try to sanitize it if your machine doens't have a lot of ram, you might still run out on mainnet. I'd personally say a machine with at least 8GB is needed, even that might be a bit on the lo side for a proper full node.

[2021-01-07 09:58] karalabe commented on #19181
@Code0x2 Please do open a new issue with your detials.

[2021-01-07 09:58] #19181 closed

[2021-01-07 09:59] ligi commented on #22131
@s1na will try to reproduce the issue

[2021-01-07 10:03] ligi commented on #22117
You might want to give turbo_geth a try - it *might* help you
It would be good to know a bit more about your use-case to help you further here. E.g. are you only interested in the outgoing transactions of one account?

[2021-01-07 10:04] holiman commented on #22117
Also, if you're only interested in the outgoing transactions, you wouldn't even need an archive node, just some custom go-code to traverse the transactions in the block bodies in `ancients` and find the ones that are relevant.

[2021-01-07 10:05] karalabe commented on #22117
It's not really clear what your end goal is here.

If you want to get all outgoing transactions for a specific account, you can iterate over the blocks and just retrieve the transactions from each block and look at the senders. If you want to do this regularly or as a service, you can maintain your own index. Geth will not maintain this index because it's not something every user wants. Using an a

[2021-01-07 10:09] holiman commented on #22093
Web3j gets nonce information from somewhere. And some caller provides a value to send.  That's what I mean by the "pipeline which produced this transaction". How does that pipeline look.

[2021-01-07 11:15] karalabe commented on #21166
Windows auth was just fixed and deployed.

[2021-01-07 11:18] canberk17 commented on #21166
All of you for once read the whole discussion instead of asking for coins. The guy literally said that he doesn’t have any

[2021-01-07 11:20] ligi opened #22138 "Use API for Facebook check in faucet"
# Rationale

follow up of #22137
In the future crawling might also break for mobile as it did for the normal site.
Being proactive here instead of reactionary could prevent users running into this wen it happens

[2021-01-07 12:26] holiman commented on #22138
If we add a couple of testcases like these, we'll notice when they break it for us: https://github.com/ethereum/go-ethereum/pull/22137#issuecomment-756082084

[2021-01-07 12:52] DGKSK8LIFE commented on #21979
I personally think that if we do implement github discussions, we need to have a system in place to mitigate bots and spam for sure.

[2021-01-07 13:14] ligi opened #22139 "Enable snap sync by default"
blockers:
 * [ ] https://github.com/ethereum/go-ethereum/issues/22077

[2021-01-07 13:37] ligi opened #22141 "Remove deprecated command line flags"
# Rationale

 * simplification
 * subtraction
 * decrease complexity

This also includes:
 * we need to update puppeth as it is still using them
 * remove dead code paths
 * update documentation

[2021-01-07 13:43] holiman commented on #22077
The `eth/downloader/peer.go` has a `peerSet` like this:

[code]
Whereas teh `eth/peerset.go` has it a bit differently, where the two are
split up into two different types of peers:
[code]

The method in the `eth/handler` to remove a peer does this,
1. Check if it's an `eth` peer, if so, tells the downloader to remove it.
2. Checks if it's a `snap` peers, if so, tells the downloader.SnapSyncer to r

[2021-01-07 13:47] ligi opened #22142 "Support eth/66 protocol version (EIP-2481 ‘request identifier’)"
# Rationale

https://eips.ethereum.org/EIPS/eip-2481#motivation

[2021-01-07 13:56] ligi opened #22143 "Research transactional database support"
possible candidates
 * boltdb
 * badger

[2021-01-07 14:01] DGKSK8LIFE commented on #22143
I know this is far out, but relational db support also interests me. Maybe we can take a look at MySQL?

[2021-01-07 14:20] ligi opened #22144 "Implement LES discv5 talk requests prenegotiation"

[2021-01-07 14:23] harkal commented on #22143
A good candidate to consider is probably [EbakusDB](https://github.com/harkal/ebakusdb). It's a very lightweight and performant DB that I implemented for Ebakus (which is based on go-ethereum code). From the readme file:

_Each smart contract in ebakus has its own schema defined database (ESDD). This database can support any number of tables with typed fields and indexes. A smart contract is able

[2021-01-07 14:29] DGKSK8LIFE commented on #22143
If you want a scalable key-value store, maybe etcd is a good option. Kubernetes is built off of it and it's purpose built for distributed systems.

[2021-01-07 14:44] guagualvcha commented on #22131
Hi, teams. Thanks for all the timely responses.  @s1na @holiman To easily reproduce the issue,  you will need 1. the block chain should have some new transactions, empty block can not reproduce the issue. 2. change the code a bit, in the above case, I did sleep 3 seconds when `break uninstallLoop`,  you can increase the sleeping time to 15 seconds or longer.

[2021-01-07 15:48] s1na commented on #19768
I confirmed that the issue existed in v1.8.27, but couldn't reproduce it on the most recent version v1.9.25 using your scripts. Please let me know if you're still facing this and I'll re-open.

[2021-01-07 15:48] #19768 closed

[2021-01-07 16:32] razimih commented on #22111
Hi, I did:
geth attach --datadir=/nvm/ethereum/eth1_data --exec 'eth.getBlock('0xA232D4')' > 0xA232D4.txt
text file is attached. Let me know.
Thanks
[0xA232D4.txt](https://github.com/ethereum/go-ethereum/files/5782802/0xA232D4.txt)

[2021-01-07 16:52] DGKSK8LIFE commented on #22141
I'd be willing to make a PR fix for this! Let me make a list of deprecated geth flags and go from there.

[2021-01-07 17:06] renaynay commented on #22141
Awesome @DGKSK8LIFE. Deprecated flags to be removed are located under the `show-deprecated-flags` command. Hope that helps!

[2021-01-07 22:59] DGKSK8LIFE commented on #22141
Now that I look at the codebase, this is a larger undertaking than I initially speculated. I also need some help navigating it. There's lots of interdependence within the code. Maybe I could open a draft PR and then we could work on addressing this issue from there?

[2021-01-07 23:09] atrana commented on #22102
Thank for the advice guys: these will be the steps I am planning to do over the weekend:
1. upgrade go to version 1.15.6
2. upgrade geth to version 1.9.25-stable
3. stop running geth (kill -SIGTERM pid)
4. remove ethash directory
5. start geth new version (no mining)
6. from console debug.setHead('#badblock - 1')
7. start mining

Does that sound right ?

[2021-01-07 23:43] ahmedeid6842 opened #22147 "Rinkeby faucet doesn't work for me"
I didn't receive any ethereum in my account even if i get acknowledgement from Rinkeby faucet website that the transaction completed successfully ... any help ??

this is my account address 0x9E864F1182E1FeCDE2C30CCA723d97A1F1278Da7 if anyone can send some ethereum for me ... thanks 😊😊🤗

[2021-01-08 00:35] DGKSK8LIFE commented on #22141
And if not, could someone explain where everything is in Ethereum's codebase related to flags? Thanks

[2021-01-08 02:26] ligi commented on #22147
@ahmedeid6842 you have some now

[2021-01-08 02:33] DGKSK8LIFE commented on #22141
What do you think about the draft PR suggestion? @ligi

[2021-01-08 02:37] ligi commented on #22141
I think you should do something else then (e.g. test if #22145 works instead of telling others to do so)
IMHO when wanting to contribute in this project you should be familiar with the codebase or at least know how to get familiar.
I also think you should stop approving PRs when you are not familiar with the codebase.

[2021-01-08 02:50] vae520283995 commented on #22093
web3j gets the nonce based on the address, eth_getTransactionCount
It has appeared several times in a row recently, I first try to update to the latest version

[2021-01-08 03:14] DGKSK8LIFE commented on #22141
Yeah I'm gonna take a break from geth and come back once I feel I'm ready to contribute.

[2021-01-08 09:07] lxex commented on #22117
Thanks for all.
If I retrieve the transactions from each block and compare each transaction's from and to with the address, I think its low performance. otherwise there are many addresses.

how a wallet user gets more history transactions?

[2021-01-08 10:11] karalabe commented on #22147
T'was fixed now. Took a week until we finally found a PR from a month ago that broke some internals.

[2021-01-08 10:11] #22147 closed

[2021-01-08 14:19] masoodamodak commented on #21166
U can use a Twitter post instead of  a Facebook post

On Wed, 6 Jan 2021, 12:33 pm fatimahambreen, <notifications@github.com>
wrote:

[2021-01-08 14:41] fatimahambreen commented on #21166
thankyou so much sir

On Thu, Jan 7, 2021 at 4:45 PM Péter Szilágyi <notifications@github.com>
wrote:

[2021-01-08 14:42] fatimahambreen commented on #21166
I received ether

On Fri, Jan 8, 2021 at 7:50 PM masoodamodak <notifications@github.com>
wrote:

[2021-01-09 00:33] yangkun0824 opened #22149 "Block lose transactions?"
I use eth_newBlockFilter to get new blocks. it will get full transactions. the transaction count may smaller than which the block really has.

the following log means:    blockNumber#(transaction count which eth_newBlockFilter get)#(transaction count using eth_getBlockTransactionCountByHash)

losing 10 transactons.
01/08_23:47:27  Check:11614988#163#163

rescan after 8 hours.
01/09_07:43:25  Check

[2021-01-09 05:32] 1blockologist opened #22150 "Force geth to continue using fast sync"
Apparently geth uses full sync when it thinks your node is close to the latest state

I think this is not really the case. I think instead it looks to see if it has switched to full sync at any time in the past and continues to full sync from then on, no matter if I specified --syncmode fast or not

Is there a way around this?

I used fast sync on a node a year ago and let it run for a while befor

[2021-01-09 11:50] Aramison commented on #22039
@ligi please send enough eth to be able to have a play/ look around in rinkeby.  Thanks
0xfe465605AA487e97742BEB3eaB778839E9AAcD15

[2021-01-09 14:47] ErikParso commented on #18361
Where was a problém ?

[2021-01-09 20:45] ahmedeid6842 commented on #22147
thanks a lot @ligi  @karalabe 😊😊

[2021-01-09 21:53] joeytwiddle opened #22151 "Light node using too much storage, doing fast sync? (after 1.9.17)"
Related: #22128

## Situation

Starting from scratch (completely removed `~/.ethereum*` folders)

Command: `geth --syncmode light`

The full setup I am using (probably not relevant):

[code]

I'm actually limiting the process somewhat, to reduce my AWS bill.

## Behaviour with geth v1.9.17

The node syncs up in under 3 hours. Disk usage is 500MB. :+1:

(9 hours later, the usage has dropped to 324

[2021-01-09 23:31] MariusVanDerWijden commented on #22151
I synced a les node this week with the current master in 8 minutes and 300MB.
The LES node downloads the headers since the last checkpoint, so the `imported new block headers` is expected

[2021-01-10 01:40] ligi opened #22152 "Implement EIP-3102 ‘Binary Trie Structure’"
https://eips.ethereum.org/EIPS/eip-3102
https://www.youtube.com/watch?v=TrvKN2kZHQA&

[2021-01-10 07:30] holiman commented on #22151
You said "completely omremoved ~/.ethereum folder", but your args uses ".ethereum-mainnet", so maybe it didn't start from scratch?Otherwise, please provide your startup logs.

[2021-01-10 11:22] joeytwiddle commented on #22151
Thanks Marius, you are right, I am seeing those headers in both the old and new versions.

Sorry for the confusion holiman, but yes I have been wiping the correct folder `~/.ethereum-mainnet` (not as root).

It still seems to me that v1.9.17 is using less disk space. In fact the disk space sometimes shrinks over time. Could it be that v1.9.17 is collecting garbage more efficiently than v1.9.25?

I

[2021-01-10 16:40] BigMurry commented on #21385
this not rebroadcasting issue caused a lot of mess. The transaction is stored on our local node, but the rest of the world just don't have my transaction.

[2021-01-10 17:30] farukterzioglu commented on #21385
As addendum, we are constantly having this issue and the only solution we found is to restart the node, then it broadcasts all stuck transactions.

[2021-01-10 18:32] mduliszewski commented on #22039
@ligi Hey thanks for helping people out. I also started learning solidity, ethereum network, would be great if you could send me like 6 eth - thanks
Address:
0x1090Fa0afE806111B39c8ffA5d0dd1825aF64e99

[2021-01-10 21:56] eebit2020 commented on #22031
Please send me 1 ethe 0x8f6f2f241A993EBE06E7d383ab9D4945BF189138

[2021-01-11 03:20] joeytwiddle commented on #22151
Yes, v1.9.25 reaches 1.3GB (and then stops, because my disk is full).

[code]

Also, syncing seems to take longer with this version.

Logfile:

<details>

[code]

</details>

----

The good news is that my build from master 89030ec doesn't have this problem!

[2021-01-11 03:22] joeytwiddle commented on #22128
@z2453564902 If your light node is consuming more space than it should, I would recommend reverting to an older version (v1.19.17 works for me) or building the latest version from github.

[2021-01-11 09:32] YpsilonOmega commented on #20963
I've got the same issue with the following set-up:

Geth version: `1.9.25-stable`
OS & Version: Ubuntu 20.10
Go Version: go1.15.6
Hardware: Raspberry Pi 4, 8GB

Geth eats up all my RAM after a long time running.
+600MB after 20min
+5GB after 10 days (actually more due to Swap)

I started with the line:
`sudo geth --syncmode fast --cache 2048 --datadir /mnt/ssd/ethereum`

Afterwards I tried to use

[2021-01-11 10:28] holiman commented on #22077
Interesting.. From https://github.com/ethereum/go-ethereum/issues/22151 :
[code]
What's with that `8d1da4c5bc682f8f8ad141f60d2889fa4232144c7d2b29b88f81ca33e586ef9d` node ?

[2021-01-11 10:58] holiman commented on #22151
Could you try a
[code]
from the "large" run

[2021-01-11 16:31] Eggwigg commented on #22039
Hi @ligi could you please send me 20ETH to my address:  0xB3fa212c7a085A9DB1AfE46736bE8ad9A792E3d7 I would like to test my NFT's and dapps. Thank you!

[2021-01-11 17:23] holiman commented on #21951
I don't quite understand -- you are using one sealer and one non-sealer. Are you submitting txs to the non-sealer, and checking the `pending` on the non-sealer?
If so, have you checked if the two nodes are connected ? (`admin.peers`) ? And what about the txpool of the sealer?

[2021-01-11 17:29] nazneenk commented on #21951
When I use one node only, it's the sealer node.  When I have three nodes, they are all sealer nodes, and they are all connected.  I don't have any non-sealer nodes.  I check the txpool of the sealer nodes.

[2021-01-11 17:45] holiman commented on #21951
So, if it can be reproed with only one (sealer) node, then that's ideal.... Can it?

[2021-01-11 17:52] nazneenk commented on #21951
yes, it can be reproduced with one (sealer) node

[2021-01-12 06:13] tkdlqm2 opened #22159 "compile geth using gccgo not gc"
#### System information
![image](https://user-images.githubusercontent.com/38249713/104276429-31d32880-54e8-11eb-98ea-f40c1f86d34a.png)

Geth version: `1.9.1`
OS & Version: ubuntu 0.18.0

#### Expected behaviour

go build -o geth -compiler=gccgo -gccgoflags='-fuse-ld=gold' -v ./go-ethereum/cmd/geth/*go

#### Actual behaviour

[code]

####
I want to know how to compile geth using gccgo. please let

[2021-01-12 07:21] holiman commented on #21951
I just tested this, one PoA sealer with a period of `0`, then attach to that node, submit transactions via `personal.sendTransaction`. They get included in newly mined blocks. Comparing with your logs, this happens when I submit one:
[code]
So, it first get's pooled as `future`, then promoted from `queue` to `pending`. In your logs:

[code]
I.e: it does not get promoted (`Promoted queued transacti

[2021-01-12 07:29] holiman commented on #22159
The hamming-dependency gets removed in https://github.com/ethereum/go-ethereum/pull/22044. fwiw

[2021-01-12 08:06] joeytwiddle commented on #22151
Sure thing @holiman. Sorry it took a while, had to start it from scratch again.

[code]

[2021-01-12 09:52] #20894 closed

[2021-01-12 10:05] vae520283995 commented on #22093
I updated the node to the latest version, but the problem still occurs
 Geth/v1.9.25-stable-e787272

Below is the log

WARN [01-12|09:54:23.497] Synchronisation failed, dropping peer    peer=aecb116c787b2dac err="action from bad peer ignored: header request timed out"
INFO [01-12|09:54:24.687] Deep froze chain segment                 blocks=9  elapsed=64.093ms  number=11549438     hash="3e9c32…b37

[2021-01-12 11:33] holiman commented on #22093
This is the transaction which is 'already known': https://etherscan.io/tx/0xc441a97925485f01e436bf2cdf5a5f4c8a4ba4d2b2fecb424a54554a2d386e09 . It was mined in block `11639449`.
I can't see how that can possibly happen, unless you either have a second node which _also_ sends transactions with the same key, or double-send the transactions using `sendRaw`.

If you use `getTransactionCount`, it return

[2021-01-13 01:55] anuragsodhi commented on #22055
Yes it is 100% on all cores.
![Screenshot from 2021-01-12 20-55-20](https://user-images.githubusercontent.com/6956109/104396391-8ee6d280-5518-11eb-8b19-acb04174730b.png)

[2021-01-13 08:16] rawbonesfck commented on #21915
I too have run into this, just in general.  I run unlock command, nothing changes. maybe.  currently troubleshooting.

[2021-01-13 20:31] cmeisl commented on #21937
@ligi any update on this issue from call with @AusIV?

[2021-01-13 21:48] tena4881 commented on #22039
0x8c80555970C38B9728943b4970FBEC59547b4491
5 ETH please!
I would like to test out a DApp
Thank you!

[2021-01-14 07:31] ligi commented on #22065
As far as I see the PRs are merged - so this can be closed?

[2021-01-14 08:35] LeoNCKU opened #22168 "Problem of VMTest"
Dear all:
   Recently I implement the EVM, but when I check the test suit of VMTest. I found that if the storage of key and value are both 0x00, the storage is empty in the "post" section after executing the opcode "PUSH1 0x00 SSTORE" (600055).
The attachment below is the example of test suit "iszero0.json".
![擷取](https://user-images.githubusercontent.com/50820380/104564695-30d7fd80-5686-11eb-9b6f

[2021-01-14 08:59] ph0ly commented on #22090
thanks!

[2021-01-14 08:59] rjl493456442 commented on #22149
I don't understand, these two numbers are equal right?

`# transaction count which eth_newBlockFilter get`
and
`# transaction count using eth_getBlockTransactionCountByHash`

[2021-01-14 08:59] gballet commented on #22168
that is normal behavior as per the yellow paper:

![image](https://user-images.githubusercontent.com/3272758/104567487-21898d80-564f-11eb-99cf-27857d22f79a.png)

Setting a slot value to 0 is effectively clearing it, in order to save storage space.

[2021-01-14 08:59] #22168 closed

[2021-01-14 09:02] yangkun0824 commented on #22149
the transaction count are equal. but the number which the first time get is wrong, losing 10 transactions.

[2021-01-14 09:03] gballet commented on #22152
see #22006

[2021-01-14 09:15] #22065 closed

[2021-01-14 09:17] fjl commented on #21983
The wiki pages are now replaced with links. We can delete them in one year, but no need to keep an issue for that.

[2021-01-14 09:17] #21983 closed

[2021-01-14 09:21] rjl493456442 commented on #22149
The chain reorg usually can happen. The block #11614988 might be different(different hash) actually.

[2021-01-14 09:42] ligi commented on #22151
can you run

`./geth-linux-amd64-1.9.25-e7872729/geth inspect --datadir ~/.ethereum-mainnet/ --syncmode light`

[2021-01-14 09:44] fjl commented on #22151
Bit more context about that: we noticed that your `--datadir` flag for the `geth inspect` command is `~/.ethereum-mainnet/geth/lightchaindata`, but this is incorrect and inspects an empty database. The command given by @ligi above will inspect the correct database.

[2021-01-14 09:51] ligi commented on #22077
related #21257

[2021-01-14 09:58] fjl commented on #22077
This issue happens because `removePeer` in handler.go is racy:

If two goroutines call `removePeer`, they will both check the eth peer set and find the peer. Both goroutines will then call `downloader.UnregisterPeer`, and one of them will print this log message.

We can fix this by refactoring the peer unregistration a bit. At the moment, we pass the `removePeer` method into the downloader as the

[2021-01-14 10:26] holiman commented on #21770
Interesting. So the faulty one returns logs for these blocks:
[code]
The correct one returns
[code]
So `11234580` was included, `11235267 - 11240833` were skipped over, and `11240942` and onwards were included.

[2021-01-14 10:32] fjl commented on #22150
If your node is one year behind, you might as well start fast sync from scratch. The chain data you have is not going to accelerate the fast sync because Ethereum state has high turnover.

[2021-01-14 10:59] gballet commented on #21928
@AlexSSD7 this looks like a memory problem that occurs in the runtime while some memory is copied at the end of a goroutine.

First of all, how much RAM does the machine and container have?

Next, can you easily reproduce this error?

[2021-01-14 11:05] holiman commented on #21770
Still, it doesn't seem to be the case that a particular segment is skipped:
[code]
Some parts of segment `2742` was included, some parts of `2744`, nothing of `2743`

[2021-01-14 11:07] AlexSSD7 commented on #21928
32 GB DDR4 ECC

I don't think so. It happened randomly.

[2021-01-14 11:09] gballet commented on #21928
ok thanks, what command did you start the container with?

[2021-01-14 12:33] yangkun0824 commented on #22149
what should I do if i meet this problem? when i scan the blocks, my transaction sometimes unfortunately in the set of losing transactions

[2021-01-14 12:35] yangkun0824 commented on #22149
好吧，你是浙大的，校友好

[2021-01-14 14:59] holiman opened #22172 "Snap sync crash"
#### System information

Geth version: running this PR: https://github.com/ethereum/go-ethereum/pull/22171

#### Backtrace

[code]
The remote peer `61673c82` was running `d13c59fef0926af0ef0cff0a2e793f95d46442f0` (master) , fully in sync.

[2021-01-14 16:02] s1na commented on #22131
I could reproduce the issue (thanks for the pointers).

@rjl493456442 I think the problem is when there are multiple filters. Filter `A` times out, locks `filtersMu` and goes to `Unsubscribe`. At the same time a new txhash arrives. Now broadcasting the hash to filter `A` should work (because `Unsubscribe` would consume it), but broadcasting it to any other active filter would block because it can'

[2021-01-14 16:29] AlexSSD7 commented on #21928
[code]

[2021-01-14 18:50] Jorgeadverd commented on #14338
Hi All,

We have been setup new node on our server and after sync almost complete it stuck almost 100 blocks behind. And we wait for 6-7 hours but it's always showing the BlockNumber : 0

Also if we have removed old mainnet node and setup new node again, what are the major steps we need to follow ?

we have been following these article to setup node and it's working fine on testner rinkeby but on

[2021-01-14 18:52] Jorgeadverd opened #22174 "Sync stopped before 100 blocks behind"
Hi All,

We have been setup new node on our server and after sync almost complete it stuck almost 100 blocks behind. And we wait for 6-7 hours but it's always showing the BlockNumber : 0

Also if we have removed old mainnet node and setup new node again, what are the major steps we need to follow ?

we have been following these article to setup node and it's working fine on testner rinkeby but on

[2021-01-14 19:01] holiman commented on #22174
Bottled response:

Syncing Ethereum is a pain point for many people, so I'll try to detail what's happening behind the scenes so there might be a bit less confusion.

The current default mode of sync for Geth is called fast sync. Instead of starting from the genesis block and reprocessing all the transactions that ever occurred (which could take weeks), fast sync downloads the blocks, and only ver

[2021-01-14 19:02] holiman commented on #22174
Also, `Geth/v1.8.2-stable/linux-amd64/go1.9.4` is _way_ old, it'll be three years this march. Use a recent build

[2021-01-14 19:29] Jorgeadverd commented on #22174
Hi @holiman

We have setup another node with below version
get version - Geth/v1.9.13-stable-cbc4ac26/linux-amd64/go1.14.2

Also from last 6-7 hours we are just getting 70-100 Blocks behind and still sync not completed yet, can below details as well

{
  currentBlock: 11655003,
  highestBlock: 11655073,
  knownStates: 517084680,
  pulledStates: 516977987,
  startingBlock: 11654085
}

{
  currentBl

[2021-01-14 19:31] holiman opened #22175 "Tx fetching flaw"
There's something funky with tx fetching. I added a commit to print out when we fetch tx hashes.

A node with lots of peers, `0.2` seconds:
[code]

A node which connected to the network once it hits it's first peer:
[code]
It seems odd that we do so many tiny requests, instead of larger batches.

[2021-01-14 20:34] holiman commented on #22174
Please read the text above. 

[2021-01-14 20:51] nazneenk commented on #21951
I reproduced it without using nodejs and web3, and used the personal namespace.  Still not getting the transaction sealed.

Here is the console session:

Here is the log:

DEBUG[01-14|20:38:52.364] Served eth_coinbase                      reqid=16 t="22.907µs"
DEBUG[01-14|20:38:52.365] Executing EVM call finished              runtime="115.261µs"
DEBUG[01-14|20:38:52.365] Executing EVM call finishe

[2021-01-14 21:43] holiman commented on #21951
This means the tx cannot be included in a block on your chain, due to replay protection:> TRACE[01-14|20:38:53.138] Ignoring reply protected transaction hash="15abf3…f4048a" eip155=3

[2021-01-14 21:46] holiman commented on #21951
Looks pretty odd, really

[2021-01-15 05:46] Jorgeadverd commented on #22174
Hi Holiman,

We had wait till now and it's almost 12 hours, and we found below result in morning right now, Just wondering we are on right direction or did something wrong while doing setup.

  syncing: {
    currentBlock: 11657742,
    highestBlock: 11657810,
    knownStates: 616653463,
    pulledStates: 616635562,
    startingBlock: 11654085
  },

  Appreciate your support

[2021-01-15 06:32] yangkun0824 commented on #22149
what does the reorg do? the block content will change?

[2021-01-15 07:19] rjl493456442 commented on #22149
The reorg means this specific block(e.g. #100 with hash 0xabc) is included, but 1 minute later the #100 is replaced by another block 0xdef because this chain has a higher total difficulty.

Usually, a safe approach is to set a minimal confirmation threshold(e.g. 30 blocks). The possibility that the block is reorg after that many additional confirmations is super low.
In your specific use case, you

[2021-01-15 07:23] yangkun0824 commented on #22149
i see, really thanks.

[2021-01-15 07:25] rjl493456442 commented on #22149
Will close it now.
Feel free to open a new issue if you still have some questions/problems or to reopen this one.

[2021-01-15 07:25] #22149 closed

[2021-01-15 08:57] holiman commented on #22174
Yes, it looks like you're on track

[2021-01-15 09:18] rjl493456442 commented on #22131
Yeah, I get it. Multiple filters explains the reason!

[2021-01-15 10:41] Jorgeadverd commented on #22174
Hi @holiman

Thanks for support, And we are happy to hear that we are on right track, Just wondering how much time it will take more on average basis ?

{
  currentBlock: 11659091,
  highestBlock: 11659176,
  knownStates: 625344322,
  pulledStates: 625334817,
  startingBlock: 11654085
}

[2021-01-15 11:00] holiman commented on #22174
Average is hard to say, on a good infra it can be ~6 hours (on our benchmarkers which have huge RAM, fast nvme ssds, public ip addresses and good connectivity). A more common case is a day or two. More notorious cases, where e.g. the network latency is worse, or the disk speeds aren't great, it takes even longer.
The longer the sync takes, the more inefficient it becomes, since the chain moves as

[2021-01-15 11:17] karalabe commented on #14338
@Jorgeadverd Use a latest release and wait. See https://github.com/ethereum/go-ethereum/issues/14338#issuecomment-490054375

[2021-01-15 11:32] Jorgeadverd commented on #14338
Hi @karalabe ,

Yes, we are using updated one as mentioned below

instance: Geth/v1.9.13-stable-cbc4ac26/linux-amd64/go1.14.2

{
  currentBlock: 11659351,
  highestBlock: 11659432,
  knownStates: 626823455,
  pulledStates: 626815961,
  startingBlock: 11654085
}

And we are still in syncing mode from almost last 18 hours, also below are the specifications of Hardware>

     *-memory
          descr

[2021-01-15 11:35] Jorgeadverd commented on #22174
{
  currentBlock: 11659351,
  highestBlock: 11659432,
  knownStates: 626823455,
  pulledStates: 626815961,
  startingBlock: 11654085
}

And we are still in syncing mode from almost last 18 hours, also below are the specifications of Hardware>

     *-memory
          description: System memory
          physical id: 0
          size: 15GiB
     *-cpu
          product: Intel(R) Xeon(R) Platinum 82

[2021-01-15 13:26] joeysino commented on #22151
Good news (sort of). For some reason, the space grew to 1.3GB and then my disk filled. So it's the right environment to do the inspection!

[code]

[2021-01-16 03:35] nuliknol commented on #17791
hmmm, yeah. Unbelievable waste of resources despite living in 21 century. I have ordered 128Gigs of RAM for my development archival node, and now I am going to waste 64 gigs of ram because Golang doubles memory by its garbage collector!!! The only solution that comes to mind is that I could use RAM disk to cache the data on disk. I have no words. If a gas station would would trow away half of the

[2021-01-16 06:12] Jorgeadverd commented on #14338
Hi All,

Thanks for you support and right direction provided, Finally we had wait till around 48 Hours and Sync has been completed. Also we are able to fetch all operations now from the private node.

Many thanks for your support @karalabe

[2021-01-16 06:12] Jorgeadverd commented on #22174
Hi @holiman

Thanks for you support and right direction provided, Finally we had wait till around 48 Hours and Sync has been completed. Also we are able to fetch all operations now from the private node.

Many thanks for your support @holiman

[2021-01-16 06:12] #22174 closed

[2021-01-16 09:25] TheIceHole opened #22180 "error with clef.ipc"
### System info:
Geth:1.9.24
OS:windows
### Problem
I hava just tried to start geth  as the guidance here (https://geth.ethereum.org/docs/getting-started)
when i  executive command
geth --goerli --syncmode "light" --rpc --signer=<CLEF_LOCATION>/clef.ipc
 "geth --goerli --syncmode "light" --rpc –signer=//.pipe/clef.ipc",

it comes a warn Failed to open wallet  utl=extapi://\\.\pipe[clef.ipc err="op

[2021-01-16 10:00] holiman commented on #17791
That's not how it works. Just because geth doesn't immediately allocate / lay claim to the entire memory bank, it doesn't mean that the rest sits idle. What happens is that the remainder is left for the OS to use wherever is needed.

Since geth is a very IO-heavy process, a lot of that extra memory will be used for file system caches, making it so that geth doesn't actually have to touch disk very

[2021-01-16 10:14] #21964 closed

[2021-01-16 16:31] benslaney commented on #20939
can anyone say roughly how many state entries there are now? for me it's at 690 million and still syncing, and i'm concerned that at the beginning it somehow started an archive node rather than a fast sync so now it's trying to do that.

It's been syncing for nearly two weeks on digital ocean at this point, on a high spec vps

[2021-01-16 19:41] nuliknol commented on #17791
hmm , that's interesting! So, do you think anything will break if I just comment this code line out in `cmd/geth/main.go` ? Something is telling me that I have to try it.  I mean, if it starts swapping memory to disk in and out I am going to see it immediately in `iostat` so, no worries. I will just restart with lower limit.

but we don't need that, we need trie caching, not disk block caching. Di

[2021-01-16 22:58] ligi commented on #22143
related #15717

[2021-01-17 02:49] noprom commented on #17069
@jmooo Have you resolved this issue?

[2021-01-17 06:26] TheIceHole commented on #22180
I foun it。。。。。。。It has been started successfully.I just need to open another termimal ,go to that directory and input the command "geth attach ipc://.pupe/geth.ipc" to get the Interactive console.
I was stupid by myself。。。。。。。。

[2021-01-17 09:11] dadonaskateboard commented on #22039
Hi, its still down but 1 ETH would be very much appreciated if anyone has any for 0x4294019dAc5BD18Fd022ECc1e5720c9bfAd5A782

[2021-01-17 09:14] ligi commented on #22039
AFAIK the faucet is back again - what error do you get? I was just using the faucet this morning

[2021-01-17 09:16] ligi commented on #22180
@TheIceHole can we close the issue then? Or do you have an idea how the documation could be improved?

[2021-01-17 09:18] ierosvin commented on #22039
Yes, faucet is back. Thanks @ligi for the support while faucet was out.

[2021-01-17 12:47] diana-defi opened #22182 "Can I recover it?"
Geth crashed unexpectedly. I lost a lot of blocks after restarting. Can I recover it? (I use POA consensus, single node)

[2021-01-17 13:06] #22182 closed

[2021-01-17 20:07] smalldutta commented on #22039
Hello:
It seems to not be working for me, the error message: Could not connect to the reCAPTCHA service. Please check your internet connection and reload to get a reCAPTCHA challenge, my tweet https://twitter.com/smalldutta/status/1350896457633705984

I am on a very stable internet connection, can I have 30 eth: 0x20c3E26CDE162956318a832126CB636283a7D137
Regards

[2021-01-17 22:23] nuliknol commented on #22091
yeah, there is a global configuration, the file name is `core/blockchain.go` and the constant is:

`  TriesInMemory       = 128`

but who knows how much states it is going to hold in RAM. Geth has lots of memory management issues. Probably the devs should write a custom allocator for Golang. I have been running `import` command and every 3 hours I need to restart `geth` because it blows out the RA

[2021-01-18 04:19] LeoNCKU commented on #22168
Thanks you. I already understand.

[2021-01-18 08:14] #22180 closed

[2021-01-18 09:00] renaynay commented on #20040
The following PRs have resolved this issue:
https://github.com/ethereum/go-ethereum/pull/21883
https://github.com/ethereum/go-ethereum/pull/22153

[2021-01-18 09:00] #20040 closed

[2021-01-18 11:19] kiliw commented on #18082
I think I have the same problem here. I try to setup a private network with PoA and set the accepted gasPrice for the sealer to 0 via `--miner.gasprice=0` but still the new created contract are stuck in the txpool.
Any suggestions?

[2021-01-18 11:31] CremaFR commented on #18082
Your only solution would be to send directly the transaction to the authority node. Authority can't receive 0 gas price transactions from remote nodes

[2021-01-18 11:41] kiliw commented on #18082
@CremaFR Thanks for your super fast answer. I got it running with sending my transaction directly to the sealer with a gas price of 0.
Still wouldn't it be possible to somehow enable the sealer to also accept transactions from an other node, with rpc enabled, within a private network ?

[2021-01-18 11:50] CremaFR commented on #18082
I don't think it is possible. I would recommend using Hyperledger Besu for that. And you have the benefit of IBFT 2.0 to have instant block finality compared to Clique. I know this might not be a solution for you but this what we did in my company and it works

[2021-01-18 11:54] kiliw commented on #18082
Alright I will check it out. The thing is we used the [Azure Blockchain](https://azure.microsoft.com/en-us/) and there everything worked without any ether at all so I though I should be able to get a similar behavior on my private net since they also use geth as far as I understand

[2021-01-18 13:21] holiman commented on #22175
Having looked into it a bit more, this is probably fine. I have opened a PR to lessen the amount of loggging a bit.

[2021-01-18 13:21] #22175 closed

[2021-01-18 13:36] #22007 closed

[2021-01-18 22:33] AtomicLemon commented on #20939
@benslaney Honestly at this point, no VPS really works anymore... Either use your own hardware or get a really big one at something like https://contabo.com/en/vps/. The 15 and 27 Euro ones work really well for me. (30/60GB RAM)

[2021-01-19 07:08] Code0x2 opened #22188 "verbosity option doesn't work"
#### System information

Geth version: `1.9.25`
OS & Version: linux
Commit hash : none

#### Expected behaviour
Running geth with --verbosity <level#> should set a logging option

#### Actual behaviour
Running the command `geth --verbosity 4` sets it to use debug logging, however,
running the command `geth console --verbosity 4` does not work. Other options such as --ws and --maxpeers work fine

[2021-01-19 08:23] MariusVanDerWijden commented on #22188
`console` always needs to be the last argument (as it is a subcommand).
So `geth --verbosity 4 console` should work. If not please reopen

[2021-01-19 08:23] #22188 closed

[2021-01-19 09:04] karalabe commented on #22159
`gccgo` is trailing the Go compiler by 3-4 versions and I'm not even sure it fully implements the assembly instructions even in the released ones. Maybe early on gccgo was an interesting project, but it cannot keep up with upstream Go. I don't think we will ever care about building with this strange compiler.

[2021-01-19 09:04] #22159 closed

[2021-01-19 09:22] Code0x2 commented on #22188
Odd. It works for all other options other than verbosity. Thanks though!

[2021-01-19 10:52] benslaney commented on #20939
ah thanks for that! just got a 60GB instance with the provider that you recommended, that looks like a great deal. AWS still seems to sync fine for me, so hopefully this will sync on this VPS and it's not a latency issue where the node likes to reside on AWS with basically zero latency with all the other nodes...

[2021-01-19 11:23] MariusVanDerWijden commented on #21457
I spent some time thinking about this issue, but I don't think that we should implement it. The SimulatedBackend should imo only be used from go code and I don't think setting up a RPC API on it should be a priority. The sim backend is mainly useful for unit testing in go, for other use cases the `--dev` mode of ethereum is better suited.

For the simulated backend to be able to provide all necess

[2021-01-19 15:28] vrde opened #22192 "abigen import of U256 is wrong"
#### System information

Geth version: `v1.9.25`
OS & Version: Linux
Commit hash : (if `develop`)

#### Expected behaviour

Running `abigen` on the ABI of a smart contract should generate valid go code. I guess the regression bug has been introduced by #21020. The project `go-solidity-sha3` had the [same issue](https://github.com/miguelmota/go-solidity-sha3/pull/11/files#diff-f064f8981f50dce0733db

[2021-01-19 15:38] MariusVanDerWijden commented on #22192
You need to update abigen see also https://github.com/ethereum/go-ethereum/issues/21644

[2021-01-19 15:38] #22192 closed

[2021-01-19 15:49] vrde opened #22193 "abigen code fails at compile time"
#### System information

Geth version: `v1.9.25`
OS & Version: Linux
Commit hash : (if `develop`)

#### Expected behaviour

Running `abigen` on the ABI of a smart contract should generate valid go code.

#### Actual behaviour

The following invocation gives an error on the `result` parameter.

[code]

The error is `cannot use result (variable of type interface{}) as *[]interface{} value in argumen

[2021-01-19 15:59] vrde commented on #22192
Thank you for your prompt reply. I installed `abigen` with `go get`, but I didn't notice I had an older `abigen` installed in my `bin` path.

[2021-01-19 17:46] Jorgeadverd opened #22194 "Getting Socket timeout issue from Node"
Hi There,

I hope you are doing well,

After sync complete we get success transaction 2-3 times and without any changes on Node or code we start getting continues socket timeout, we have check all the connectivity and telnet also working fine.

Kindly help us to know what should we take next setup for this issue, also we have upgraded the required web3J as confirmed by web3j community.

[code]

##

[2021-01-19 23:56] AtomicLemon commented on #20939
Ahh fair enough @benslaney. Let me know if you need help with anything else, I'm glad :)

[2021-01-20 03:07] ligi commented on #22194
wondering why this is a geth issue and not a web3j issue

[2021-01-20 03:59] cmtatro85 commented on #2568
Not sure if this helps any one, You need to delete the data at the cache dir. Somewhere in the sync the program broke, or had a partial download. Clearing your data dir. You can find it in the AppData/local on windows. This will cause a resync, I did not trying clearing the invalid block and everything after it, but in theory doing that should work.

[2021-01-20 04:40] nazneenk commented on #21951
Could this be the way I setup and start the node?

[2021-01-20 07:16] itzmashy opened #22195 "Sync not starting"
Trying to sync db

geth --datadir=C:/Eth/db --networkid 2061 --port 30305 --nodiscover --rpc --rpcaddr 127.0.0.1 --rpcport 8505 --ipcpath=C:/Eth/db/geth.ipc --syncmode "light"

been stuck over an hour at:

INFO [01-19|22:26:11.679] Loaded most recent local header          number=0 hash="d4e567…cb8fa3" td=17179869184 age=51y9mo2w
INFO [01-19|22:26:11.686] Configured checkpoint registrar          ad

[2021-01-20 07:53] holiman commented on #2568
A simpler way is to do `geth removedb` (can be combined e.g. `geth --goerli removedb`). That will prompt you whether to remove the 'regular' db, the 'ancient' db and the 'light' db. You can then choose to let the 'ancient' remain, and the next time you sync, you don't actually have to download ~120Gb of block data, only the state.

[2021-01-20 07:54] ligi commented on #22195
give the discovery some time. Currently there are not a lot of LES servers - hopefully #21876 will help in this regard

[2021-01-20 07:57] holiman commented on #22195
Well, several things.

- You're using `--networkid 2061`, which means incompatible with the rest of all regular nodes, so the only peers you can ever connect with are other peers using that exact network id.
- You've also disabled discovery with `--nodiscover`, so it won't actively search for any peers.
- You're node also seems to be behind a NAT, so external nodes can't connect to it, only peers

[2021-01-20 08:00] karalabe commented on #20939
@benslaney Unfortunately fast sync currently is heavily limited by network latency and it places a significant serving time on the remote side too. There's a new sync algo that we're rolling out in the short term (been sitting on it for a year now), which will hopefully help in the future.

[2021-01-20 08:12] rjl493456442 opened #22196 "The warnings are printed in the light client console."
[code]

[2021-01-20 08:18] itzmashy commented on #22195
yeah totally fair, i have sync'd for two years and all the commands have changed, and i have had a heck of a time trying to figure out how to even launch console haha

what network id should i use, and should i remove no discover?

ty for your help!

[2021-01-20 08:25] itzmashy commented on #22195
@holiman you're a genius :) i changed my command:

geth --datadir=C:/Eth/db --port 30305 --rpc --rpcaddr 127.0.0.1 --rpcport 8505 --ipcpath=C:/Eth/db/geth.ipc --syncmode "light"

and now...

INFO [01-20|00:24:30.327] Block synchronisation started
INFO [01-20|00:24:33.217] Looking for peers                        peercount=1 tried=15 static=0
INFO [01-20|00:24:34.360] Generating ethash verification

[2021-01-20 08:25] #22195 closed

[2021-01-20 08:30] itzmashy commented on #22195
@holiman , dumb follow up question if you don't mind (please bear with me, as I mentioned it's been a while), once i'm done syncing, will i be able to run commands in this window? is this the console? or do i need to launch the console in a separate window to actually interact with my wallet? And if so, how do i do that?

thanks again!

[2021-01-20 08:56] rjl493456442 opened #22197 "Extend the "TraceCall" API so that the state override can be support"
Now the `eth_call`API can accept an optional parameter `overrides *map[common.Address]account` so that the user can customize the states by himself. Would be nice to include this feature in the tracer API too.

[2021-01-20 09:30] holiman commented on #22195
If you want to run in the same window, use
[code]
If you want to use a separate one, use
[code]
If memory serves me right, there might be some windows-quirk with named pipes, IIRC, and you may have to actually use something like
[code]

[2021-01-20 13:33] MariusVanDerWijden commented on #20275
I think this issue can be closed now. Following improvements have been made to the `abi` package:
* Unified three types of type checking into one
* Created Encoding and Decoding tests for for all base types
* Encoding and Decoding tests for struct and array types
* Added a fuzzer to test packing/unpacking for all possible combinations of contract parameters and base types

If you have some more su

[2021-01-20 13:33] #20275 closed

[2021-01-20 17:02] itzmashy commented on #22195
@holiman thanks again for your help!
 i haven't been able to successfully attach :(  lmk if i should open a new issue but when i run

geth attach C:/Eth/db/geth.ipc
i get Fatal: Unable to attach to remote geth: no known transport for URL scheme "c"

if i do geth attach \\.\pipe\C:/Eth/db/geth.ipc

Fatal: Unable to attach to remote geth: parse "\\\\.\\pipe\\C:/Eth/db/geth.ipc": first path segment i

[2021-01-20 17:24] holiman commented on #22077
@fjl want to handle this?

[2021-01-20 18:10] kumavis opened #22200 "ancient chain segments already extracted"
[code]

getting this error message. node has been running without issue for awhile. may have started after a system restart. path is correct, on non-full disk, that contains the ancient db

[2021-01-20 18:32] itzmashy opened #22201 "Unable to attach"
#### System information

Geth version: `geth version`
Geth
Version: 1.9.25-stable
Git Commit: e7872729012a4871397307b12cc3f4772ffcbec6
Git Commit Date: 20201211
Architecture: 386
Protocol Versions: [65 64 63]
Go Version: go1.15.6
Operating System: windows
GOPATH=
GOROOT=go

OS & Version: Windows 10

#### Expected behaviour

i haven't been able to successfully attach :( i run:

geth attach C:/Eth/d

[2021-01-20 18:32] itzmashy commented on #22195
i submitted new issue just in case: https://github.com/ethereum/go-ethereum/issues/22201

[2021-01-20 18:36] holiman commented on #20965
Fixed via https://github.com/ethereum/go-ethereum/pull/22103

[2021-01-20 18:36] #20965 closed

[2021-01-21 00:19] david-drinn commented on #15797
I was led here for the copydb help. Just for future reference for people landing here, the copydb interface has apparently also been updated with the ancient folder feature. You have to specify the ancient folder as the second argument. For example:

    geth --datadir=/my/temp/datadir copydb --cache=512 /my/main/datadir/geth/chaindata/ /my/main/datadir/geth/chaindata/ancient

I was assuming that

[2021-01-21 02:27] itzmashy commented on #22201
i was able to start the console like:
geth --datadir=C:/Eth/db --port 30305 --rpc --rpcaddr 127.0.0.1 --rpcport 8505 --ipcpath=C:/Eth/db/geth.ipc  console

[2021-01-21 02:27] #22201 closed

[2021-01-21 03:11] rjl493456442 commented on #22200
The path of ancient database is `/extra-data/geth`. Can you list this folder? The log says that the ancient database is empty(no entry contained).

[2021-01-21 03:31] kumavis commented on #22200
@rjl493456442 here ya go

`/extra-data/geth` is mapped to `/mnt/extra-data`
[code]

[2021-01-21 03:57] kumavis commented on #22200
not really sure how these files ended up empty :thinking:
[code]

[2021-01-21 08:34] MariusVanDerWijden opened #22206 "Move the simulated backend and the abi package"
# Rationale

Right now before the 1.10 release is the best timing to do breaking changes.
Moving the simulated backend from `accounts/abi/bind/simulated` to either `/simulated` or maybe `tests/simulated` would be good.
Also moving the `accounts/abi/bind` to `abi/bind/` would be a good change imo, as `abi` doesn't have anything to do with accounts.

# Implications
Moving the packages would have imp

[2021-01-21 08:45] rjl493456442 commented on #22151
It's not a normal log, but it's the WAL file of the leveldb. So you definitely lose a lot of data. The real log is `LOG`

[2021-01-21 08:47] rjl493456442 commented on #22151
Also you are using the `1.9.25`. This version has the default enabled light pruner which will be triggered every 32768 blocks.
Seems weird the pruner is not working.

[2021-01-21 09:31] holiman commented on #22206
Triage discussion:
- No strong practical points in favour, other than it being 'more correct'.

@karalabe neither pro nor against

Decided to wait for input from @fjl

[2021-01-21 09:34] holiman commented on #22197
Triage discussion: this can be added without making a breaking change, by adding a new field to the input config for that particular call.

[2021-01-21 09:39] ligi commented on #22055
Can you provide all CLI parameters?

[2021-01-21 09:43] zsfelfoldi commented on #22151
Is your application doing a log history search? That seems like the most obvious reason that can justify downloading a lot of block bodies. Syncinc does not do that.

[2021-01-21 09:49] #21965 closed

[2021-01-21 09:57] holiman commented on #21926
This is what `clef` uses (`auditlog.go`):
[code]

[2021-01-21 10:00] ligi commented on #15717
replaced by #22143

[2021-01-21 10:00] #15717 closed

[2021-01-21 10:03] gballet commented on #22024
It seems that you are using a non-official version clang/LLVM, which is the one coughing on the problem. The versions not provided by Apple don't seem to define `TARGET_OS_MAC`.

The gopls people don't look like they are keen on fixing it, so there's not much we can do. We will upgrade to the latest version of that package when they fix it. In the mean time, I'll close the issue as this is related

[2021-01-21 10:03] #22024 closed

[2021-01-21 10:05] gballet commented on #22037
Closing, this is due to using a version of clang not supported by Apple, for which there is nothing we can do.

[2021-01-21 10:05] #22037 closed

[2021-01-21 11:17] #22131 closed

[2021-01-21 13:33] MariusVanDerWijden commented on #22050
Update | package | version | comment
---------| -------- | -------- | ---------
no | github.com/cespare/cp | v1.1.1 | introduces overwrite functions to the copy functions
maybe | github.com/fatih/color | v1.10.0 | introduces new colors, vendors in dependencies, updates a dependency which had a index out of bounds in windows, other windows issues (https://github.com/fatih/color/pull/115)
yes  | git

[2021-01-21 22:53] holiman commented on #22050
Re `github.com/aws/aws-sdk-go` , if aws upstream changes their APIs, and we fail to do the corresponding updating of the client, we'll notice only when our discovery crawler starts failing to update the route53 dns entries for ethdisco. Might be worth staying on top of -- what do you say, @fjl ?

[2021-01-21 23:02] holiman commented on #22050
Re github.com/prometheus/tsdb , the repo was archived, and merged into https://github.com/prometheus/prometheus/tree/master/tsdb/. We're only using this pretty small package: https://github.com/prometheus/prometheus/tree/master/tsdb/fileutil , and yeah, really _only_ `fileutil.Flock`. Seems non-trivial to inline though, because it's several platform-dependent files.

I'd be in favour of updateing

[2021-01-21 23:04] lightclient opened #22208 "Can't call internal tracer in `traceBlockByNumber`"
#### System information

Geth version: `1.9.25`
OS & Version: Ubuntu

#### Expected behaviour
Run internal tracers.

#### Actual behaviour
[code]

#### Steps to reproduce the behaviour
From JS console:
[code]

[2021-01-21 23:11] ryanschneider opened #22209 "syncing error: header broke chain ordering"
#### System information

Geth version: 1.9.25
OS & Version: Linux

#### Expected behaviour

I was testing something so setup two nodes, node A is peered with the wider devp2p network while node B is started with a fairly recent copy of the chain (maybe an hour old) and is running with the arguments `--nodiscover --netrestrict 10.0.0.0/8`, it's then manually peered with node A via admin_addPeer/add

[2021-01-21 23:33] ryanschneider commented on #22209
So I _think_ the issue is that `downloader.fetchHead`, `.findAncestor` and `.DeliverHeaders` all share the same `headerCh` but `findAncestor` and `.fetchHead` both seem to assume that the next header in the channel is always the one they asked for, even though there's nothing stopping `.DeliverHeaders` from injecting other headers, leading somewhat racy behavior.

For example, imagine:

- findAnce

[2021-01-21 23:46] ryanschneider commented on #22209
Also FWIW I don't think this error is actually related to the network topology above I described, I checked another test node running 1.9.24 (an archive node with "vanilla" devp2p network setup), and it seems like it's hit this same "race" 15 times in the last month:

[code]

[2021-01-22 03:15] youngqqcn commented on #21773
I run make in `termux` on my android phone, `karalabe/usb` cause errors as belowing:

[code]

[2021-01-22 04:38] joeytwiddle commented on #22151
@zsfelfoldi For each block, we are reading every ETH transaction and every USDT 'Transfer' event. We do this not at the head block, but 10 blocks behind the head (for confirmation).

[code]

(We also regularly fetch a bunch of balances, again 10 blocks behind the head.)

Based on what you said, I am guessing that the events could indeed be the cause.

Thanks. It had not occurred to me that the dis

[2021-01-22 13:27] holiman commented on #22209
I've looked into this a bit now, and experimented a bit. There are two possible cases that I think you are reporting.

1. Whether a 'spurious' header from some other peer can disrupt the common-ancestor phase of the sync. TLDR; No.

At https://github.com/ethereum/go-ethereum/blob/master/eth/downloader/downloader.go#L854, there's this thing which _looks_ like it may cause problems

[code]
(there ar

[2021-01-22 13:32] ryanschneider commented on #22209
I need to review the code again but I thought the block itself was
broadcast to the square root of len(peers) but then the header was sent to
all the other peers (or maybe all peers).

On Fri, Jan 22, 2021 at 5:28 AM Martin Holst Swende <
notifications@github.com> wrote:

[2021-01-22 13:35] holiman commented on #22209
I agree -- it seems better to simply wait it out and see if the peer delivers what we asked for (before the timeout triggers), and simply ignore anything else coming in.

Otherwise, we might end up in the scenario where previous deliveries keep piling up and being mistaken as answers to new queries.

[2021-01-22 14:55] holiman commented on #22209
Nope, AFAICT it's not the header, it's the announcement of new `(hash, number)` pairs

[2021-01-22 15:45] ryanschneider commented on #22209
Hmm, you are 100% correct it is the announcement not the header itself that's sent, my mistake.

But.. in response to the announcement if I'm tracing things correctly it's the block _fetcher_ not the _downloader_ that in turn ultimately issues a `GetBlockHeadersMsg` message in response to this announcement via `blockFetcher.Notifty(..., peer.RequestOneHeader, ...)` here:

https://github.com/ethere

[2021-01-22 15:50] ryanschneider commented on #22209
Anyways I'm very curious what your thoughts are on the idea of reenqueuing the "unexpected" messages instead of discarding them or erring out, if I recall correctly I've seen geth take that approach in other parts of the code but am having trouble finding where.

[2021-01-22 16:05] holiman commented on #22209
Yeah, that diagram looks like it could be a potential cause of these types of errors. With eth/66, these types of problems will go away. In the meantime, my fix will improve it a tiny bit, and seems pretty safe. If we instead do some more elaborate pushback/store thingy, that sounds pretty complex if we also want it not to be a DoS vector. I think.

[2021-01-22 16:58] Quezacoatl1 opened #22215 "Bad Block / invalid merkle root"
Hi, what additional info do you need? :)
I will need to get the system up and running soon, as it is my backup system, so problaly I'll try syncing from 0 tomorrow. I hope you can tell me what you need before I get anxious as I have no backup :P

And BTW: Thanks for the awesome work on the client!

#### System information

Geth version: 1.9.25 (I think)
OS & Version: Ubuntu 20.04

#### Expected be

[2021-01-22 18:53] lrettig commented on #21584
[code]

I'm doing the same thing, and running into the same issue. FYI, the right way to kill geth gracefully in this case would be to send a `kill -INT <pid>` - which is working well for me.

[2021-01-23 05:06] ymonye commented on #22087
Hey Martin, this was resolved. I'm currently using a software (CentOS) RAID-6 setup, which heavily / negatively impacts overall performance versus a hardware RAID setup, which I plan to migrate to.

[2021-01-23 05:06] #22087 closed

[2021-01-23 12:15] dankrad opened #22218 "Command line help"
The current version of geth gives the following line in the command line help:
[code]
Actually, it appears that to start go-ethereum as an Ethereum node, the `command` argument is left out. This should be documented by showing that command is optional:
[code]
and adding a line describing this behaviour, e.g. "leaving out the `command` parameter starts geth as an ethereum node"

It may also be nice

[2021-01-23 12:34] albertchon opened #22219 "Abigen v1.9.25 bytes32 interface conversion bug"
#### System information

Geth version: `geth version 1.9.25`, `abigen version 1.9.25-stable`
OS & Version: OSX
Commit hash : `e7872729012a4871397307b12cc3f4772ffcbec6`

#### Expected behaviour
After generating contract bindings using `abigen version 1.9.25-stable`, I tried calling a view function `getOrderRelevantStates` (see below)

[code]
where the `DerivativeOrderInfo` struct is defined as
[cod

[2021-01-23 12:45] ligi commented on #22218
good point actually - fixing via 22220
not yet sure about adding the line describing the behavior as it breaks with the rest of the help layout - but for sure command should be marked optional

[2021-01-23 17:18] gballet opened #22222 "debug_traceChain is no longer working"
The code for `TraceChain` is still present in the codebase, but somehow it's not callable from the rpc interface nor the console. `debug_traceBlock*` work as expected.

#### System information

Geth version: `1.9.26-unstable` && whatever runs on the archive node @ligi
OS & Version: Linux
Commit hash : `master`

#### Expected behaviour

Returning a list of trace results.

#### Actual behaviour
[cod

[2021-01-23 17:21] ligi commented on #22222
the archive node is currently running:

[code]

[2021-01-23 17:21] dankrad commented on #22218
Also consider my suggestion of adding a command "node" to actually start the Ethereum node. I filed this report after staring on the help screen for like 10 minutes and wondering "how to I actually start the node"

[2021-01-23 17:22] ligi commented on #22218
I think this is a great idea - then we could also mark this one as "default"

[2021-01-23 19:13] thojest opened #22223 "Calling eth_signTransaction via JSON RPC reports "gas not specified" when gas field missing in transaction"
According to the [JSON RPC spec](https://eth.wiki/json-rpc/API) `eth_signTransaction` uses a gas default. However, when  trying to sign a transaction with the gas field missing, geth reports ` { code: -32000, message: "gas not specified" }`.

This does not happen when e.g. using the same transaction with the `eth_sendTransaction` procedure.

I am not sure if this is intended behavior or a bug. Thi

[2021-01-24 01:08] vogelito opened #22224 "geth taking a really long time (4+ mins) to start up"
#### System information

Geth version: `geth version`
[code]

OS & Version: Linux (Ubuntu 20.04 LTS)

#### Expected behaviour
geth should start within a few seconds.

#### Actual behaviour
geth takes 4+ minutes to start

#### Steps to reproduce the behaviour
All I need to do is restart geth and I'll see the startup sequence take a significant amount of time

#### Backtrace

[code]

#### Additional

[2021-01-24 01:30] ligi commented on #22224
Can you elaborate how you define "start" and how you measure the times (where is the start where is the end of measurement)?

[2021-01-24 01:35] vogelito commented on #22224
Hi @ligi - I'm measuring the time between the log line:
[code]

and the log line:
[code]

Timestamps above :)

[2021-01-24 01:36] vogelito commented on #22224
I understand this might not constitute a proper "start" definition, but it's where I'm now seeing a long delay upon start.

[2021-01-24 10:31] gballet commented on #22224
Out of curiosity, what happens if you add the `--nousb` option ?

[2021-01-24 11:28] holiman commented on #22224
Istr seeing similar behavior on the berlin archive node. I think it's leveldb open that takes a long time, sometimes. @ligi have you seen this?

[2021-01-24 14:14] rjl493456442 commented on #22222
You have to explicitly expose the `debug` namespace APIs via the http, by default it's not.

[2021-01-24 14:14] rjl493456442 commented on #22222
You have to explicitly expose the `debug` namespace APIs via the http, by default it's not.

[2021-01-24 14:19] rjl493456442 commented on #22215
Are you using the snapshot? Can you provide the commands to start the Geth?

[2021-01-24 16:17] yorickdowne commented on #22224
When you stop geth, do you have a custom timeout? Geth needs time to flush DB, if it's only given 15 or 30 secs to shut down, DB may be in a state that takes more time to on start. I set Geth shutdown timeout to 3 minutes, that seems to work well.

[2021-01-24 16:56] Quezacoatl1 commented on #22215
I followed Somer Esat's guide. It synced from 0 in fast mode and was shut off for a few days after it was synced.

[2021-01-24 18:44] karalabe commented on #22224
LevelDB triggers compaction when you open it more aggressively than during normal mode of operation (I guess their rationale was that a startup is a golden opportunity to shuffle some data before coming online). If that's the cause, there's not much we can do, an archive node is gigantic, so database maintenance will inherently be killer on perf.

[2021-01-24 20:01] vogelito commented on #22224
I'll try this. If anything hopefully it removes those error messages 😄

It is managed by systemd, so whatever the default there is.

Here's the log from the last restart:
[code]

And `journalctl` doesn't show anything obviously wrong:
[code]

If you think of a way to test if this is the cause, I'd be happy to try it out.

[2021-01-24 20:08] vogelito commented on #22224
Logs from restart with `--nousb` option added.

Error lines gone, but restart still almost 4 mins:
[code]

[2021-01-24 23:50] ligi commented on #22222
@rjl493456442 the archive is started with `-rpcapi eth,web3,debug` - guess this is what you mean? Also `debug_traceBlock` is working as expected

[2021-01-25 04:05] pawanlapits opened #22226 "mining address get changed everytime i have set in ETH private blockchain"
I have a private ethereum node running on aws instance, the time when started the node i set the etherbase/coinbase address to the first account of the node. As i started the node i find that first account is getting the rewards of mining and everything was as expected, but after few hours the miner/etherbase address automatically get changed, as a result of which funds from first account get tran

[2021-01-25 07:17] tkblack opened #22228 "geth console can‘t input string slice, how to solve this problem？"
version : v1.9.15
os : centos 7.6

[code]

I write a contract like above, geth console can't input string type or string slice type, but successfully by web3j. So, is there any way to input string type into the geth console?

[2021-01-25 07:30] holiman commented on #22226
Well, you're running with `--allow-insecure-unlock`, plus expose the rpc interface to the public interface `0.0.0.0`, plus expose `admin, personal`.
I suspect what's happening is that someone on the internet does RPC calls to set your miner address to their address, so they get the rewards. It's a useless attack, since you're not on mainnet, but I guess the attacker-scripts doesn't bother to check

[2021-01-25 07:34] holiman commented on #22226
I suspect they also used the fact that the account was unlocked to also steal your funds.

[2021-01-25 07:40] MariusVanDerWijden commented on #22228
I think that's a problem with the old version of web3.js that we use in the console, we use 0.20.1.
It is not really possible for us to update web3js at this point. My suggestion would be to not use the geth console to interact with contracts.

[2021-01-25 09:31] MariusVanDerWijden commented on #22219
@albertchon Could you maybe share your solidity contract so that I can reproduce the issue better?

[2021-01-25 09:32] tkblack commented on #22228
@MariusVanDerWijden Thanks for your reply! I got it.

[2021-01-25 09:32] #22228 closed

[2021-01-25 11:52] iht76 opened #22229 "Transaction recieved from subscribtion, but does not exist in the TX pool"
I am running local Geth and I subscribe to pending transactions....
so I start receiving the stream, however there are transactions which were broadcasted to the subscribtion (so I do recieve them), but when I check in the tx pool (via txpool.content) they do not exist there...

Why do they not appear in the tx pool, BUT get broadcasted via the subscribtion?

Should the Tx not enter in the Tx pool

[2021-01-25 13:29] #22129 closed

[2021-01-25 14:19] begetan commented on #21385
A digging of the Geth code showed that list of unconfirmed transactions flushes into the disc each hour. So you have a chance to lost unflushed transaction before the flushes after restart in an active working environment.

[2021-01-25 16:35] gballet commented on #22222
@s1na provided the right approach in js, this require the subscription.

[code]

#22232 proposes a fix for using with `ethclient`, it needs to be rebased and I don't want to spend any more time on this.

[2021-01-25 16:35] #22222 closed

[2021-01-25 16:41] dev-intellisoft commented on #2981
I'm have the same issue? any solution?

[2021-01-26 00:50] hallahan commented on #21978
Maybe try compiling with go 1.16beta1.darwin-arm64.pkg ?

https://golang.org/doc/install?download=go1.16beta1.darwin-arm64.pkg

[2021-01-26 04:41] pawanlapits commented on #22226
So what's your suggestion here. What can we do to protec?

[2021-01-26 05:19] ligi commented on #22226
e.g. don't ` --allow-insecure-unlock`

[2021-01-26 08:29] holiman commented on #22226
Typical recommendations:
- Don't unlock accounts, especially if you also expose RPC. Unlocking is inherently _insecure_ hence the hint in the switch to explicitly do it anyway: `insecure-unlock`.
- Don't expose your node RPC towards the internet: don't set `0.0.0.0` as the interface. use localhost instead, and if you want to interact with it, you set up an ssh tunnel `ssh -L 8545:localhost:8545 us

[2021-01-27 03:09] pawanlapits commented on #22226
"I suspect they also used the fact that the account was unlocked to also steal your funds."

how can we do transaction without unlock account.
how can we protect rpc interface, currently we have public(0.0.0.0)

We have deployed one service on same server which interact with node and further we will use that service api in our application.
in this case, how can we protect out rpc interface

[2021-01-27 03:18] ligi commented on #22226
you can sign transactions outside the node - e.g. with clef

make it not public or restrict it (by not having admin, personal )

[2021-01-27 09:31] MariusVanDerWijden commented on #21922
[code]
https://travis-ci.com/github/ethereum/go-ethereum/jobs/474894707

[2021-01-27 11:39] MariusVanDerWijden commented on #22229
It could be that the txpool already dropped the transaction. The txpool only has a limited number of slots and if they are filled up, transactions that pay too little gas price are dropped. If the node received a replacement transaction (a transaction from the same sender with the same nonce but 10% more gas), it will also drop the old transaction.

[2021-01-27 11:43] MariusVanDerWijden commented on #21922
[code]
https://ci.appveyor.com/project/ethereum/go-ethereum/builds/37429462/job/213d80854bi5d0b3

[2021-01-27 12:42] marcoVanLarco commented on #21978
@mkashiouris hi did you manage now? I would like to test Geth on the M1 as well...should in theory be supported now? Tx

[2021-01-27 12:44] iht76 commented on #22229
in this case the transaction is still pending and its not dropped .... it just doesnt appear in my Tx pool.
and if its not in the pool, how and why do I recieve it via the subscribtion?

[2021-01-27 12:51] MariusVanDerWijden commented on #21273
I wrote a script that runs a goerli node for 5 minutes at a time and interrupts it afterwards. If geth didn't shutdown in 2 minutes it will notify me. I'll let it run for some iterations and check back. Script is here: https://github.com/MariusVanDerWijden/go-snippets/tree/master/gethshutdown

[2021-01-27 12:57] haihongS commented on #21273
almost forgot it :)

has this problem been solved?

[2021-01-27 13:02] MariusVanDerWijden commented on #21273
Well almost, it still takes a long time to shutdown (1-2 minutes), but I don't think it deadlocks anymore. I'll run my script for a bit and see if I can repro any deadlocks.

[2021-01-27 13:24] holiman commented on #21273
We have had deadlocks during shutdown, as far as I can remember, we've found and fixed two such issues since june 2020. I think it's safe to close this

[2021-01-27 13:26] #21273 closed

[2021-01-27 15:18] pawanlapits commented on #22226
/usr/bin/geth --datadir node01 --networkid 10  --targetgaslimit 9000000000000 --nousb --etherbase '0x669980d2EF6b14e15e4e1D32E70F2ccC83EC98c9' --rpc --rpcaddr "127.0.0.1" --rpcapi admin,db,eth,debug,miner,net,shh,txpool,personal,web3 --rpccorsdomain '*'

Is this fine now

[2021-01-27 15:21] pawanlapits commented on #22226
can you please share any link or example of how can we use clef for transactions

[2021-01-27 16:28] hallahan commented on #21978
I installed Go with 1.16beta1.darwin-arm64.pkg. This worked without any problems. Geth is now running on my M1 MacBook Air. I was able to pull in both mainnet and ropsten successfully.

[2021-01-27 20:02] taylorjdawson commented on #19181
If this occurs for anyone else where all it says is "Killed" this is the OS terminating the process and you can see why by running: `dmesg`. This was my output:
[code]
So definitely a lack of RAM, hope that helps!

[2021-01-27 20:11] relyt29 opened #22244 "RPCDaemon Out of Memory Error"
This is a duplicate of https://github.com/ledgerwatch/turbo-geth/issues/1458 - the bug seems to be most likely in geth and not turbo-geth specifically, so I thought I'd copy the bug over to upstream for visibility.

Note: This could be leveraged as a denial of service attack against long-running Geth nodes with lots of history that expose the debug namespace publicly

#### System information
[code

[2021-01-27 20:18] Haaroon commented on #22244
I concur with tyler that this tx indeed causes a crash

[2021-01-27 20:20] marcoVanLarco commented on #21978
Hi @hallahan thanks a lot for your reply, looking forward to get this going. Cheers

[2021-01-28 08:58] ligi commented on #22208
does `debug.traceBlockByNumber(11701516, {'tracer': 'unigramTracer'})` work?

[2021-01-28 09:11] MariusVanDerWijden commented on #22073
Could you paste the arguments you used to start geth?

[2021-01-28 09:15] MariusVanDerWijden commented on #22063
Can you add the svg of the pprof trace? We are aware that there are some problems with RPC since all requests are scheduled regardless of whether we have enough resources available

[2021-01-28 09:47] ligi commented on #22244
The cause seems to be that the tx touches a lot of memory. You can disable memory output when tracing - could this work for you? There is a vmconfig for this.

[2021-01-28 09:48] holiman commented on #22244
I _think_ this is the way to do it:
[code]

[2021-01-28 09:53] fjl commented on #22218
The documentation is fixed now, but we don't want to add the "node" command. Geth has subcommands for functionality beyond just running the node, but being an Ethereum node is the main thing, and doesn't need a subcommand.

[2021-01-28 09:53] #22218 closed

[2021-01-28 09:55] ligi commented on #22194
Which method are you calling? Do you change timeouts - or do you know what the default is

[2021-01-28 09:57] ligi commented on #22102
yea - please let us know if it worked! Good luck!

[2021-01-28 10:00] ligi commented on #22229
I guess it is just not in the pool anymore. Not really sure what action we can take here. Does it break any of your use-cases?

[2021-01-28 10:26] iht76 commented on #22229
What I dont really understand is how the subscribtion works .... why I am recieving a transaction which is not in the nodes pool? Perhaps it never went through it and I got it from other node? I would expect that if I recieve a transaction throug subscribtion,  it would first go through the nodes pool, no ?

I am trying to do fast check of say 2k transactions if they are mined or not.... if i do t

[2021-01-28 12:04] #21524 closed

[2021-01-28 12:05] MariusVanDerWijden commented on #21524
resolved in https://github.com/ethereum/go-ethereum/pull/22030

[2021-01-28 12:08] MariusVanDerWijden commented on #21510
I've added an explanation of the most commonly used metrics on the docu page: https://geth.ethereum.org/docs/interface/metrics
Explanation of the other metrics can only be found by looking through the code for them.
They do change sometimes so I don't think it makes sense to document all of them.

[2021-01-28 12:08] #21510 closed

[2021-01-28 12:51] MysticRyuujin commented on #22244
I think the primary issue here is that there are no safeguards in place, geth literally gets killed without warning by the OS.

This could lead to database corruption, DoS, etc.

[2021-01-28 12:59] ralph-pichler commented on #20123
this issue still exists in the latest version of clef. has anyone been able to set permissions correctly?

[2021-01-28 13:43] MariusVanDerWijden commented on #19346
Yep, I can still repro this. Calling `debug_setHead` forks the second transaction away. If we try to resend the same transaction an error `already known` is thrown.
[code]

[code]

The suggested workaround allows anyone to skip nonces which would be fatal for the network. Since the transactions are not in the txpool anymore they should be commited to the miner on resubmission but aren't as resubmi

[2021-01-28 13:55] MariusVanDerWijden commented on #21771
@zhang112596 Could you try to dump your genesis? `./geth -datadir "c:\MyGeth\node01" dumpgenesis` This allows us to see which forks are enabled in your private network. The REVERT opcode was introduced in the Byzantium hardfork. If your network doesn't have this fork enabled, transactions that use this opcode will fail. A solution then would be to upgrade your private network with the byzantium ha

[2021-01-28 20:01] DerekC2 commented on #22039
Hi there,
I an trying to learn about ethereum and solidity and cannot obtain much ether from rinkeby.
Could someone send me some ether to 0x99dFE914d7678183aD89B323C7965CED2255aB55.
Kindest regards.

PS.  You can get 1 ether a day on the Kovan test network vis github:
https://faucet.kovan.network/

[2021-01-29 06:32] huahuayu commented on #16251
@karalabe can I use aws s3 storage for ethereum block data storage? I mean aws s3 standard storage. I don't know if it's ssd or not.

[2021-01-29 11:28] karalabe commented on #22226
You can send transactions via `persona.sendTransacition` which requires the passphrase set up too, it does an ephemeral unlock and send, without allowing anyone else to use the key for anything else. That's usually the way if you want to do it via Geth.

[2021-01-29 15:53] #20123 closed

[2021-01-29 16:08] edwardsky commented on #19181
same this is still happening to me in 1.9.25 on ubuntu
/var/log/syslog.1:Jan 28 17:03:32 ethnode kernel: [496339.222751] Out of memory: Killed process 951 (geth) total-vm:13982592kB, anon-rss:9901568kB, file-rss:0kB, shmem-rss:0kB, UID:0 pgtables:22536kB oom_score_adj:0

[2021-01-30 06:19] lmj0011 commented on #20123
@ralph-pichler

If you're on Windows this [PR](https://github.com/ethereum/go-ethereum/pull/22251) is suppose to fix the issue, but if you're on Unix/Linux the permission is [0400](https://github.com/ethereum/go-ethereum/blob/v1.9.25/cmd/clef/main.go#L808)

so you would have to do something like this on the command line (Linux):

[code]

worth noting that permissions for the `masterseed.json` or a

[2021-01-30 09:35] bonedaddy opened #22252 "Simulated Backend Smart Contract Receive Function Should Increment Storage Variable But Does Not"
#### System information

go-ethereum version: v1.9.25

#### Expected behaviour

Receive function should increment totalSupply variable

#### Actual behaviour

Does not increment variable.

#### Overview

I'm testing out [this contract](https://github.com/bonedaddy/geth-pending-state-test/blob/master/contracts/test.sol) using the simulated backend. I'm testing it [with this golang code](https://git

[2021-01-30 20:41] anuragsodhi commented on #22055
Can you provide all CLI parameters? how to provide these?
It starts normal when i start geth, then over time when full peers are synced, it starts spiking every 20-30 seconds

[2021-01-31 03:29] yueqianhaobo opened #22254 "make geth error"
#### System information

Geth version: `go1.14.7`
OS & Version: Ubuntu

Hello.
When try to make geth take error
[code]

#### Actual behaviour

#### Steps to reproduce the behaviour

#### Backtrace

[code]

[2021-01-31 03:30] yueqianhaobo commented on #22254
OS & Version:Ubuntu20

[2021-01-31 05:33] ligi commented on #21937
@AusIV @cmeisl oh sorry - this one fell through the cracks - dropping an email soon - sorry for the delay

[2021-01-31 07:31] vaibhavchellani opened #22257 "EncodePacked missing in the abi package"
# Rationale

## Why should this feature exist?

Solidity supports `abi.encode` as well as `abi.EncodePacked` and `abi` package only exposes the `pack` method that returns output that matches `abi.encode` in solidity.

## What are the use-cases?

To be able to do `abi.encodePacked` using the abi package in `go-ethereum`

[2021-01-31 13:37] ginwei opened #22258 "Couldn't connect to another peer in my geth private chain"
I wanna build a geth private network between two Raspberry Pi 3B.
And the IP is 192.168.0.107/109 respectively
The problem is, when I wanna connect them by the instruction admin.addPeer("enode..."), it didn't work. The peerCount remain 0.
Then I save the enode by static-nodes.json in ./privatechain/geth, the result still the same.
Anyone help me with this?

I started the nodes by the following com

[2021-01-31 15:26] sheeeev66 commented on #2204
I am running the `--fast` option, but still it has been running for about 5 hours and it still didn't finish. + the "pending" is only going up:

[code]

is there any way I can fix it? I executed with this command:
`geth --rcp --etherbase <wallet address> --syncmode=fast --cache=2048`

you said it takes about 20 minutes so am I doing anything wrong?
I followed the tutorial from https://geth.ethereu

[2021-01-31 16:16] holiman commented on #2204
Hah, the quote from @karalabe is five years old!Those 20 minutes are now more like "a day or two" 

[2021-01-31 21:14] leevlad commented on #21459
Hey, just wanted to drop a line here as follow-up. I was running `v1.9.20` on Linux and ran into a similar issue where pending nonces for one heavily used account (10k+ outgoing transactions) were being sporadically returned very stale. Sometimes the nonce value was 20-30 lower than it should've been, and other times they were being returned correctly.

The issue seems to have gone away after a fe

[2021-02-01 05:29] rjl493456442 opened #22259 "Light client crashes"
Light client will crash if the first connection comes too fast

[code]

[2021-02-01 07:57] machen382847508 commented on #22073
$GETH --mine --miner.threads=2 --datadir=$datadir \
  --identity="$dd" \
  --port=$port \
  --password=<(echo -n $dd) \
  --http --http.port=$httpport --http.corsdomain='*' \
  --http.api="eth,net,web3,personal,miner,admin" --allow-insecure-unlock

[2021-02-01 08:50] rebasewtf commented on #19181
could be a swap issue.

I am getting the same thing with 32GB Ram

[code]

[2021-02-01 11:50] gust1n opened #22260 "Support subscribing to event.Feed with interface channel and sending implementers"
# Rationale

Sorry if this is too meta (feel free to close), but I'm using your fanstastic `event.Feed` in another project, and stumbled upon the issue that `typecheck()` checks that it's the EXACT same type, not considering interfaces.

I suggest that if the registered type of the `event.Feed` is an interfaces, all implementers should be accepted by send as well.

This is NOT working today, but w

[2021-02-01 12:23] serkan93 commented on #15616
{
  currentBlock: 11770208,
  highestBlock: 11770287,
  knownStates: 622525676,
  pulledStates: 622355409,
  startingBlock: 11747371
}

[2021-02-01 13:41] #22208 closed

[2021-02-01 15:56] MariusVanDerWijden commented on #22257
I implemented a preliminary version of `abi.EncodePacked` here:
https://github.com/MariusVanDerWijden/go-ethereum/tree/encode-packed
It currently only does primitive types.
Am not sure whether we really want it in the code base since it is non-standard and ambiguous.

[2021-02-02 00:15] bonedaddy opened #22261 "Simulated Backend Math Based Operations Dont Necessarily Match Expected Results"
I'm attempting to port some math contracts from the balancer system into Golang equivalents. To run tests locally I'm using the simulated backend to deploy the contracts and test them.

I'm using the following contract

[code]

In the case of the `Bpowi` function when supplying the following values:

* `a` = `9999`
* `b` = `1`

The returned value should be `9999` but the simulated backend is givin

[2021-02-02 08:44] #22077 closed

[2021-02-03 10:02] #19346 closed

[2021-02-03 10:04] BulanAB commented on #22072
Please send eth 0xF383A484CaF6d832bF1f9448c8D536ef5FFC2688 ....Thank you

[2021-02-03 12:17] MariusVanDerWijden commented on #22261
Hmm it works for me (I compiled with solidity 0.6.5)
[code]

[2021-02-03 13:05] MariusVanDerWijden commented on #22254
Seems like an issue with your internet connection.
Could you try again? And maybe try to execute `ping 172.217.160.81` and report back?

[2021-02-03 13:22] MariusVanDerWijden commented on #22223
Yeah you're right, some methods calculate meaningful default values for the gas, gasprice and other fields while others do not. We're currently looking into creating a new standard for JSON-RPC requests s.th. we can properly test against it and find issues like this. If it is okay for you, I would propose not to fix this bug right now but rather wait until the new specification is written.

[2021-02-03 13:33] thojest commented on #22223
Thanks for the info. I am currently writing an alternative web3 implementation and noticed this one because I run all my tests as integration tests against a geth node in `--dev` mode. There are some other deviations from the spec. If there is any interest to collect these deviations I could open a new issue?

[2021-02-03 16:10] renaynay commented on #22141
Can we already deprecate most of the flags in the aliased section? Some where removed in May 2020

[2021-02-03 17:11] MariusVanDerWijden commented on #22223
Yes, we collect these deviations here: https://github.com/ethereum-oasis/eth1.x-JSON-RPC-API-standard/issues/5
If you're interested in joining the calls about the JSON-RPC spec you can join the Ethereum R&D discord, there's a json-rpc-api channel there

[2021-02-03 20:21] holiman commented on #22258
Providing the `static-nodes.json` files miight have helped -- however, the geth version is _ancient_ -- https://github.com/ethereum/go-ethereum/releases/tag/v1.5.7 it's four hears old. We don't spend time investigating issues in such old versions. If you hit the same thing with a recent version, please either file a new ticket or reopen this.

[2021-02-03 20:21] #22258 closed

[2021-02-03 20:23] holiman commented on #22254
Definitely. Please reopen if it doesn't "fix itself" or generally does _not_ appear to be some network issue on your end

[2021-02-03 20:23] #22254 closed

[2021-02-03 20:28] holiman commented on #22252
I don't know the specifics of your testing framework, but at one point, you do
[code]

Later on, however, you do
[code]
Are you sure that the sending of ether is actually mined into a block when you call `bindings.TotalSupply` here?

[2021-02-03 20:33] holiman commented on #22229
1. New tx arrives -> sent to the pool + send out on the internal channels, which get's pushed to subscriptions.
2. Now the tx exists in two totally separate places: as a piece of data in a subscription-pack, to be processed by the eventsystem, and as a transaction in the pool
3. Something happens: a higher priced one comes in, and it gets dropped by the pool.
4. You process the notification, query

[2021-02-03 20:33] #22229 closed

[2021-02-03 20:35] holiman commented on #22244
There's one way to get around this, and that's to NOT use RPC, but instead use `debug_standardTracetransaction`, which dumps it out, in a streaming form, to the filesystem.

[2021-02-03 20:38] holiman commented on #22244
Actually, one thing we _could_ do, would be to limit the size of the trace, so we'd only ever report back the first 1K lines or whatever. But IMO it's more hassle than it's worth, and also would just force us to add more options for rerunning it and get the next 1K lines etc.

Basically, don't expose `debug` to arbitrary callers, they _will_ be able to crash your node.

[2021-02-03 20:39] #22226 closed

[2021-02-03 20:40] #22150 closed

[2021-02-03 20:43] MysticRyuujin commented on #22244
#21963

[2021-02-03 20:43] holiman commented on #22142
- [ ] Decide on the specifics in the spec of EIP-2481 (hopefully on the ACD tomorrow)
- [ ] Merge https://github.com/ethereum/go-ethereum/pull/22241

[2021-02-03 20:47] holiman commented on #22117
It's low performance yes, also it misses the cases where you receive funds via a contract.

Usually logs, solidity `event`s, that leave a few bits in the block bloomfilter. There are basically no super-easy and good ways to obtain a complete listing of everything that went into your account. I'm not saying it can't be done, obviously it can, but there's no super-easy way to do it.

[2021-02-03 20:47] #22117 closed

[2021-02-03 20:49] holiman commented on #22055
CLI parameters: the Command Line Interface parameters. That is: he was asking what the exact the command was that you used for starting the node.

Spiking every 20-30 seconds is not exceptional or indicative of an error. Closing this

[2021-02-03 20:49] #22055 closed

[2021-02-03 20:49] holiman commented on #22172
Fixed in #22179

[2021-02-03 20:49] #22172 closed

[2021-02-04 00:10] bonedaddy commented on #22252
@holiman ah sorry about that I should've included that information.  The framework does mine the block.

* [here is the mining logic for DoWaitDeployed](https://github.com/bonedaddy/bdsm/blob/master/testenv/testenv.go#L49-L50)
* [Here is where SendETH calls DoWaitMined](https://github.com/bonedaddy/bdsm/blob/master/testenv/testenv.go#L86)
* [Here is the mining logic for DoWaitMined](https://github

[2021-02-04 00:20] smartins commented on #14472
I'm having the exact problem with the latest geth version. static-nodes.json work just fine (I can stop and restart my nodes and they will connect to each other) but if one of them reaches the maxpeers, then even if my other nodes are on the trusted-nodes.json file, they won't be able to connect.

I have the exact same items on trusted-nodes.json and static-nodes.json.

Any idea if this is a recur

[2021-02-04 07:58] holiman commented on #14472
Here, it seems:
https://geth.ethereum.org/docs/interface/peer-to-peer#trusted-nodes

[2021-02-04 07:59] holiman commented on #16646
The documentation is here:
https://geth.ethereum.org/docs/interface/peer-to-peer#trusted-nodes

It was added in #22190 , which should have auto-closed this issue, but I'll just close it now instead

[2021-02-04 07:59] #16646 closed

[2021-02-04 08:23] rjl493456442 commented on #22151
@joeytwiddle Yup, I will close it very soon.

Just a quick question, the pruner is triggered by every 32768 blocks by default. It will scan all the data(receipts, bodies, etc) that belong to the previous sections and delete them. Do you think it's useful that the trigger can somehow be configured from a user's perspective?

[2021-02-04 08:29] holiman commented on #22224
I don't actually think this is due to leveldb open, because that happens later on. Here's the boot-up sequence with some more logging:
[code]
So the culprit could potentially be the keystore scanning. Do you have an extremely large keystore?
Do you think it would be possible to capture the boot-up sequence with higher logging?

[2021-02-04 08:30] thojest commented on #22223
Thanks for the link :) I will add my findings there. Also thanks for the discord link  :+1:

[2021-02-04 08:30] #22223 closed

[2021-02-04 09:01] rjl493456442 commented on #21786
The feature is implemented in #22123

[2021-02-04 09:01] #21786 closed

[2021-02-04 09:26] #22151 closed

[2021-02-04 09:55] holiman commented on #21963
@MysticRyuujin in the case of `debug_traceTransaction`, isn't that one of the methods that you would like to serve to your user, as part of the non-dangerous set? Because if so, then it doesn't really solve anything if we tag it as 'dangerous'.

I think the root problem for that is that we need to limit the amount of data that we shove back over RPC. Normally, a crash in rpc-handing is 'localized'

[2021-02-04 10:23] ligi commented on #21937
We had another conversation in the team about this now with everyone on the (virtual) table. And there was rough consensus to not go forward with this for mainly 2 reasons:
 * The long term branch would highlight security fixes
 * It will make it harder to get new features to a critical mass of nodes out (Snap Sync, ..)

[2021-02-04 10:23] #21937 closed

[2021-02-04 11:19] rjl493456442 opened #22264 "Snapshot relevant tools"
Snapshot is an important component used in Geth, which is basically the flatten format state for fast access and iteration.
However, the snapshot generation is quite slow(generated by the trie iteration) and it's fragile. It's really annoying to re-generate the snapshot after some exceptions.

This issue proposes a tool to recover the corrupted snapshot, so that we can avoid the regeneration in mo

[2021-02-04 13:14] krychla1 commented on #22150
Why has been this closed?
I'm experiencing the same, my node is 8 days behind (block 11734968), keeps switching to full sync, no way to switch to fast. (8days in full node at 5tx/s would take ~1 month of syncing).
Are you sure this is the desired behavior? Have to start from scratch in case a node is a few days off?

[2021-02-04 13:49] holiman commented on #22150
Well, you should be able to catch up a few days without problem, but if you're only doing 5txs/s, instead of 5 blocks/s, then there's something else awry, and a resync won't fix it. What's the machine? Any numbers on io performance?

[2021-02-04 14:44] krychla1 commented on #22150
Sorry, it was a typo. I meant 5blocks/s.
Still it is far more than syncing it from scratch by --fast. I mean, its a pity that we should rather sync the whole blockchain, if we are just a few days behind, than to have the possibility to switch back to fast.

[2021-02-04 15:28] holiman commented on #22150
But hold on. If you import 5 blk/s, and the production of blocks is 1blk/15s, then one hour of imports is 18K blocks, or 1.3 days. So every hour you sync is 1+day. So it's definitely 'worth it' to chug through up to maybe a week or two of blocks in favor of fast-sync from scratch. Restarting fast-sync would be possible, yes, but would leave a lot of garbage data. We're switching to snapsync soon,

[2021-02-04 16:01] krychla1 commented on #22150
Now I see. Sorry, wrong math. Writing quicker than thinking. I already went the way to removedb, keeping ancient data, seems to be done in a few hours as well.
A look forward to the snapsync, I can only find very little about it. When will it be ready?

[2021-02-04 20:22] MysticRyuujin commented on #21963
My linking to this issue is not in response to that call being dangerous, just linking issues because people who care about these RPC methods probably care about this as well.

I don't see these as independent issues, I view it as a systemic design issue with the debug namespace as a whole.

[2021-02-04 21:25] bonedaddy commented on #22261
@MariusVanDerWijden can you try using solidity compilers 0.7.0 or in the `0.7.x` range?

[2021-02-04 21:28] bonedaddy opened #22266 "Allow Graceful Handling Of WebSockets Connection Errors in Ethclient"
# Rationale

At the moment the `ethclient` package supports websockets connection to target servers. Websockets can occasionally experience issues that basically require a "rehup" of the connection otherwise the connection will permanently return errors.

I experienced this last night when one of my services returned the following error:
[code]

I had no choice but to shutdown the service, and res

[2021-02-05 03:56] Propulsions opened #22267 "Geth Causes Full VM Crash"
#### System information

Geth version:

[propulsion@lnx1 Downloads]$ ./geth version
Geth
Version: 1.9.26-unstable
Architecture: amd64
Go Version: go1.15.8
Operating System: linux
GOPATH=/home/propulsion/go
GOROOT=/usr/local/go

OS & Version: CentOS 8
Commit hash : n/a

#### Expected behavior
Not necessary to answer

#### Actual behaviour
When running Geth the program crashes the VM. Not the progra

[2021-02-05 04:15] Propulsions commented on #22267
Please note this also occurs with the latest stable:

[code]

[2021-02-05 04:53] lzszsd opened #22268 "Caller gas above allowance, capping: functions.call() succeeds while functions.transact() fails"
#### System information
Geth
Version: 1.9.25-stable
Git Commit: e7872729012a4871397307b12cc3f4772ffcbec6
Git Commit Date: 20201211
Architecture: amd64
Protocol Versions: [65 64 63]
Go Version: go1.15.6
Operating System: windows
GOPATH=
GOROOT=go

#### Expected behaviour
I am trying to use Web3.py to interact with my deployed contract. The following code is supposed to invoke the function "recharge

[2021-02-05 07:22] bonedaddy opened #22269 "abigen generated bindings can be optimized by parsing abi once during an init function"
# Rationale

In heavy usage environments which frequently create temporary bindings for usage during a small period of time, a lot of time is spent running `abi.JSON`. For example I have a backend microservice that listens for new blocks to be mined, and when new blocks are mined instantiates a variety of different contract bindings.

While profiling this program, 7.2% of the recorded profile was

[2021-02-05 08:30] MariusVanDerWijden commented on #22269
Sounds like a reasonable request to me, What do you think @gballet ?

[2021-02-05 08:37] MariusVanDerWijden commented on #22267
Wait so you're using centos in a VM right? Do you have more information (version, ssh version, how you set it up,...) so that we can repro it?

[2021-02-05 08:38] ligi commented on #21937
Seems this one needs some more context:
 * There are stable releases, generally pushed every two weeks unless deemed otherwise.
 *  If a release is risky (e.g. large feature release, there is a bump bump from 1.9 to 1.10 and warn high risk users to upgrade later).
 * Geth v1.9.17 Post Mortem - https://gist.github.com/karalabe/e1891c8a99fdc16c4e60d9713c35401f
 * Geth recently committed to a slightl

[2021-02-05 10:28] MariusVanDerWijden commented on #22261
Recompiled with still produces 9999
[code]

[2021-02-05 15:59] Propulsions commented on #22267
Yes sir!

Steps to reproduce:
#Fresh install, 12 vCPU's, 32GB RAM, 1TB HDD
#Chose minimal installation no GUI.
#Checksum:
SHA256 (CentOS-8.3.2011-x86_64-dvd1.iso) = aaf9d4b3071c16dbbda01dfe06085e5d0fdac76df323e3bbe87cce4318052247

#Installation Script
sudo yum -y install wget
mkdir ~/Downloads
cd ~/Downloads
#Go Language Download
wget https://golang.org/dl/go1.15.8.linux-amd64.tar.gz
sudo tar -C /

[2021-02-05 16:14] Propulsions commented on #22267
Christ, I might have bad RAM....

Can we close this for the time being? I'll report back once replaced.

[2021-02-05 16:24] #22267 closed

[2021-02-05 18:40] LexLuther73 opened #22275 "Syncing error: signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x78909a"
#### System information

Version: 1.9.25-stable
Git Commit: e7872729012a4871397307b12cc3f4772ffcbec6
Architecture: amd64
Protocol Versions: [65 64 63]
Go Version: go1.15.6
Operating System: linux

#### Expected behaviour: Full node synch

#### Actual behaviour: Multiple WARN errors

#### Steps to reproduce the behaviour: geth --cache=8096 --maxpeers=100 --http --http.addr 0.0.0.0 --http.vhosts "*"

[2021-02-06 00:46] bonedaddy commented on #22261
:confused: ill do some more testing i guess.

[2021-02-06 04:01] galets commented on #14435
@avatar-lavventura FWIW, I had a similar issue today. My geth is running over ZFS, so the files are checksummed. At first, I didn't understand what is going on, but then I realized that one file was corrupted. Disk showed no error, but ZFS did catch the corruption. Every time I rolled back using debug.setHead(), it played back up until it hit the corrupt file. I ended up restoring the data from ba

[2021-02-06 09:48] #22058 closed

[2021-02-06 14:42] vogelito commented on #22224
Happy to capture the boot-up sequence with higher logging. What should I use to do so?

How do you define “extremely large keystore”?

[2021-02-06 15:24] holiman commented on #22224
You can use --verbosity=4 or 5 (warning: extremely much logging on 5). Re extreme: if the keystore files are in the millions, that's pretty extreme. 

[2021-02-07 11:11] slyfoxhd opened #22278 "Syncing error: signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x78ec7a"
System information

Geth version: geth version
Geth
Version: 1.9.25-stable
Git Commit: e787272
Architecture: amd64
Protocol Versions: [65 64 63]
Go Version: go1.15.6
Operating System: linux
GOPATH=
GOROOT=go

Expected behaviour: Full node synch
Actual behaviour: Multiple WARN errors

Steps to reproduce:
geth.service file:

[Unit]
Description=Go Ethereum client
After=network.target
Wants=network.ta

[2021-02-07 18:18] ph03 commented on #21309
The same error is still popping up, e.g., for `make geth-linux-arm64`:

[code]

(all other cross-compilations for other platforms / arches I tested fail in the same way). Is this because I'm on `go-1.14`? Any hints how to enable cross-compilation from sources with `xgo`?

[2021-02-08 01:05] zoltan-fedor opened #22281 "SIGSEGV with $ geth --syncmode "fast""
#### System information

Geth version: `geth version`
Geth
Version: 1.9.25-stable
Git Commit: e7872729012a4871397307b12cc3f4772ffcbec6
Architecture: amd64
Protocol Versions: [65 64 63]
Go Version: go1.15.6
Operating System: linux
GOPATH=
GOROOT=go

OS & Version: Linux
Commit hash : (if `develop`)

#### Expected behaviour
Not segfaulting.

#### Actual behaviour
I am running `$ geth --syncmode "fast

[2021-02-08 04:38] wenqinchao opened #22283 "invalid command: "geth""
I reran geth by the same command after rebooting my PC,   the command is
![image](https://user-images.githubusercontent.com/29195771/107176349-146f7c80-6a0a-11eb-81a5-6e00ea141493.png),
got error invalid command: "geth", should i delete some files before rerun?

[2021-02-08 04:51] haruki515 opened #22284 "eth_SendRawTransaction return txid, but could not find in the network"
#### System information

Geth version: `Geth/v1.9.25-e7872729`
OS & Version: Linux
Commit hash : `e7872729`

#### Expected behaviour
eth_sendRawTransaction returns a hash and the transaction should be broadcasted to the network.

#### Actual behaviour
returns a hash but the transaction is never broadcasted to the network, and then after restart the transaction broadcast to the network.
Rebooting s

[2021-02-08 05:04] #22283 closed

[2021-02-08 05:05] wenqinchao opened #22285 "invalid command: "geth""
I reran geth by the same command after rebooting my PC, the command is
![image](https://user-images.githubusercontent.com/29195771/107178079-5bf80780-6a0e-11eb-9e81-4809ba88fadf.png)

got error invalid command: "geth", should i delete some files before rerun?

[2021-02-08 05:56] #22285 closed

[2021-02-08 06:48] nklipa13 commented on #21835
I'm having the same issue and I'm unable to install abigen. MacOS version is Catalina 10.15.7. Is there any workaround or maybe other way to install abigen?

<img width="697" alt="slika" src="https://user-images.githubusercontent.com/6116529/107184929-70db9780-6a1c-11eb-9057-5e7d0a20bda1.png">

[2021-02-08 07:14] yellowred commented on #20232
There is still an error when I run tests with `mod=vendor`:
[code]
Guess `usb` package needs a dummy go file as well.

[2021-02-08 07:46] MariusVanDerWijden commented on #21835
@nklipa13 You can download geth and tools from our download page: https://geth.ethereum.org/downloads/

[2021-02-08 08:26] joeytwiddle commented on #22151
@rjl493456442 Yes I think that would be useful. Either by time, or number of blocks, or space used.

Less important, but perhaps useful for testing/debugging, might be a command to trigger the pruner.

[2021-02-08 09:38] holiman commented on #22281
Interesting. The code path which panics is this:
[code]
And just prior to the crash, we have this:
[code]
So it looks to me like a rollback during the receipt-sync races with the background freezer, on a path which is not really intended to be used in normal mode.

[2021-02-08 10:07] fjl opened #22286 "cmd/devp2p: add eth/66 protocol test suite"
After #22241 is merged, we should extend the protocol test suite to cover the new
message types in eth/66. What needs to be done:

- Rename existing tests to add `65` in name
- Duplicate all existing tests with `66` name and change messages to use eth/66 request ID
- Add checks that the request ID of responses match the requests.
- Add new test that sends two concurrent requests.

Since we now hav

[2021-02-08 10:12] juampe opened #22287 "Build problem: "metrics/cpu_syscall.go:34:47: invalid operation:" int32 mixed with int64"
To summup I tried to buid an arm geth docker container
[code]

And I got this error
[code]

The code involved
`return (usage.Utime.Sec+usage.Stime.Sec)*100 + int64(usage.Utime.Usec+usage.Stime.Usec)/10000 //nolint:unconvert`

The code corrected
`return int64(usage.Utime.Sec+usage.Stime.Sec)*100 + int64(usage.Utime.Usec+usage.Stime.Usec)/10000 //nolint:unconvert`

[2021-02-08 10:30] MariusVanDerWijden commented on #22287
Yep, that's a regression, we already have a fix for it here: https://github.com/ethereum/go-ethereum/pull/22262

[2021-02-08 10:36] #22287 closed

[2021-02-08 11:19] haruki515 commented on #22284
When I sent ETH, and ERC20, ETH was not broadcasted, but ERC20 was sometimes broadcasted.
These transfers were sent from different accounts.

[2021-02-08 13:38] fjl commented on #21835
@nklipa13 the message in your screenshot is just a warning

[2021-02-08 16:13] tanter commented on #22037
# github.com/shirou/gopsutil/cpu
/Users/user/go/pkg/mod/github.com/shirou/gopsutil@v2.20.5+incompatible/cpu/cpu_darwin_cgo.go:13:5: error: 'TARGET_OS_MAC' is not defined, evaluates to 0 [-Werror,-Wundef-prefix=TARGET_OS_]
#if TARGET_OS_MAC
    ^
1 error generated.
make[1]: *** [telegraf] Error 2
make: *** [build/drone] Error 2

[2021-02-08 16:22] slyfoxhd commented on #22275
I have the same issue. Did you get any help here? I opened also a thread. In my case it says panic: runtime error on-top. My node worked fine until it crashed Sunday night. I removed db file and tried a resync but it failed like in your case.

[2021-02-08 18:14] Dkdaniz opened #22292 "[GETH] [POA] [Clique] My private network is accepting transactions with zero gasprice."
Good afternoon, everybody,

I am creating a private ethereum network with the consensus Poa - Proof of Authority (Click) .

My Genisis file: https://gist.github.com/Dkdaniz/a995edfc9c5dfc84112c00e876c4bd26

Number of Signer: 3

Signer 1: 0x598BC011b8F50B40a0Ec4CcC6d6E51B785eFB1F7
Signer 2: 0x888d72bA69958860BC67Bd80e90c76D84eE1977a
Signer 3: 0x0639f66b1f77c2f4e5505285f2a1dc93a2f99e1c

Geth command

[2021-02-08 18:48] Dkdaniz commented on #22292
An Exemple of  transaction with Zero Gas price

![image](https://user-images.githubusercontent.com/17903007/107266993-0bd86f80-6a25-11eb-8420-e5e90e603051.png)

[2021-02-08 18:51] MariusVanDerWijden commented on #22292
Are all signers geth nodes? We always accept incoming blocks with zero gas price, but we don't mine transactions with zero gasprice afaik (might be wrong though).

[2021-02-08 19:34] Dkdaniz commented on #22292
Currently I have 3 node, all are validators and it is working correctly, but I would like to remove this characteristic of accepting transaction with 0 gas price.

All have been executed equally, but with their respective ports and address.

`geth --nousb --datadir=$pwd --syncmode 'full' --port 30310 --miner.gasprice 20000000000 --txpool.pricelimit 20000000000 --miner.gastarget 470000000000 --http

[2021-02-08 22:24] zoltan-fedor commented on #22281
Yes, and I keep getting this at different points in the sync.
See the same error below at a later point in the sync compared to the one above.

[code]

[2021-02-09 05:27] Propulsions commented on #22267
Validated as an issue with a RAM card.

Sorry for the hassle and thanks for the quick response

[2021-02-09 06:53] Muggle-Du opened #22296 "Geth client gets stuck and seems to meet with deadlock"
#### System information

Geth version: `geth 1.9.24`
OS & Version: ubuntu 18
Commit hash : (if `develop`)

#### Expected behaviour
geth node continually sync from peers

#### Actual behaviour
geth client gets stuck at block height 11816616

#### Steps to reproduce the behaviour

<img width="923" alt="截屏2021-02-09 下午2 52 59" src="https://user-images.githubusercontent.com/25078682/107326516-83ba9e80

[2021-02-09 08:07] holiman commented on #22281
There seems to be two problems here. First of all,
[code]
This is a canon block:https://etherscan.io/block/376479 , so something is wrong on your machine. I would assume it's related to disk errors, and that the dag caches are somehow corrupt. I would recommend you to run some disk verification utility.

The other problem is that a rollback during fast-sync is causing `panic`. However, it seems to

[2021-02-09 08:22] holiman commented on #22296
`11816616` was mined 16 hours ago. It might be that you're doing a fast-sync, and it's reaching the head block but still has a lot of state to download.

The screenshot you provided only shows ~30s of unrelated activity.
Please provide more info, what command did you use to start `geth`, was it doing a fast-sync or was the fast-sync done?

Also, for future reference, it's better to provide logs wi

[2021-02-09 09:42] #21926 closed

[2021-02-09 14:23] zoltan-fedor commented on #22281
I just run fsck and no issue was found.
But it is true, that this a a VirtualBox VM where the disk is hosted on a LUKS-encrypted volume. Maybe that's why the occasional errors?

[2021-02-09 14:41] zoltan-fedor commented on #22281
Unfortunately it is still happening.

[code]

[2021-02-10 01:23] Undead8 commented on #21005
Looks like `reexec` can be very useful. Is there any way to specify a `reexec` value when making a call using web3?

[2021-02-10 07:57] jonasbostoen opened #22299 "Watching pendingTransactions with go-ethereum as a library"
Why isn't it possible to subscribe to pendingTransactions using a method like `client.subscribePendingTxs` in Golang using go-ethereum as a library? The only subscriptions possible are `subscribeNewHead` and `subscribeFilterLogs`. Am I missing something here? (I have asked this question on the Ethereum stack exchange but to no avail.) Thanks!

[2021-02-10 10:54] Allan57790 opened #22300 "super long sync"
Hello, Ive decided to start mining the ethereum. So I downloaded Geth and started syncing as explained. The problem is that it's already been running for a few hours and the file is already 150 gb.

I have no error messages and everything seems to be going well. But I think it's starting to take a long time.
I'll attach you an extract from the cmd.
Thanks in advance
Allan
![geth](https://user-imag

[2021-02-10 11:09] Muggle-Du commented on #22296
Thanks for your reply
I have started syncing from scratch since March of last year, and I start the geth client in docker container with the command:

**entrypoint: ["geth","--ipcdisable","--syncmode","fast","--cache","1024","--nat","none","--datadir","/root","--port","38336","--ws","--wsaddr","0.0.0.0","--wsport","8036","--wsorigins","*","--rpc","--rpcport","8136","--rpcaddr","0.0.0.0","--rpccors

[2021-02-10 11:30] MariusVanDerWijden commented on #22300
That's completely normal, a full ethereum node takes ~ 350GB of storage space.
If you don't have many GPU's to mine, it might be better to join a pool instead of solo mine

[2021-02-10 11:30] #22300 closed

[2021-02-10 12:12] #22219 closed

[2021-02-10 12:13] Allan57790 commented on #22300
Ooooooh okay ! Thanks dude, i will join a pool. Thanks again and good day !

[2021-02-10 13:08] Muggle-Du commented on #22296
When I tried to restart geth , this warning came out:

**Already shutting down, interrupt more to panic. times=9**

After more than 5 minutes , it didn't exit with code 0

[2021-02-10 14:19] slyfoxhd commented on #22278
Segfault error, insisted on host move, that solved the issue.

[2021-02-10 14:19] #22278 closed

[2021-02-10 14:33] begetan opened #22301 "Geth is losing pending transactions with the error: Demoting invalidated transaction"
#### System information

Geth version: `Geth/v1.9.25-stable-e7872729/linux-amd64/go1.15.6`
OS & Version: Linux Ubuntu 18.04 LTS
Commit hash : (if `develop`)

We have a Highly Available configuration with 2 Geth Node and AWS Application Load Balancer.
Our software (several workers) sending quite a high number of transactions that are balanced across the nodes.

Sometimes the network fees rising hig

[2021-02-10 15:12] holiman commented on #22278
Thank for reporting back and cosing it!

[2021-02-10 23:49] Dkdaniz commented on #22292
if you are having this problem, the only solution was to block directly in the code, i.e. I changed the source code and later remade the Geth build.

From:
https://github.com/ethereum/go-ethereum/blob/1bbc8a1944312b91ca72a298c2438133906e9503/core/tx_pool.go#L544

To:
https://github.com/Dkdaniz/go-ethereum/blob/df73ffcb82702172ff178bc0e805a347d02a0d6e/core/tx_pool.go#L549

[2021-02-10 23:49] #22292 closed

[2021-02-10 23:52] Dkdaniz commented on #22292
if you are having this problem, the only solution was to block directly in the code, i.e. I changed the source code and later remade the Geth build.

From:
https://github.com/ethereum/go-ethereum/blob/1bbc8a1944312b91ca72a298c2438133906e9503/core/tx_pool.go#L544

To:
https://github.com/Dkdaniz/go-ethereum/blob/df73ffcb82702172ff178bc0e805a347d02a0d6e/core/tx_pool.go#L549

[2021-02-11 00:21] Mithrandir2k18 opened #22303 "How to estimate size of blockchain download"
I just installed the package from pacman, created a new wallet and started the download(with --fast and a large cache). Now the question is, how big is the download going to be? Does it check if I have enough diskspace?

If that information is online somewhere, the tool could check if there's enough disk space before starting that download. Is that the case? And if not, how can I estimate if I hav

[2021-02-11 01:53] aydwi opened #22304 "Running geth results in a dropped Ethernet connection"
#### System information

Geth version:

Version: 1.9.25-stable
Git Commit: e7872729012a4871397307b12cc3f4772ffcbec6
Git Commit Date: 20201211
Architecture: amd64
Protocol Versions: [65 64 63]
Go Version: go1.15.6
Operating System: windows
GOPATH=C:\Users\username\go
GOROOT=go

OS & Version: Windows

![Capture](https://user-images.githubusercontent.com/29029116/107594191-56313a80-6c37-11eb-97fd-485

[2021-02-11 05:01] ianhyun007 opened #22305 "Rinkeby Authenticated Faucet -> No Ethereum address found to fund"
I am trying to get some ether for my own study but giving me No Ethereum address found to fund message and fails to give me fund. I would like to get 18.75 ethers and my address is 0xAbe9D5c64A1dcF3D843224bD222e706ea29680f3.

Please very important for me, Thank you.

[2021-02-11 08:09] holiman opened #22306 "DNS discovery spinloop"
When running geth with a dns discovery setting where there set of nodes in the crawled public set is empty, the dns client goes into a spinloop, consuming 100% of a CPU core.

Testcase to repro this, where the last `it.Next()` spins :
[code]
Can also be tested live using e.g. `geth --goerli --syncmode=snap`.

[2021-02-11 08:41] MariusVanDerWijden commented on #22303
We can not estimate in the software how much disk is going to be needed as it varies a lot depending on your sync speed. Generally around 350 GB are needed for the initial sync, but I would suggest an ssd with at least 1 tb since the node grows quickly once it was synced. The node can not check if there is enough space before starting the download. But it will stop if the space wasn't enough. In t

[2021-02-11 08:41] #22303 closed

[2021-02-11 08:51] aydwi commented on #22304
Additional information: <dir> pointed to an HDD in my case.

I'm now aware that it is not a good idea, but it could be relevant while debugging.

[2021-02-11 09:22] holiman commented on #22305
Did you publish it somewhere the faucet can read it? E.g. facebook?

[2021-02-11 09:28] holiman commented on #22296
`geth 1.9.24` is not the latest, and I know we've fixed a couple of hang-on-shutdown bugs semi-recently, so I'd recommend an update.

[2021-02-11 09:38] Kamilcuk commented on #1855
+1 here

[2021-02-11 09:51] aydwi commented on #22304
**Additional information:** Encountered the issue with an SSD too.

[2021-02-11 09:59] Gbogdann93 opened #22308 "Geth not broadcasting transfer"
#### System information

Geth version: 1.9.23
OS & Version: Debian 9

#### Expected behaviour
Transfer to be sent out and processed by network

#### Actual behaviour
Transfer is in pending transaction state and even after geth restart transfer is not processed.

#### Steps to reproduce the behaviour
Random simply sent transfer out

It seems again this issue is happening, i have reported it 2 times

[2021-02-11 10:00] holiman commented on #22301
The problem is that out of `N` transactions, `n0` becomes removed due to being too cheap, compared to other transasctions. When that one is dropped, it means that `n1` ... `nN` becomes non-executable, (gapped), and demoted to the `queue` instead of `pending`.

[2021-02-11 10:09] fjl commented on #22301
@begetan I'm trying to understand your problem. Are you sending transactions to your Geth nodes via RPC? Are you sending the RPC through load balancer?

Geth txpool has features to treat 'local' transactions in a special way. When tx is received via RPC, it is treated as local transaction, and will not be dropped from the txpool. Your app setup with the load balancer might expose bugs in our imple

[2021-02-11 10:13] gballet opened #22309 "freebsd build is broken"
Looks like one can no longer build `geth` on FreeBSD:

[code]

[code]

This fails on the following line:

[code]

The reason is that even though the [Statfs_t documentation](https://pkg.go.dev/golang.org/x/sys/unix#Statfs_t) claims `Bavail` is a `uint64`, it is actually `int64` in [the FreeBSD specific code](https://github.com/golang/sys/blob/22da62e12c0c/unix/ztypes_freebsd_amd64.go#L114).

Worka

[2021-02-11 10:15] gballet commented on #22275
closing as duplicate of #22281

[2021-02-11 10:15] #22275 closed

[2021-02-11 10:25] fjl commented on #22281
This loop needs to be deleted or protected by a lock at least: https://github.com/ethereum/go-ethereum/blob/1bbc8a1944312b91ca72a298c2438133906e9503/core/blockchain.go#L1225

[2021-02-11 10:52] fjl commented on #22281
This seems to be caused by a race between the rewinding of the chain (because of invalid mix digest error) and the writing of ancient data during sync. These two things try to manipulate the database at the same time, which may invalidate some assumptions that the code is making.

We should figure out why this invalid mix digest error is happening, and also remove the loop or protect it.

[2021-02-11 10:53] fjl opened #22311 "consensus/ethash: checksum in cache file"
It would be nice to have a checksum (like crc64) on ethash cache files. People have been
reporting issues with bad blocks saying "invalid mix digest", and it might be caused by
ethash cache file corruption.

If we had a checksum in the cache file, we could easily check if the on-disk cache is intact
after mmaping it.

[2021-02-11 13:06] zoltan-fedor commented on #22281
I kept repeatedly running into this after resetting the data from geth and restarting the syncing and loaded about the first 25 Gb of the chain.
I have ended up completely deleting the .ethereum folder and starting the syncing again and then the error went away.

In summary it seems there is a problem - the race condition mentioned by @fjl, which probably would need to be addressed in general, eve

[2021-02-11 13:39] gballet opened #22314 "TestClientNotificationStorm is broken on FreeBSD"
#### System information

Geth version: `cffdc43954c5f5fa4364ddfbf3881cdfeb667fb7`
OS & Version: FreeBSD

#### Expected behaviour

`TestClientNotificationStorm` passes on FreeBSD

#### Actual behaviour

[code]

#### Steps to reproduce the behaviour

`go run build/ci.go test -coverage ./rpc/`

[2021-02-11 13:46] ianhyun007 commented on #22305
yes, I did to FB and address was
https://www.facebook.com/ian.ch.98/posts/2295897023887570

even I put that in, it gave that error

On Thu, Feb 11, 2021 at 3:22 AM Martin Holst Swende <
notifications@github.com> wrote:

[2021-02-11 13:46] ianhyun007 commented on #22305
yes it was https://www.facebook.com/ian.ch.98/posts/2295897023887570 but it gave that error

[2021-02-11 13:50] gballet commented on #22314
Looks like FreeBSD is able to handle more subscription than other OSes, I can fix the test by setting the limit to 50k in `client_test.go`.

[2021-02-11 16:06] begetan commented on #22301
@holiman you describe the situation pretty correctly.  What is a workaround then?

[2021-02-11 16:40] begetan commented on #22301
@fjl we are using a load balancer with a persistent connection with WebSocket.
Requests are continuously going to a single node unless a network or another long performance issue breaks the connection.

We are quite sure that most time our transactions are coming from RPC connections and staying local until get confirmed.
Do you think that a handower of the connection between nodes may cause local

[2021-02-11 17:08] begetan commented on #22301
@fjl
I came through logs for the last 7 days and see no correlation between the `Demoting invalidated transaction` error and the `WebSocket disconnect error` from the app.

[2021-02-11 22:11] Code0x2 opened #22317 "trace a pending transaction based on calldata"
Is there a feature for the JSON-RPC similar to debug_traceTransaction, which can be used for pending transactions given the call destination and the calldata?

[2021-02-11 22:34] piersy opened #22318 "core package tests exhibit data race"
#### System information

Geth version:
[code]
OS & Version: Linux Ubuntu 20.04.2 LTS (Focal Fossa)

#### Expected behaviour

Tests should not exhibit data races.

#### Actual behaviour

Tests exhibit data races

#### Steps to reproduce the behaviour
`go test -p 1 -race ./core`

#### Backtrace

[code]

[2021-02-12 07:37] Muggle-Du commented on #22296
Thanks, I would update the geth client

[2021-02-12 08:03] Gbogdann93 commented on #22308
Sidenote, geth sync stopped after ~ 8 hours of restart and nothing into logs about it.
After geth restart some of transactions were broadcasted into network.
Server info:
**4 cores/8GB of ram
Amazon EC2 c5.xlarge server
debian 9**

[2021-02-12 10:08] fjl commented on #22301
Thank you for the additional information.

[2021-02-12 14:13] RobertoDonPedro commented on #22039
@ligi Can you please send me 3 Rinkeby ETH  to 0xE60299aeC2A2504C53B9d1a57A61F216f9222F66
Faucet: "Invalid Facebook post URL"
Thx

[2021-02-12 15:50] holiman commented on #22308
The txs was mined here: https://etherscan.io/tx/0x4b60ee38c374c753f3e0d682b9f97d169fe4276d95cdd178a495e9dc3d8fbbcf , `Feb-11-2021 01:16:31 PM +UTC`. Your issue was filed `Feb-11-2021 10:59 AM GMT+1`

As far as I can tell, your issue was filed `09:59 UTC`, and it was mined `13:16`, at `121 Gwei`. According to etherscan, https://etherscan.io/chart/gasprice , the average gas price on feb 11 was `175G

[2021-02-12 19:18] samsondav opened #22322 "Rare occurences of panic: send on closed channel in rpc/subscription.go"
#### System information

Geth version: `1.9.25`
OS & Version: Linux

#### Expected behaviour

We are calling `rpc.Unsubscribe` like so:

[code]

I would expect this to always be safe.

#### Actual behaviour

In very rare cases this can panic with `send on closed channel`. It seems that messages can still be sent on the passed in channel even after `Unsubscribe` returns.

We found this while load t

[2021-02-12 22:20] TennisBowling commented on #22196
I don't see a problem with this. you cannot do some web3 calls with a light mode.

[2021-02-13 00:55] TennisBowling commented on #22056
hey @fer662! what happened here? did you ever fix the problem?

[2021-02-13 00:56] fer662 commented on #22056
Sadly i had to re sync from scratch. there was no way to resolve it.

On Fri, Feb 12, 2021 at 9:55 PM Enz <notifications@github.com> wrote:

[2021-02-13 00:56] TennisBowling commented on #22056
have you finished syncing it?

[2021-02-13 00:58] TennisBowling commented on #22056
my database was compacting for 10m then continued on it's regular stuff.

[2021-02-13 00:58] fer662 commented on #22056
Yes, it took a reasonable amount of time that i cannot remember exactly and
has been running fine since. The hardware is the same, and the issue didn't
stem from it for sure.

On Fri, Feb 12, 2021 at 9:57 PM Enz <notifications@github.com> wrote:

[2021-02-13 14:47] ReekoD commented on #14438
Thank you ;
how to tell ethereum wallet to execute this command line when launched via Windows desktop icon "EthereumWallet.lnk" ?
i mean i don't find any config file to set ethereum wallet launch configuration

[2021-02-13 15:51] montalban commented on #22031
Could someone please send 10 ETH to 0xf8B17B25032b82CBDDEe3413FDb7E195D6D2752C Thanks!!

[2021-02-13 19:27] TennisBowling commented on #21079
@sssubik did you fix the "Initializing fast sync bloom" by just waiting it out?

[2021-02-15 00:22] montalban commented on #22305
I've been having problems on Rinkeby test faucet last several days - No Ethereum Address found to fund... could someone please send 10eth to 0xf8B17B25032b82CBDDEe3413FDb7E195D6D2752C? Thanks!

[2021-02-15 07:21] MariusVanDerWijden commented on #22269
@bonedaddy Would you like to try it?

[2021-02-15 08:19] Gbogdann93 commented on #22308
@holiman You're wrong, this is not the issue that i have reported.

Geth returned txid but transfer was stuck inside geth with pending state. For 3 hours.
After first restart of geth transfer was still in pending state - waited 1 hour and nothing changed even if geth sync worked without issues.
Tried another geth restart and suddenly transfer was accepted and not anymore in pending state.

I have

[2021-02-15 09:20] lukerQuant opened #22324 "Github <> Slack integration"
# Rationale

Can you add the slack github integration to this repo (https://slack.github.com/), so that changes can be easily tracked in (other companies) slack. I understand that email notifications can be used, but in my opinion slack notifications provides easier team organisation.

# Implementation

This is a quick app addition to the repo (https://slack.github.com/)

[2021-02-15 09:21] al-codes commented on #21166
Hello @ligi, not sure if you are still taking requests but Twitter and FB is not working for me. Wondering if I could please get 8 ETH for the testnet Rinkeby?  0x38be8A0741eC4E1C9B66C1983128773Fe5545e94
Thank you!

[2021-02-15 12:42] holiman commented on #22308
While it's not really helping solving the root issue, a temporary hack you can use to work around these scenarios, apart from restarting geth, can be to use another node to broadcast the transactions. `eth.getRawTransaction(<hash>)` would give you a hex-encoded string, which you can send to e.g. https://etherscan.io/pushTx or https://app.mycrypto.com/broadcast-transaction