[2015-10-03 13:20] #1872 closed

[2015-10-03 20:47] karalabe commented on #1870
It seems to me that your old database contained some corrupt data that the upgrade mechanism choked on. We should definitely keep this issue open for now if somebody else also reports is, but if it's a one shot issue, then there was probably some hidden cause already in the old database. Note, after you do a db upgrade, old database entries are deleted in favor of the new ones, so reverting to an

[2015-10-03 20:50] karalabe commented on #1872
You cannot resync without deleting the old chain. It would be quite messy to maintain multiple version of the database and try to merge them together. However, there's a fast sync coming very soon that can sync up the current chain in about 90 seconds, so that should help a lot ;)

[2015-10-03 20:54] karalabe commented on #1860
I'd just create a new account and move the funds over there, then you can drop the Olympic addresses altogether. AFAIK, there's no upgrade mechanism to convert an old key into a new one, and I'm not sure it's really worth it.

[2015-10-03 20:57] karalabe commented on #1855
There's no support currently for proxies. It's not really trivial, since the Ethereum discovery protocol runs on UDP and the P2P overlay on TCP, so you need to cross over with both to make geth functional. It would probably be a useful feature, but I'm not sure we have the capacity currently to cater for this use case, but would probably be happy for contributions ;). Though maybe @fjl can pinch i

[2015-10-03 20:58] karalabe commented on #1846
Please provide a dump of the panic. Without that, we cannot really trace where the issue came from.

[2015-10-03 21:09] metamirror commented on #1870
@obscuren geth 1.2.2 was not working after the upgrade from 1.1.2
@karalabe Deleting the ~/Library/Ethereum/chaindata file seems to have fixed the problem. Geth 1.2.2 now working fine! Thanks!

[2015-10-04 07:44] ellisonch opened #1874 "can't install geth on windows using chocolatey"
I have chocolatey 0.9.9.10 (just installed in order to install geth).  When I follow the instructions on https://github.com/ethereum/go-ethereum/wiki/Installation-instructions-for-Windows and run ```choco install geth-latest```, i get the following log:

[code]

I get the same error if I try to install geth-stable.  The mentioned .log says the same thing as the console output.

Let me know if you

[2015-10-04 15:08] tgerring commented on #1874
Because the Chocolatey package maintainers have not approved this package, you must explicitly specify a version when installing, for example:

`choco install geth-latest -version 1.1.1.0`

[2015-10-04 17:32] ellisonch commented on #1874
Thanks!  It works.  It might be helpful to mention this in the instructions.

[2015-10-04 17:32] #1874 closed

[2015-10-04 19:25] tgerring commented on #1776
Script for testing with Powershell 3.0 and up: https://gist.github.com/tgerring/b93057e06960d906574c

[2015-10-04 19:26] poiuty opened #1875 "screen is terminating when use console"
[code]

If remove console => work fine.

[2015-10-05 08:07] Gustav-Simonsson opened #1876 "jsre: TestNatto fails randomly"
[code]

[2015-10-05 09:53] obscuren commented on #1870
I'm keeping this issue open until we have more concrete information whether this was a fluke or indeed a database corruption of sorts

[2015-10-05 10:33] Gustav-Simonsson commented on #1871
By default ```Node``` could setup the P2P stack, and if explicitly given P2P can be skipped (useful for tests) or a custom P2P interface given.

[2015-10-05 18:49] koeppelmann opened #1878 "Transaction disappeared"
We discovered a strange behaviour of a transaction. The transaction was created from our groupgnosis dapp and submitted via a remote geth node. Then for a moment the result was visible in our DAPP (that requires actual change on the blockchain). But then it disappeared. With further investigation fe found that the transaction is listed in this blockexplorer:

http://frontier.ether.camp/transaction

[2015-10-05 19:28] obscuren commented on #1878
The block the transaction is in was in a (natural occurring) fork. Your transaction didn't make it in to the chain.

Updated version of `geth` actually re-add missing transactions due to forks, unfortunately it all depends on miners to update their version for this feature to take (noticeable) effect.

Best just re-submit your transaction.

[2015-10-05 19:28] #1878 closed

[2015-10-06 05:32] m-vdb commented on #1609
Hi guys, I ran into this for the last couple of day. One of my contract methods takes way too much of gas (I need to figure out why) but in the meantime I'd like to raise the limit "artificially" (i'm on a private test network). Any idea if it's feasible?

[2015-10-06 17:13] rfikki opened #1882 "Geth would not close!!!"
Cannot get the Geth to shutdown as I usually do. Tried control-c, tried exit command, tried control-d.
I had to shut it down by killing the process. Waited a long time could not be more patient.

 Geth/v1.2.2/windows/go1.4.2

I1006 12:53:46.182983    2860 cmd.go:140] Already shutting down, please be patient.
I1006 12:53:46.182983    2860 cmd.go:141] Interrupt 9 more times to induce panic.
I1006 12

[2015-10-06 18:17] fjl commented on #1882
If it happens again, please press control+c until it exits and capture the output.

[2015-10-06 18:27] rfikki commented on #1882
Will do. Thanks.

[2015-10-07 12:40] karalabe opened #1884 "olympic: CLI flag only processed when running a node"
Hence all other commands produce/process invalid chains. We should move the olympic flag parameter processing into the main geth go file and use the cli.BeforeSomethingSomething method for it to ensure all subcommands get configured properly. In the mean time, maybe we should skim through the other flags too and sort this out.

[2015-10-07 23:42] rcorbish commented on #1168
CTRL-Z pushes the service to suspend
type jobs to see suspended jobs
fg 1  <-- job number ) to unsuspend a job

[2015-10-08 17:47] tgerring commented on #1575
@olalawal Are you having issues with the latest version (1.2.2)?

I am building on Windows and not having problems

[2015-10-08 17:50] tgerring commented on #1837
Currently, we don't produce a geth binary for OS X, it's only available in brew. The Mac develop build link in the README points to the old QT-based Mist and needs to be fixed when the binaries are available separately. This is also requested by Mist team

[2015-10-08 17:52] tgerring commented on #1420
Quick search for anyone deciding to work on this task:

https://github.com/ethereum/go-ethereum/search?utf8=%E2%9C%93&q=etherbase

[2015-10-08 17:54] tgerring commented on #1841
@tom-seddon Can you check against latest `develop` to see if your problem is now resolved? The fix should now be merged in

[2015-10-08 17:58] tgerring commented on #1608
@jwhelan72 Is the original issue resolved? If so, feel free to close the issue :)

[2015-10-09 12:08] zsfelfoldi opened #1890 "Light client stage 1 "to do" list"
- [x] add logs
- [x] rebase to refactored core
- [x] fix broken tests
- [x] add tests for les and odr
- [x] add comments
- [x] general cleanup
- [x] proper state retrieval error handling
- [x] client/server distinction in les handshake
- [x] transaction relaying

[2015-10-09 12:22] Gustav-Simonsson opened #1891 "TestPeerProtoReadMsg fails sometimes on OS X"
Fails sometimes in builds unrelated to P2P.

[code]

[2015-10-09 13:30] iurimatias opened #1892 "geth hangs and uses 100% CPU when running any js file"
to replicate: (note: it happens with ANY js file)
[code]

then ctrl + c, doesn't shut it down, and geth constantly uses 100% CPU available in the background.

[code]
[code]

unfortunately, for anyone using a wrapper such as 'embark blockchain', once they ctrl + c the wrapper looks shutdown, but geth actually keeps running in the background at 100% CPU indefinitely.

[2015-10-09 13:40] rfikki commented on #1892
I believe this is the same issue I had in #1882. I have been using loadscript from console command line instead.

[2015-10-10 09:11] tgerring opened #1893 "Allow geth to run as a daemon"
https://github.com/kardianos/service

[2015-10-11 09:42] drupalnomad opened #1894 "eth_getLogs should have offset and limit parameters and the ability to search backwards"
eth_getLogs is somewhat limiting because it returns all the results, when you might only want a subset, e.g. for a pager.

[2015-10-11 09:43] drupalnomad opened #1895 "eth_getLogs needs to perform an indexed search"
eth_getLogs is too slow to be usable. If the address and topics were indexed it could be very fast.

[2015-10-11 23:22] zsfelfoldi commented on #1890
Light client PR:
https://github.com/ethereum/go-ethereum/pull/1684

[2015-10-12 06:01] mateosmith commented on #1870
Same issue with 1.2.2 and El Capitan OS X.   Deleting chaindata contents and restarted worked.

[2015-10-12 08:22] karalabe commented on #1870
If this occurs to anyone else, could you create a dump of your database (i.e. pack up the chaindata folder) and upload it somewhere where we can examine it? IMHO this should probably be caused by some artifacts from previous updates or similar, but without a repro I cannot really see what's inside the database that's choking the new updater.

[2015-10-12 08:27] tgerring commented on #1894
Have you used the `fromBlock` and `toBlock` fields? For example,

[code]

[2015-10-12 08:45] tymat opened #1897 "eth_listTransactions"
This feature has been discussed on gitter in the past and we would like to see this get implemented for accounts and contracts.

_Proposal_

eth_listTransactions

Returns a list of transaction hashes for a given external or contract account

**Parameters**

String - the account or contract address

[code]

**Returns**

DATA - A list of transaction hashes

[2015-10-12 08:52] gavofyork commented on #1897
This is useless - transactions are merely one way of two ways to send a message to an object ("contract") in Ethereum; CALL would be the other way.

Use logs. It's what they were designed for.

[2015-10-12 08:52] gavofyork commented on #1897
would close.

[2015-10-12 09:11] drupalnomad commented on #1894
Okay - I think this is fine.

[2015-10-12 09:11] #1894 closed

[2015-10-12 13:40] bas-vk commented on #1893
Question, for user interaction we have plans to integrate a GUI confirmation window. Some (maybe all) of these libs require the GUI go-routine to be the main go-routine (at least go-qml requires this on OSX). Does this lib have similar requirements?

[2015-10-12 22:04] obscuren commented on #1895
No, indexing addresses **and topics** would require too much disk space eventually.

Improvement can be viewed in https://github.com/ethereum/go-ethereum/pull/1899 which speed things up by roughly `97%`

[2015-10-13 07:29] tgerring commented on #1893
I haven't seen anything that talks about any restrictions about running on main thread. It seems that the main functionality provided by this code is integration into the various service managers for major platforms, with a simple Start() and Stop() method needing to be defined.

[2015-10-13 17:51] VoR0220 commented on #1892
:+1:

[2015-10-13 21:51] obscuren commented on #1892
I can confirm and replicate this issue.

[2015-10-13 21:51] obscuren commented on #1882
Closing in favour of https://github.com/ethereum/go-ethereum/issues/1892

[2015-10-13 21:51] #1882 closed

[2015-10-14 19:42] Gustav-Simonsson commented on #1897
@gavofyork It's far from useless. For example, it would be very useful for keeping track of non-contract txs, which cannot use logs.

This feature has been requested from several people. We shouldn't force users to only use the platform in a certain way, and If users desire a API call which doesn't conflict with anything or have any significant drawbacks, we should consider adding it.

I'm in favo

[2015-10-14 23:00] obscuren commented on #1897
So am I. But let the community decide on this. Get enough +1 and it will eventually be considered/added.

[2015-10-15 04:50] rodriglporto opened #1902 "Eth - UPNP Device Not Found"
Hi

I've been using Eth for around 1.5 months and it was working beautifully... Two days ago I turned off my computer and when I turned it on again, I couldn't connect anymore nor sync the blockchain. I've got a wallet with some ether on and I can't send my ethers to another wallet, since I can't connect to the network anymore...

This is the error I receive when I start eth:

i  00:45:43|p2p  UPn

[2015-10-15 06:15] fjl commented on #1902
We cannot help you with eth issues, this is the geth issue tracker.
Good to hear that at least geth seems to work.

Please reopen this issue at http://github.com/ethereum/webthree-umbrella/issues

[2015-10-15 06:15] #1902 closed

[2015-10-15 10:57] drupalnomad commented on #1897
Maybe messages to non-contract addresses should automatically get a log entry?

[2015-10-15 18:15] rodriglporto opened #1904 "Geth walllet Import - panic: runtime error: slice bounds out of range"
Hello Guys!

Is it possible to import a JSON wallet from ETH to a GETH wallet? Or transfer funds?

Unfortunately my ETH is not connecting to the network anymore and I can't figure out why (I have another issue opened)... So I at least don't want to lose my ether that I have in the ETH wallet.

So, when I try to import my ETH wallet to GETH, I receive an error. Details below:

geth wallet import "c

[2015-10-15 18:40] frozeman commented on #1897
+1 I fully agree with gustav here. Even though most of the cool stuff can happen in contracts, being able to simply send money from one account to the other will be heavily used. And then you need a easy way to display its transactions (e.g. the wallet needs that for example :) )

I would add a second parameter, which is the nonce, from which on you want to get transactions. This way you don't nee

[2015-10-15 22:41] obscuren commented on #1904
I might be mistaken but I don't think `eth` produces standard JSON wallets. Maybe @gavofyork could chime in, he's in charge of cpp-ethereum which produces `eth`

[2015-10-15 23:17] rodriglporto commented on #1904
Yes, actually @obscuren, you are right. After some more reading I realized this as well. Anyway, I was able to to fix my other problem with my AlethZero... I've downloaded the new version and was able to connect to the network, update my blockchain and my wallet funds. So, this issue can be closed :).

Tks anyway! Cheers!

[2015-10-15 23:17] #1904 closed

[2015-10-16 19:43] jtremback commented on #1573
Kind of odd, since most command line programs do close with Ctrl+C... python, node, etc etc.

Whatever though, I'm glad I know it's Ctrl+D now (although I don't remember using anything that closes with Ctrl+D recently)

[2015-10-16 19:45] jtremback opened #1908 "geth attach does not work."
Fails with this error:

[code]

[2015-10-16 19:46] obscuren commented on #1908
Just to be sure; you have a node running, correct?

[2015-10-16 21:39] jtremback commented on #1908
Yes, started geth with `geth console`

[2015-10-17 05:27] drupalnomad commented on #1573
Bash closes with Ctrl+D

[2015-10-17 06:19] #1895 closed

[2015-10-17 07:50] paulmorriss commented on #1908
Is the node using the default data directory? I got this error when I was
running one with a non default data directory and I forgot to specify it on
the geth attach command line too.
Paul

On Friday, October 16, 2015, Jehan <notifications@github.com> wrote:

--
Paul Morriss
http://paulmorriss.com

[2015-10-17 12:11] c-cex opened #1909 "Fatal: Error starting RPC: listen tcp xx.xx.xx.xx:xxxx: bind: cannot assign requested address"
Linux Debian x64. I'v compiled geth, started it this way:

su -m ethuser -c '/eth/geth -rpc -rpcaddr=xx.xx.xx.xx -rpcport=xxxx'

And got this error:

1016 23:22:31.272868   28300 http.go:96] Can't listen on xx.xx.xx.xx:xxxx: listen tcp xx.xx.xx.xx:xxxx: bind: cannot assign requested address
Fatal: Error starting RPC: listen tcp xx.xx.xx.xx:xxxx: bind: cannot assign requested address

I tried diffe

[2015-10-17 12:19] larspensjo opened #1910 "Synchronization failure"
I am using the geth 1.2.2 packaged with the Windows Ethereum wallet, and noticed synchronization started "quick", but then slowed down, failing to catch up. Starting geth manually, I get a log file as follows:

    I1017 12:01:27.142035    3368 downloader.go:275] Block synchronisation started
    I1017 12:01:29.238483    3368 chain_manager.go:722] imported 1 block(s) (0 queued 0 ignored) including

[2015-10-17 13:33] obscuren commented on #1910
Could you check and make sure your system time is synchronized correctly

[2015-10-17 15:01] larspensjo commented on #1910
Thanks, that was spot on and fixed my problems!

I dual boot between Linux and Windows, and for some reason Windows usually get the time wrong by two hours when coming from a Linux session.

[2015-10-17 15:01] #1910 closed

[2015-10-17 15:53] obscuren commented on #1910
Got the exact same issue on my Windows machine. Happy it fixed your issue :+1:

[2015-10-18 09:55] fjl commented on #1909
If you specify a listening address, one of the network interfaces on the machine must have that address.

[2015-10-18 09:56] fjl commented on #1909
Would be good to know what you are trying to do.

[2015-10-18 13:26] c-cex commented on #1909
I'm trying to specify IP address of my server from where only I want to be able to access wallet's RPC

[2015-10-18 13:43] fjl commented on #1909
Things you can do:

- Use the firewall (iptables, etc.) to limit access to a certain source IP range.
- Run geth with --rpcaddr=127.0.0.1 (the default) and put a proxy such as nginx in front of it. Configure IP-based access control with nginx or use SSL with client certificates. I'd recommend the latter if you want access via the Internet.

[2015-10-18 13:43] #1909 closed

[2015-10-18 15:02] c-cex commented on #1909
Then feature request!
-rpcallowip= like bitcoin has!

[2015-10-19 02:52] datajerk opened #1911 "geth 1.2.2 ARM account unlock memory utilization"
Hi, with every version of geth I've tested on ARM I've noticed that memory utilization averages about 130M except when unlocking an account.  Memory then balloons to 600+.  Since unlocking is async a 2nd unlock call will crash geth.  This memory is held onto for about 5 minutes.

[2015-10-19 09:12] bcg-didi commented on #1849
I'm also having such a case:
[code]
Seems stuck in an endless loop of retrying this block.

More info about this block:
[code]

Running *Geth/v1.3.0-dev/linux/go1.5*

What can I do about this?

[2015-10-19 09:17] obscuren commented on #1849
Could you zip up your database (OS X: ~/Library/Ethereum/chaindata, Linux: ~/.ethereum/chaindata) and upload it somewhere? **please make sure you only zip up the chain data folder**

[2015-10-19 09:28] obscuren commented on #1849
Also what does your `eth.getBlock("latest")` report you? It could be a bad peer trying to feed you bad blocks. I've seen similar reports on that block with the same hash.

The odd thing is that you do indeed have a block with number `399738` in your database which isn't the block mentioned in the error:

* Error: `Bad block #399738 (0xa15e2f70137c6fcc8c56eac4c3c22504195aeef8257f5a1c7063a3a6dd01342

[2015-10-19 09:36] oliversk commented on #1144
Any updates?

[2015-10-19 11:14] Gustav-Simonsson commented on #1911
This is technically a feature, the KDF used for key encryption by default in geth (scrypt) requires 256MB of memory. We may consider reducing this and/or making it configurable to make unlocking easier on ARM and embedded devices. Meanwhile you should be able to generate a key with eth which uses PBKDF2 by default and then unlock it in geth. It requires far less memory to decrypt.

[2015-10-19 12:40] frozeman opened #1913 "Add eth_getNatSpec"
`eth_getNatSpec` should require the same parameters as `eth_sendTransaction` (the transaction object with from, to, data etc..)
And return the natspec text instead (and not sending a transaction :) )

[2015-10-19 12:43] frozeman opened #1914 "Add outOfGas property to the receipts"
This property is needed to determine if transactions worked or not:
Possibilities would be:
`outOfGas: true`
`failed: true`
`reversed: true`

[2015-10-19 13:11] hdiedrich opened #1915 "IP address cache of lost peers should be cleared periodically"
IP addresses of peers that are lost should maybe be forgotten faster than seems to be the case now.

Most people working on private networks will first connect to the public network to learn. This makes their nodes' IP addresses known and remembered by nodes in the public network, which will in turn try to re-integrate 'lost nodes' forever (?) and cause constant traffic even when those nodes have

[2015-10-19 15:41] Gustav-Simonsson commented on #1915
![borgfirstcontact](https://cloud.githubusercontent.com/assets/293096/10582532/a309a4d2-7688-11e5-8511-40b1edb169cf.jpg)

[2015-10-19 22:29] obscuren commented on #1908
@jtremback if you supplied a `--datadir /tmp/something` make sure that you `attach` using `geth attach ipc://tmp/something`

[2015-10-19 22:30] obscuren commented on #1914
Yes, `outOfGas`

[2015-10-19 23:24] obscuren opened #1916 "core: re-write hard dependency from the block chain on the block processor"
The current approach to block and state processing is done in two stages.

1. Pass block to block chain

    a. pass the block to a block processor [2]
    b. check errors and bail if erroneous
    c. persist block & receipts to database; all state information is lost / unknown

2. Validate block

    a. validate header
    b. validate block's miner nonce
    c. process transactions and validate r

[2015-10-20 02:00] datajerk commented on #1911
Thanks, can you provide a bit of detail on how to generate keys with eth that work with geth?  I've tried ethkey 0.9.41 and 1.0.0 with no luck.  The new bare option seem to be what I need, but in both versions the option is not recognized.  Thanks.

Is there a patch I can apply to geth for the reduced memory foot print?

Thanks again.

[2015-10-20 02:29] datajerk commented on #1911
Default eth keys appear to be scrypt as well.

[code]

[2015-10-20 09:21] tymat commented on #1897
eth_listTransactions is very much needed for Ether to Ether transactions.  For wallet devs we need a way to present this information to users so they know how their Ether was spent and when it was spent and which TX hashes they occurred in.  Adding a separate persistence layer to store this data for easy access is cumbersome and would have to be constantly updated on the client side.

This is very

[2015-10-20 09:45] slothbag commented on #1897
+1 I found myself looking for this feature.. would be great to get it included.

[2015-10-20 12:21] Gustav-Simonsson commented on #1911
@datajerk OK it seems eth is now also generating keys with Scrypt KDF by default. This should be compatible with geth as both are based on the same spec: https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition

We tested compatibility cross Go, CPP and Python for this spec awhile back, but it looks like some minor incompatibility is not present. Probably just some encoding, I'll look

[2015-10-20 13:33] VoR0220 commented on #1897
:+1:

[2015-10-20 13:33] VoR0220 commented on #1897
this is much more efficient IMO than the logs...and there's a lot of use cases for this feature for execution in other contracts.

[2015-10-20 13:35] VoR0220 commented on #1897
I would add a third optional parameter for number of transactions from the top or bottom (perhaps something python-esque?)

[2015-10-20 13:53] frozeman commented on #1897
Though i +1 this feature @VoR0220 you can't get logs only from transactions, as there can also be logs created when one contract interacts with another.. So only relying on this feature won't work.

I don't like the third parameter actually, as a `nonce` (from which nonce to get tx on), is more than enough to control the tx flow.

[2015-10-20 13:55] VoR0220 commented on #1897
how does nonce control how many transactions you would like to see?

[2015-10-20 14:13] datajerk commented on #1911
@Gustav-Simonsson this appears to be working.  I'll do more testing.  Thank you very much!  Oh, on a 1GHz ARM new account went from 36.5 seconds to 1.5.  Unlocks were taking 44 seconds, now almost instant.  What are the impacts of this setting?  What am I giving up for speed?  I can speculate.

Thanks again.

[2015-10-20 15:53] Gustav-Simonsson commented on #1911
@datajerk It configures the KDF used (Scrypt) to use less memory. This weakens the KDF which is not a problem unless weak passwords are used. If strong enough passwords are used you can configure it even lower to avoid it's overhead entirely.

If password protection of keys is not needed, one can also use the plaintext keystore by changing `NewKeyStorePassphrase` to `NewKeyStorePlain` in this line

[2015-10-20 16:20] obscuren commented on #1765
I think we can close this issue. This has been addressed in one of your PRs @karalabe

[2015-10-20 16:26] karalabe commented on #1765
Yeah, I did try to sort out any issues like this that I've found, so it should be fixed already in there.

[2015-10-20 16:26] #1765 closed

[2015-10-20 17:09] oliversk commented on #1893
This is a neat idea. Right now every time a sever experiences a disconnect geth will stop working, a restart is then required. As a service you could allow geth to check itself (whether its running correctly) and when its not working restart itself automatically

[2015-10-20 18:55] bcg-didi commented on #1849
[code]

I've currently installed ethereum via Ubuntu PPA https://launchpad.net/~ethereum, not sure if/how I can find out the git rev from there.
Just had an update today:
[code]

The zipped chain folder has ~ 1.7 GB. I'm preparing the upload...

[2015-10-20 20:11] bcg-didi commented on #1849
Here's the zipped chain folder: http://tmp.b10s.net/eth/buggy_chain.zip

[2015-10-20 23:19] obscuren commented on #1849
Thank you. We are looking in to this

[2015-10-20 23:25] obscuren commented on #1849
@bcg-didi where you mining when this occurred?

[2015-10-20 23:36] datajerk commented on #1911
@Gustav-Simonsson I've completed all my testing.  Everything passed.  A huge thanks to you.  I consider this matter closed.  Thanks again.

[2015-10-20 23:36] #1911 closed

[2015-10-21 08:28] d11e9 commented on #1897
:+1:

[2015-10-21 08:45] bcg-didi commented on #1849
It was running as
[code]
(or maybe 2 threads, not sure about this)

[2015-10-21 09:47] obscuren commented on #1849
@bcg-didi Thank you. We've identified the issue and prepared a fix. Waiting for tests to be written up and we'll merge and release a new version as soon as it's done

[2015-10-21 10:07] Gustav-Simonsson commented on #1916
From gitter: It makes sense to split block (header) validation into three main parts:
* Validation of all block header fields except PoW and fields requiring tx processing (e.g. state root). This is very cheap.
* Validation of PoW. Somewhat expensive.
* Validation of fields requiring tx processing. Cost depends on number of txs and associated contract code. Can range from very cheap to expensive.

[2015-10-21 12:45] tgerring opened #1920 "miner: allow the miner to run only when transactions are pending"
Currently, the miner is with on all the time or off all the time. It would be useful in several scenarios, especially development on a private chain, to have the miner run only when transactions are pending. When the transaction pool is empty, the miner should automatically turn off and wait for more transactions.

Suggest to enable this functionality by default for `--devmode` flag in addition to

[2015-10-21 13:23] frozeman commented on #1897
If you say i want to get all transactions from nonce 50 and there a re a total of 60 tx, you will get 10

[2015-10-21 15:01] hdiedrich commented on #1915
Actually they should be cleared from the cache when the find, upon connecting, that it's the wrong network number.

[2015-10-21 23:06] ReidCoin commented on #1870
Hello, Im new to Ethereum and finally beginning to learn.. only my get version is way out of date. I don't know how to update it. If "anyone" can please help me upgrading my Geth Version from v1.1.0 to version 1.2.3 (or most current) please help me... Im working on a MacBook Air with updated Xcode and Command Line (with most updated version... I have not updated to El Capitan though [For exactly t

[2015-10-22 07:50] drupalnomad commented on #1914
Good idea!

[2015-10-22 07:55] drupalnomad opened #1921 "eth.getTransactionReceipt is broken in develop"
[code]

http://etherscan.io/tx/0xb0e0e491330d034b9e3abff82ae2e2e73a6666bb0a6b424a8245101cd1fe7be3

This seems to be happening for regular and contract creating transactions.

[2015-10-22 10:43] drupalnomad commented on #1921
The fix seems to work:
[code]

[2015-10-22 21:37] obscuren commented on #1921
Thanks for following up @drupalnomad :)

[2015-10-23 09:14] bas-vk commented on #1897
@frozeman, what if you want to retrieve tx [100...150] when there are 10.000+ transactions?

[2015-10-23 09:39] ethers opened #1926 "Contract code not matching what's on the blockchain"
code in the following doesn't match the blockchain: https://github.com/ethereum/go-ethereum/wiki/Contracts-and-Transactions#contract-info-metadata

[2015-10-23 11:20] Gustav-Simonsson commented on #1926
Could you please elaborate on what exactly is not matching?

[2015-10-23 15:17] VoR0220 commented on #1897
@frozeman but that's for a nonce in the chain correct? So I would only get the transactions for that block, no (I might be totally off here and feel free to correct me)? However, if I wanted to go and see the past 50 or so transactions for a particular address, how does that nonce benefit me if I want to get specific with the transactions displayed?

[2015-10-23 16:32] frozeman commented on #1897
nonce is an ear increasing number of transactions from an account.
With `web3.eth.getTransactionCount('0x12345..')` you basically get the next used nonce (as nonces start from 0, like `array.length`)

And then you can subtract whatever number you want to go back and ask for those tx.

[2015-10-23 16:41] frozeman commented on #1897
@bas-vk you couldn't :)

[2015-10-23 18:38] obscuren commented on #1897
While easy to implement its difficult to do it right. Indexing all transactions would require quite significant storage and most certainly doesn't scale.

One way to do this is as how we MIP mapped LOGs and use a similar query mechanism, but this is an expensive and CPU/IO intensive operation because there are far more transactions than there are LOGs.

Doing this for LOGs is actually fine since y

[2015-10-23 19:45] fjl commented on #1317
Or not: https://gist.github.com/fivedogit/364501ff7ae1a98fb2c1

[2015-10-23 22:16] frozeman commented on #1897
I don't expect dapps requesting this endpoint often, rather only once when a dapp syncs for the first time. It will then keep this information in a local database anyway.

Remote nodes would have to rate limit their requests anyway somehow.

[2015-10-24 03:21] fivedogit commented on #1317
Caught the panic of my crash this time. Not sure if it's related to this bug or not. I can't make heads or tails of the logs.

https://gist.github.com/fivedogit/affae092725c749a4fd7

[2015-10-24 05:36] m888m commented on #1897
I second the need for transaction listings.
Regarding implementation, to compromise between system load and user friendliness, I suggest to use nonce as single argument, and implement a filter on the gui where users can limit time, counterparties, amounts etc.

[2015-10-24 09:39] obscuren commented on #1897
@frozeman you are making too much assumptions now and neither solves the issue at hand I described above.

@m888m the nonce is hardly the issue

[2015-10-24 09:44] obscuren commented on #1926
I just want to be sure; but the code that's compiled by solidity is **never** stored in its entirety in the state. Only the part that is returned by initial run of the CREATE operation.

[2015-10-24 09:45] obscuren commented on #1897
It's not about rate limiting either. Please reread

[2015-10-24 10:38] rfikki commented on #1897
list of transaction hashes for a given external or contract account. +1

[2015-10-24 11:42] sammy007 commented on #1897
+1, with nonce param.

[2015-10-24 16:38] datajerk opened #1930 "geth 1.2.2, possible memory leak"
I can create by doing this:
[code]
After a while the main geth process running in the background will run out of memory.

[2015-10-24 18:02] mesca commented on #1572
On OS X, I had this issue when the DAG directory was symlinked. Removing the symlink solved the problem in my case.

[2015-10-24 21:11] skydogch opened #1931 "faild enc handshake: could not decrypt auth message (ecies: invalid message)"
Hi,

I am using "Geth/v1.2.2/linux/go1.5" with the following genesis file:

------------------------------------------------------------
{
    "alloc": {
        "a354a8bee6b828b88ce9dab0b2ca45c7b51508d3": {
            "balance": "5000000000000000000000000"
        },
        "cd2a3d9f938e13cd947ec05abc7fe734df8dd826": {
            "balance": "1000000000000000000000000000000"
        },

[2015-10-25 05:20] m888m commented on #1897
@obscuren nonce was not my main point, the need for user friendly transaction listings was. To push end user adoption, we definitely need a user-friendly way to show past transactions that happened during a certain time period and with certain counter parties. Furthermore, the transaction fees occurred for a set of transactions must be easily established.

[2015-10-25 13:20] obscuren commented on #1897
@m888m mine neither. I understand what everyone has reiterated over and over again but as I've mentioned above in great detail; there are issues with the requested feature. It's not as simple as it seems.

[2015-10-26 11:30] karalabe commented on #1930
Hmm... tried this on latest develop just now, been running for 5 mins now, but the original geth won't budge from +- 150MB memory usage.

[2015-10-26 14:27] datajerk commented on #1930
Takes hours. Try 24.

[2015-10-26 14:32] karalabe commented on #1915
The networking protocol is built up of multiple layers, a UDP discovery protocol is responsible for finding useful peers, a P2P data protocol is responsible for interconnecting peers for general data transfer, and arbitrarily many subprotocols are responsible for application specifics (e.g. ethereum, swarm, whisper, etc).

However, the notion of `network id` is present only at the Ethereum applica

[2015-10-26 14:33] karalabe commented on #1930
Do you have a crash dump from such an out of memory panic? Could help us see what was going on inside the node.

[2015-10-26 15:11] datajerk commented on #1930
Give me 24 hours.

[2015-10-27 02:24] ethers opened #1933 "geth unable to sync testnet Morden"
Version: 1.3.0-dev
Git Commit: 57ab1473887b4eaeac2ec6912e3d738d4839b48a

tried to get the chain from Morden, getting:
[code]

(switching to Frontier has no issues getting the chain)

[2015-10-27 02:44] ethers commented on #1926
It looks like this whole section of the wiki https://github.com/ethereum/go-ethereum/wiki/Contracts-and-Transactions#contract-info-metadata is supposed to help verify that the deployed contract is what's on http://dapphub.com

[code]

Otherwise what is the purpose of all the steps above (compiling, getting the contenthash, registering the contenthash with the deployed contract's address, registeri

[2015-10-27 04:09] tgerring commented on #1926
Bytecode stored in the blockchain will depend on the specific version of solidity and options passed to it, for example, enabling optimization

[2015-10-27 10:08] karalabe commented on #1933
I'm looking into this, but I've yet to find an operational Morden peer. I guess most people run their own privat test net for development purposes, so the official one isn't too popular any more. Will try to dig up something though to answer this issue properly.

[2015-10-27 16:20] tymat opened #1935 "personal_lockAccount"
personal_unlockAccount can take a 3rd parameter to set a timeout for account unlocking which is nice but being able to lock accounts at any time should be available to users.

[2015-10-27 17:39] Phistr90 opened #1936 "Geth stop importing block, possible racey mutex"
Hi,

i the following setup geth seems to stop importing blocks after a while:

We have a java application which works as a proxy. It gets the rpc getWork request from the ethminer forwards it to the geth node and adjusts the response. If the header hash has changed, the java application sends out a rpc call getBlockByNumber with parameter "pending" in order to get the pending block information. If

[2015-10-27 19:55] obscuren commented on #1935
:+1:

[2015-10-28 10:01] fjl commented on #1930
@datajerk did it occur again?

[2015-10-28 10:58] obscuren opened #1938 "xeth, rpc: rename eth_getNatSpec to natspec_get"
See https://github.com/ethereum/go-ethereum/pull/1919

[2015-10-28 14:52] #1913 closed

[2015-10-28 16:06] gregbkr commented on #237
Hello everyone,

I tried to understand your discussion but not sure if it is answering my issue. I got the same error: "curl: (52) Empty reply from server", but ONLY when the node is running in a container (maybe a docker only issue...?).

My commands:

    docker run -d --name=eth -v $PWD:/data -p 8545:8545 -p 30303:30303 ethereum/client-go --networkid 12011 --genesis /data/mygenesis.json --datad

[2015-10-28 16:58] datajerk commented on #1930
@fjl yes, tried this instead:

[code]

But the OS killed it when it exhausted memory--no dump to speak of.

I'll test the latest dev branch.

[2015-10-28 17:13] wildfjre commented on #1911
https://github.com/ethereum/go-ethereum/pull/1940

[2015-10-28 17:30] obscuren commented on #1930
@datajerk it's only been, potentially, fixed on `develop`

[2015-10-28 18:24] ethers commented on #1926
Still not clear what the purpose of https://github.com/ethereum/go-ethereum/wiki/Contracts-and-Transactions#contract-info-metadata  is.

Geth runs `eth.compile.solidity` so it can/does lookup the version of solidity and is the one that passes it options; and all that info is supposed to be in `contract.info` ?

[2015-10-28 18:38] ethers opened #1941 "geth Synchronisation failed"
Version: 1.3.0-dev
Git Commit: 57ab147

Are these Synchronisation failed messages expected?
If yes, pls close issue.
If not, to reproduce try connect Geth to Morden testnet (and possibly close #1933)
Thanks
[code]

[2015-10-28 19:37] skydogch commented on #1935
:+1:

[2015-10-28 21:34] dbabits opened #1942 "JSON-RPC serve examples don't work"
Trying as documented, none of the curl commands work.

1) All return the same error, some examples:
[code]
2) Separate issue: all curl commands in the documentation are missing the urls (which I added above)

[2015-10-28 22:01] dbabits commented on #1942
I suspect it is because geth prompts you to type 'y' to a disclaimer, and insided a docker container there's nobody to type anything.
I did not see in geth help any option to avoid this prompt - is this true?

[2015-10-28 22:02] obscuren commented on #1942
You can do a `mkdir -p $HOME/.ethereum/keystore`

[2015-10-28 22:46] dbabits commented on #1942
@obscuren,
Thanks for the reply, but could you clarify:
I'm executing the documented docker command and it doesn't work(see original post)
Do you suggest the documentation is wrong, or the docker image has a bug, or it's a bug in geth and rpc server is broken?
Where exactly do you suggest to put that mkdir command-in the Dockerfile?

[2015-10-28 22:47] obscuren commented on #1942
You'll have to excuse me, my knowledge on docker is extremely limited. What you can do in order to bypass the disclaimer problem is by creating the directory I mentioned above.

[2015-10-28 23:13] obscuren commented on #1930
@fjl found the issue. He's working on a patch tomorrow.

[2015-10-28 23:20] ethers opened #1944 "--genesis doesn't work with ~"
Version: 1.3.0-dev
Git Commit: 57ab1473887b4eaeac2ec6912e3d738d4839b48a

`--genesis=~/genesis.json` doesn't work (datadir does work with ~)

[2015-10-28 23:21] obscuren commented on #1944
Omit the `=` sign

[2015-10-29 04:01] datajerk commented on #1930
Good news.  BTW, I wanted to rule out the js console and was able to reproduce issue faster with JSON RPC:

[code]

[2015-10-29 09:01] obscuren commented on #1930
Correct. During initialisation of the IPC connection a service is start up and doesn't shutdown when you close the connection.

[2015-10-29 09:40] karalabe commented on #1944
Just to expand a bit on this: `~` is expanded by bash into your home folder. However, for bash to do it's expansion, it must be the first character of a word, otherwise bash assumes it's a literal. So if you don't use `=`, bash will correctly expand it, but otherwise will believe it's a middle character of whatever string so it will leave it as is (bash has no notion of `--var=val` constructs, it'

[2015-10-29 09:40] #1944 closed

[2015-10-29 09:51] karalabe commented on #1941
Just to provide some public feedback too, it seems that the Morden test net isn't much used and the seed server got decommissioned in some weird turn of events. I'll see if we can get a Go bootnode up and running to serve the test network.

[2015-10-29 09:55] karalabe commented on #1941
Ah, I see this is a duplicate of the other testnet issue. The reason why you see these errors it that there's some lone peer that seems to speak Morden, but it has a very bad internet connection and cannot keep up with sending you data in the rate that we request it. Currently we dynamically adapt to a remote peer's bandwidth capabilities (or at least try) at almost all message exchanges, but pull

[2015-10-29 12:33] rfikki opened #1947 "Full Path for loadScript option with windows geth binary seems to not work."
loadScript('jsfile.js')  :this works and returns "true"
loadScript('c:\projects\ethereum\jsfile.js')    :this does not work returns "false" from the console

[2015-10-29 13:03] rfikki commented on #1947
I am NOT using choco. I am using the latest geth binary from here: https://build.ethdev.com/builds/Windows%20Go%20develop%20branch/Geth-Win64-latest.zip

[2015-10-29 13:58] simondlr commented on #1870
Received this error when I upgrade to 1.2.3. OS X Yosemite.

[code]

[2015-10-29 14:00] karalabe commented on #1870
Could you pack up your `chaindata` folder and upload it somewhere. If you sync from scratch the error will go away (most probably some corrupt database), but it would be nice to see what's inside the db that's causing this.

[2015-10-29 14:06] simondlr commented on #1870
Busy zipping and going to find a place to upload it. Will comment back here when it is done.

[2015-10-29 14:07] rfikki commented on #1947
Seems like I have the "\" reversed. After investigation all seems fine: This works: loadScript("c:/projects/ethereum_private/jspath.js")
true

So please ignore.

[2015-10-29 15:49] #1947 closed

[2015-10-29 18:42] juanfranblanco opened #1950 "Chocolatey powershell cannot find desktop location if it is at a different location."
I cannot find the script to do a pull request, this is the fix

<pre>
$packageName    = 'geth-stable'
$url = 'https://github.com/ethereum/go-ethereum/releases/download/1.2.1/Geth-Win64-20151001092742-1.2.1-9666db2.zip'

$toolsDir = "$(Split-Path -parent $MyInvocation.MyCommand.Definition)"
</pre>

**_$desktop = [environment]::GetFolderPath("Desktop")
$shortcutFile = Join-Path  $desktop "$packageNa

[2015-10-29 23:58] Phistr90 commented on #1936
One windows user reported the problem again with version 1.23.
Would be nice if someone could take a look at it.

[2015-10-30 06:48] Phistr90 commented on #1936
More users reporting this issue, some report a peer loss.

[2015-10-30 10:19] karalabe commented on #1950
@tgerring If I remember you wrote the chocolatey scripts. Could you maybe take a look at this?

[2015-10-30 10:22] karalabe commented on #1933
We've added a few more seed servers, should be operational now, hopefully without any hiccups. Fixed via https://github.com/ethereum/go-ethereum/pull/1952 .

[2015-10-30 10:22] #1933 closed

[2015-10-30 10:25] karalabe commented on #1941
https://github.com/ethereum/go-ethereum/pull/1952 should fix this. The issue most probably was that Morden is extremely unhealthy at the moment (essentially nobody is using it), so it's very hard to find peers, and even harder to find a good peer that does send useful data. With the two seed servers added, as long as they remain operational, they should keep Morden alive.

[2015-10-30 10:25] #1941 closed

[2015-10-30 11:12] tgerring commented on #1950
Source repo should be listed on Chocolatey page, but here it is for convenience: https://github.com/tgerring/ethereum-chocolatey

Note that I no longer have access to my Windows computer to do Chocolatey builds. Instead, we should try to get the latest Windows build steps working see https://github.com/ethereum/go-ethereum/issues/1776)

[2015-10-30 12:55] skydogch commented on #1931
The repetition of the message "faild enc handshake" seems to be produced because of the library libgmp3-dev was not installed. The installation of geth was done originally with PPA and no error was reported during the installation. It should have complained about libgmp3-dev.

The problem of libgmp3-dev was found while installing go-ethereum from the source. I am still facing "faild enc handshake"

[2015-10-30 13:07] #1931 closed

[2015-10-30 13:11] simondlr commented on #1870
Just fyi @karalabe. It's a pretty big file and I don't have a good connection, so it will take a while to upload. But I'm busy uploading it. :)

[2015-10-30 20:41] dbabits commented on #1942
Can anybody else help with this? All I'm trying to do is copy-paste documented commands, and they don't work.
thanks.

[2015-10-31 23:02] karek314 commented on #1936
It happened to my node also, node just stuck on old block, geth didn't claim last block was invalid or something unlikely to my previous report.
Geth/v1.3.0-dev-57ab1473/linux/go1.5

[2015-10-31 23:10] obscuren commented on #1936
Attached issues do not relate.

Does anything connect using IPC?

[2015-11-01 18:34] dooglus opened #1955 "panic during normal operation"
I ran 'geth console' for the first time in a couple of months. It was syncing nicely, but taking a long time. I left it syncing overnight.

When I woke up it had crashed:

    I1031 22:31:46.461670   14813 chain_manager.go:661] imported 0 block(s) (0 queued 1 ignored) including 0 txs in 3.692291ms. #394027 [9f77491e / 9f77491e]
    I1031 22:31:46.832677   14813 chain_manager.go:661] imported 0 blo

[2015-11-01 20:56] Phistr90 commented on #1936
"Does anything connect using IPC?"

The java client does only the rpc calls listed above.

[2015-11-01 21:15] obscuren commented on #1936
I understand, but does it make use of HTTP or IPC?

[2015-11-01 21:16] Phistr90 commented on #1936
http

[2015-11-01 21:25] karek314 opened #1956 "geth stopped importing blocks"
Geth while mining under ~ 150 workers, stopped importing new blocks, there wasn't any error, it was just keep mining on old block. After restarting geth synced correctly to latest block. Im not sure if it's related to previous report with local fork stuck.

Geth/v1.3.0-dev-57ab1473/linux/go1.5

[2015-11-01 21:53] sammy007 opened #1957 ""Mining work not ready" error in response for eth_getWork always when using IPC"
I wanna get work from geth using IPC. And response for "eth_getWork" command is always an error <code>mining work not ready</code>. I am on develop branch.

Here is a code I am running https://gist.github.com/sammy007/51a03eafbcfd421ac67e

[2015-11-02 13:39] keo commented on #1271
Even if it's a kernel bug, it would be great to have a fix / workaround for it. It is really annoying.

[2015-11-02 13:40] obscuren commented on #1271
It's being worked on. We're going to let the kernel decide what port to use.

[2015-11-02 15:17] obscuren commented on #1955
Do you recall a sudden shutdown (e.g. power loss) last time you ran `geth`?

[2015-11-02 16:51] karalabe commented on #1870
@simondlr Thanks again for the upload. I've checked and there's indeed some database entry corrupted. There's a supposed block with hash:

`0xfd4af92a79c7fc2fd8bf0d342f2e832e1d4f485c85b9152d2039e03bc604fdca`

with the contents of:

`0xf901fcf901f3a0fe22a01dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d4934794fe16a09178d0f23c965d81f0834a4c72c6253ce6830f4022b1359aaebfc1ecba442d4ea0fefea0f

[2015-11-02 17:02] simondlr commented on #1870
Huh. That's really odd. I would've most likely nuked the dir after Olympic before getting into Frontier. It's all hazy. I also used dockers extensively, so not sure.

I did delete the old chaindata, and it synced again.

[2015-11-02 17:41] dooglus commented on #1955
I don't remember. It's unlikely, but possible. geth synced 80k blocks in about an hour before crashing:

    at block: 310428 (Tue, 29 Sep 2015 20:05:20 PDT)
    modules: admin:1.0 db:1.0 debug:1.0 eth:1.0 miner:1.0 net:1.0 personal:1.0 shh:1.0 txpool:1.0 web3:1.0
    I1031 21:48:51.987584   14813 downloader.go:278] Block synchronisation started
    I1031 21:49:17.453231   14813 chain_manager.go:6

[2015-11-04 01:49] Ryanmtate opened #1959 "Connecting nodes / Importing blockchain on private network"
Hello,

I am trying to import an exported blockchain file from one node to another on a private network, but seem to be getting the following error whenever I try to use admin.importChain(blockchain.bin) =>

invalid block 1186: nonce for #0 [bcb42fdb01684bd348c98f6bb79751f064fd2f88e77dc1fd0022a2bef11f70da…] is invalid (got 66)
    at InvalidResponse (<anonymous>:-81662:-24)
    at send (<anonymous

[2015-11-04 06:32] mingderwang commented on #56
// for ubuntu
sudo apt-get install libgmp3-dev

[2015-11-04 11:37] CJentzsch opened #1962 "linux/arm: panic: fatal error: malloc deadlock"
using the cross compiled binary (https://build.ethdev.com/builds/ARM%20Go%20develop%20branch/geth-ARM-latest.tar.bz2)

[code]

I got a panic: https://gist.github.com/CJentzsch/31aab5b31fae6805f893

[2015-11-04 12:01] fjl commented on #1962
Did this happen only once? Can you reproduce it?

[2015-11-04 12:10] fjl commented on #1962
Also, which commit is this exactly?

[2015-11-04 12:29] CJentzsch commented on #1962
Got the binary about 2 hours ago.
Those are the hashes:

[code]

[2015-11-04 12:47] karalabe commented on #1962
Just a random note here, I have been running an Android build a while ago and noticed a silent crash (i.e. no output, process just stopped being) around the same block height (I remember hitting 90K before dying), and @anthony-cros [also reported](https://doublethinkco.wordpress.com/2015/10/14/porting-ethereum-tizen-cross-builds-by-anthony-cros-14th-october-2015/) that running on the Tizen platfor

[2015-11-04 12:51] fjl commented on #1962
@CJentzsch @karalabe please set `GOTRACEBACK=crash` in the environment and turn on the core dump handler.

[2015-11-04 12:56] zelig commented on #1785
I believe this has already been fixed in #1840

[2015-11-04 22:05] donSchoe commented on #1962
same here, raspberry pi, archlinux arm and latest binary (downloaded yesterday)

panic log: https://gist.github.com/donSchoe/12f008f036433d5590ff

[code]

and can not run it anymore:

[code]

Having the same version as @karalabe:

[code]

[2015-11-04 22:28] donSchoe commented on #1962
Was able to catch the core dump.

http://chaos.cach.co/dump/hpbinjpd/cltl/core.geth.1001.2549b53633c74295bcfbeb9903c111b9.276.1446675193000000.lz4

[code]

[2015-11-05 00:29] SebastianBoyd commented on #1572
Same problem for me on Raspberry Pi

[2015-11-05 00:34] SebastianBoyd commented on #1962
Same problem

[2015-11-05 09:34] donSchoe commented on #1955
i had the same panic, comment here: https://github.com/ethereum/go-ethereum/issues/1962#issuecomment-153883533 (related tickets?)

[2015-11-05 09:47] karalabe commented on #1962
@donSchoe Please open a new issue with your report. This issue tracks an upstream Go bug. Your crash is related to our implementation. After you open the new issue, please mention @fjl in it too so that he's aware of the trie errors.

@SebastianBoyd Please open a new bug report too. As there are two separate issues being reported here, I'm not sure which one of them occurred to you. Open a new one

[2015-11-05 10:03] karalabe commented on #1955
@donSchoe The two (Actually three) issues are unrelated, please open a new issue for yours.

[2015-11-05 10:17] karalabe commented on #1955
@dooglus @obscuren I've been trying to wrap my head around this one (line producing the crash https://github.com/ethereum/go-ethereum/commit/565d9f2306d19f63be6a6e1b8fc480af8dca9617#diff-1549393320d640c34a2a9e27e4194adfL60), but I don't really see a possibility for the crashing code to produce the panic on itself. My bet is that there was a deeper data race in there, and while the hex decoding was

[2015-11-05 10:19] karalabe commented on #1921
This was fixed and merged into master. Closing.

[2015-11-05 10:19] #1921 closed

[2015-11-05 10:24] karalabe commented on #1959
Could you by any chance provide the blockchain data you're trying to import and the exact steps you took to create it/try to import it and also the CLI flags you ran the nodes with?

The `admin.chainSyncStatus` command was elevated into the official RPC spec at `eth.syncing` https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_syncing.

[2015-11-05 10:26] #1884 closed

[2015-11-05 10:28] karalabe commented on #1870
As this issue seems to point to an already corrupted database and not one introduced by the new versions of geth, I'll close it. If it crops up again we can decide if it's a duplicate or something deeper. My guess is that as people transitioned to the new schema, we won't see this any more.

[2015-11-05 10:28] #1870 closed

[2015-11-05 10:29] #1848 closed

[2015-11-05 10:30] #1818 closed

[2015-11-05 11:40] fjl commented on #1955
The older trie code didn't handle invalid nodes very well. I'd rule out a race issue because the older trie also had
a mutex wrapped around every operation.

[2015-11-05 19:33] anthony-cros commented on #1962
@karalabe I can confirm that I got the same problems 3 times already on an arm binary (created via xgo), geth silently stopped at various blocks (~90K, ~120K, ~150K). I was using the latest release. Any idea what could cause it? Need me to try the GOTRACEBACK procedure as well?

[2015-11-05 20:26] Ryanmtate commented on #1959
Hi, Thanks Karalabe!

I am going to close this...

I decided against setting up a private network and decided to fallback to using the --testnet flag. The issue of syncing blockchains between nodes for a private network I thought might add another communications layer complexity or security vulnerability...

However, my steps for going about blockchain exportation was through using the IPC socket

[2015-11-05 20:26] #1959 closed

[2015-11-05 20:40] karalabe commented on #1962
@anthony-cros Yes please. It's kind of shooting in the dark as we have no idea where to look, but an extra data point cannot hurt. So if you can repro it, all information would be welcome.

[2015-11-06 00:51] tymat opened #1971 "eth_getFilterLogs and eth_getFilterChanges returns empty value for blockHash"
eth_getFilterLogs and eth_getFilterChanges returns empty blockHash

[code]

**Version**
[code]

[2015-11-06 00:55] tymat commented on #1942
@caktux can probably help with this.  Basically you need to create the $HOME/.ethereum/keystore directory inside your docker container.  You won't be able to do anything with RPC or IPC until you agree to the license which you are prompted to accept when you start geth for the first time.  The workaround is to create the keystore folder which bypasses this check.

[2015-11-06 00:57] tymat commented on #1962
I run FreeBSD arm for go-ethereum and I have not experienced this issue.

[2015-11-06 00:59] tymat commented on #1926
If your contract has constructor parameters it will add that as part of the code.  You need to make sure that you are checking against the same version of Solidity that the contract was deployed with.

[2015-11-06 01:00] tymat commented on #1914
:+1:

[2015-11-06 01:43] caktux commented on #1942
Running the container with `-it` allows you to type `y` at the disclaimer; bypassing the disclaimer right from the Dockerfile wouldn't be very responsible, but you can add that `mkdir` in a local version. The documented commands have been updated, they were missing `--rpcaddr "0.0.0.0"`, since geth listens on localhost by default, the RPC commands would have only worked from within the container.

[2015-11-06 09:16] drupalnomad opened #1972 "Geth attach no longer works"
[code]

[2015-11-06 09:23] drupalnomad commented on #1972
e165c2d23cf29fdec51c59f42f74735be2a8e1ff is the commit that introduced the regression

[2015-11-06 09:30] sammy007 opened #1973 "Address memory consumption"
After update daemon heated up to 470Mb in 2 days. Previously I noticed only 300+ max.

[2015-11-06 09:40] bas-vk commented on #1971
Thx for the report.

On https://github.com/ethereum/go-ethereum/blob/master/miner/worker.go#L616 the default blockhash is set and never updated.

@obscuren, @fjl, any thoughs how we can solve this? We probably need to repair the existing state since none of the logs contain the BlockHash.

[2015-11-06 09:43] obscuren commented on #1971
@bas-vk this would only matter if you're mining. @tymat is this the case?

[2015-11-06 09:52] karalabe commented on #1972
@drupalnomad Could you please check https://github.com/ethereum/go-ethereum/pull/1974?

[2015-11-06 10:08] tymat commented on #1971
@obscuren     Yes, this is happening on my private test net.  Have not tried in main net yet.

[2015-11-06 12:17] tymat opened #1975 "eth/filters: panic in Filter.Find"
**Version**
[code]

**Crashy stuff**
[code]

[2015-11-06 18:07] dbabits commented on #1942
@caktux, Thank you, this worked.
Wrt the disclaimer and having to type 'y' - I need to be able to deploy many containers in an automated fashion, using docker orchestration tools,  interactive input wouldn't be an option. How do you propose this should work?

[2015-11-06 20:21] fjl commented on #1973
Note to self: could be the new trie cache.

[2015-11-06 20:53] anthony-cros commented on #1962
@karalabe OK so I don't have enough privileges to change the ulimit value (no root access on tizen devices), but I exported GOTRACEBACK to crash and resumed geth. It's continuing from where it had stopped and so far it's working but I expect it to die after a few 10K blocks or so. I'll report back ASAP!

@tymat , that's interesting, did you also use XGO to create your binary?

[2015-11-06 22:27] tymat commented on #1962
No.  I had to build natively from within the Pi itself using go1.5 FreeBSD arm.

[2015-11-06 22:44] obscuren commented on #1971
@tymat ok, yes @bas-vk that's indeed the issue. We should think about this since normally the logs are creating during processing which the miner completely skips. We must change the recording.

[2015-11-07 00:06] tymat commented on #1942
@dbabits   You can use docker commit to take a snapshot of your container after you've acknowledged the license and use that to do your mass deployments.

[2015-11-07 11:05] fjl commented on #1942
@obscuren is there any way we can get rid of this interactive disclaimer thing? Maybe after the Homestead release?

[2015-11-07 12:04] obscuren commented on #1942
@fjl yes. We can remove it in 1.4 including develop

[2015-11-09 14:10] wildbunny commented on #1749
Any updates on this? Polling every block and looking for transactions to a specific account is starting to cost serious CPU time.

[2015-11-09 22:13] dbabits commented on #1942
@caktux, do you know where I can find solc compiler?
And, I think it belongs in that docker image, otherwise the documented eth_compileSolidity RPC call doesn't work. (same probably true of other compilers)
I want to build a full image where all geth functions would be usable.
Thanks.

[2015-11-09 23:17] someone235 commented on #1770
I'm at the "develop" branch and I still have this problem.

[2015-11-09 23:20] iurimatias commented on #1770
@someone235 try the latest embark 1.0.2

[2015-11-10 09:44] tymat commented on #1942
solc and lll are part of [webthree-umbrella](https://github.com/ethereum/webthree-umbrella)

[2015-11-10 17:11] dbabits commented on #1942
Thanks!  I'm utterly lost in the multitude of links and sites.

In particular, what is the difference between [gavofyork.gitbooks.io](https://gavofyork.gitbooks.io/turboethereum/content/index.html) vs [ethereum.gitbooks.io](https://ethereum.gitbooks.io/frontier-guide/content/) ?

"The umbrella project for all of C++ Web Three implementation" vs "Go ethereum: Official golang implementation of the E

[2015-11-11 06:34] SebastianBoyd opened #1977 "IO or Memory error on Raspberry Pi"
When attempting mining on a testnet using the following command:
[code]
I get an IO or Memory error. I don't know if this is a bug or I just don't have enough memory. I am using the pi2 with 1gb of ram.
Here is the full error text:
http://pastebin.com/L13kadEX

[2015-11-11 09:16] karalabe commented on #1977
Hey Sebastian,

  In order to mine, your node needs to generate the full DAG, which is over 1 GB in size, so unless you have significantly more than that (I think during DAG generation it can use up to 4GB RAM), you won't be able to mine. Similarly though, an RPI won't be able to do much, as the network's hashrate is equivalent to literally millions (if not billions) of RPIs :)

[2015-11-11 09:18] #1972 closed

[2015-11-11 11:42] #1977 closed

[2015-11-11 13:35] paulmorriss opened #1978 "Fast syncing taking a long time on Raspberry Pi v1"
Following this conversation on Reddit: https://www.reddit.com/r/ethereum/comments/3rcakv/geth_release_131/cwmtqr2 here are some of the logs from my Raspberry Pi model B when it's trying to do fast syncing. After 5 days it's only on block #150000. I've put some of the lines that show it rolling back headers in a gist. https://gist.github.com/paulmorriss/9b3f5f38aff4ad43ac14

(The â€¦ characters are

[2015-11-11 17:41] SebastianBoyd commented on #1977
How much ram does it take once generation is complete?  And I know the raspberry pi is not powerful enough to mine competitively, I just want an always on server for my testnet.

[2015-11-12 14:18] tymat commented on #1942
I am not sure about the gavofyork link but that might be Gavin's fork of the official documentation.  Have you tried comparing the diffs between the two versions?

[2015-11-12 16:25] timelf123 opened #1979 "Building on windows, OpenCL disabled - can't get GPU mining working"
[code]

I have the GO_OPENCL = true in my env variables

[2015-11-12 16:27] fjl commented on #1979
The `GO_OPENCL` environment variable is not honoured when building with `godep go install`.
Use `godep go install -tags opencl` instead.

[2015-11-12 16:27] #1979 closed

[2015-11-12 16:28] timelf123 commented on #1979
Thank you felix

[2015-11-12 16:51] fjl commented on #1979
These messages mean that the OpenCL SDK is not installed or can't be found.

[2015-11-12 20:34] timelf123 commented on #1979
@fjl the Nvidia CUDA toolkit is installed in C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v7.5

What env variable needs to be set to get this working?

[2015-11-12 21:59] fjl commented on #1979
@Gustav-Simonsson does it even build with the CUDA SDK?
I'm not sure about it.

[2015-11-13 07:28] bobsummerwill commented on #1962
Yes, @tymat.  With xgo.

[2015-11-13 14:53] anthony-cros commented on #1962
Sadly I wasn't able to get any trace :(

The good news though is that restarting `geth` seems to continue from where it left it off, and as such you can use an infinite loop to get sync-ed

[2015-11-14 03:25] tymat commented on #1962
@bobsummerwill   Possibly an issue with the cross compiler itself.  What is the CPU target?

[2015-11-14 14:50] bobsummerwill commented on #1962
@anthony-cros?   Just ARM unknown, right?

[2015-11-14 17:01] anthony-cros commented on #1962
Yes @bobsummerwill , this is what we [default to](https://github.com/doublethinkco/webthree-umbrella/blob/221cfb1/cross-build/ct-ng/ct-ng.sh#L11)

[2015-11-16 02:13] datajerk opened #1981 "whisper get_messages does not clear buffer"
Getting the same messages until TTL.  We have to use the hash to verify if dup or not.  Keeping a very large hash table is not ideal.

[2015-11-16 02:17] datajerk opened #1982 "xeth: panic in whisperFilter.insert"
Stack trace: https://gist.github.com/datajerk/716a582265426b2ce922

[2015-11-16 08:42] tymat commented on #1897
Indexing of this can be an optional setting when starting up the node.  It doesn't have to be a requirement so clients that do not have CPU power can just turn the feature off.

Right now most of the web wallets and mist based wallets are forced to use some external persistence mechanism to have this data available to the user so any efforts to save CPU/etc... becomes a zero sum effort and you add

[2015-11-16 10:55] fjl commented on #1930
The fix has been released in geth 1.3.1.

[2015-11-16 10:55] #1930 closed

[2015-11-16 11:33] Gustav-Simonsson commented on #1979
@timelf123 Haven't tried building with CUDA - only with http://developer.amd.com/tools-and-sdks/opencl-zone/amd-accelerated-parallel-processing-app-sdk/

You can try compiling https://github.com/Gustav-Simonsson/go-opencl separately and make sure you have OpenCL headers in your paths. If that works, then go-ethereum should build.

[2015-11-16 14:51] datajerk opened #1983 "crypto: ecrecover panic: [libsecp256k1] illegal argument: recid >= 0 && recid <= 3"
Trace: https://gist.github.com/datajerk/733e2b1cc3034573a955

[2015-11-16 15:09] datajerk commented on #1956
I have same problem with 1.3.1.  I had to create a small script to monitor block stall to kill and restart geth.

[2015-11-16 17:28] caktux commented on #1897
Got my vote. Maybe index the node's accounts by default and all accounts only optionally?

[2015-11-16 19:22] obscuren commented on #1981
Intended. Use `shh_getFilterChanges` instead of `shh_getMessages` if you only require pending messages.

[2015-11-16 19:22] #1981 closed

[2015-11-17 03:05] jambtt commented on #1897
+1 add getTransactions(address) to API.

[2015-11-17 07:52] tymat opened #1985 "[XXXXXXX] broke chain ordering, expected XXX"
[code]

I have a private chain with 2 nodes talking to each other and the non-miner node keeps reporting "broke chain ordering, expected XXXX"

[2015-11-17 09:22] obscuren opened #1986 "cmd/geth: auto complete failure on shh.newIdentify (identity)"
`shh.newId<tab>` autocompletes to `shh.newIdentify` instead of `shh.newIdentity`

[2015-11-17 10:55] fjl opened #1987 "crypto: KeyStore improvement ideas"
The key management infrastructure is currently split into several layers:

[code]

[code]

The general reasoning behind this design was to ensure that people wouldn't use
unencrypted keys. It was also supposed to anticipate an implementation of KeyStore that
talks to a hardware crypto device.

The interface has grown over time and isn't as flexible as it could be.
One particular example where the

[2015-11-17 13:34] Gustav-Simonsson commented on #1987
@fjl How would one get a `*crypto.Key` from only `common.Address` if the key is encrypted? It's not possible to fit [the encrypted key storage data](https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition) into `crypto.Key` without modifying it.

[2015-11-17 13:36] fjl commented on #1987
Sure, `*crypto.Key` is not the right type for this.

[2015-11-18 10:42] karalabe commented on #1978
Thanks for opening the issue here too.

Could you perhaps save a log with the `--vmodule=downloader=6` CLI flag set, and perhaps another one (will be huge) with `--verbosity=6`?

The issue I see from your log snippets is that the sync gets interrupted quite often, which causes frequent restarts. I am not entirely sure about the cause of the interrupts though. One possibility is if you have limited

[2015-11-18 10:59] karalabe commented on #1987
I like the idea of this refactoring. I would modify the interface a bit though :P

[code]

i.e. Since the interface is a **Key**Store, I don't see the need to have all methods contain "Key" in their name.

However, the issue with this interface design is that I need the `AccountManager` to be able to decrypt anything a `KeyStore` might throw at it. As in I won't be able to implement some arbitrary

[2015-11-18 11:11] obscuren commented on #1983
This has been fixed on develop

[2015-11-18 11:11] #1983 closed

[2015-11-18 20:35] paulmorriss commented on #1978
I have 50Mb, so bandwidth shouldn't be a problem. The lan light on the Pi is flashing away quite a lot, so it may be that the CPU is saturated. Anyway, I renamed the blockchain directory so it started again (as I was getting errors on the output - I can give more details if necessary).

I'm using `--vmodule=downloader=6` and maxpeers at 10, verbosity 4. I've got messages about importing headers an

[2015-11-18 22:16] kumavis opened #1992 "skip CheckLegalese via environment variable"
Feature Request: Allow legalese to be skipped by correct value in environment variable.

up-side: more semantic means of skipping the legalese. ~~also official docker image works as-is.~~
down-side: ?

I understand that you can achieve this by creating the data directory first~~, but unfortunately there doesn't seem to be a way to do this with `docker-compose` when using the official image ( need

[2015-11-18 22:21] kumavis commented on #1992
if you set the volumes like this in `docker-compose.yml` it will work:
[code]

[2015-11-18 22:36] obscuren commented on #1992
We're removing the legalese in our next version.

[2015-11-19 07:51] karalabe commented on #1986
Fixed in develop via https://github.com/ethereum/go-ethereum/pull/1990

[2015-11-19 07:51] #1986 closed

[2015-11-19 07:53] karalabe commented on #1978
The sync already in progress is just a debug log that fires when the node sees something new but then figures that another thread is already pulling data so it won't start a second download procedure.

[2015-11-19 12:46] obscuren opened #1994 "core: transaction pool, virtual account balance"
In order to reject transactions that would go over the max balance of the account we need a way account for virtual balances.

For example an account with `5` ETH, sending `6` transaction of `1` ETH should result in the 6th transaction being rejected.

This should be fully optional and enabled by default.

[2015-11-19 17:14] karalabe commented on #1992
Dropped in develop. Closing.

[2015-11-19 17:14] #1992 closed

[2015-11-19 20:26] paulmorriss commented on #1978
After 24 hours it's on block 402257, with no rollbacks. There were 20 "no peers" errors. So I guess restricting the number of peers prevents it being too busy to process blocks.

[2015-11-20 20:11] paulmorriss commented on #1978
And after 50 hours its synced, and can keep up with the new blocks.

[2015-11-21 19:49] simonjanin commented on #1893
@oliversk  +1 This would be particularly useful for my Raspberry Pi full node running geth. Geth just crashes or disconnects sometimes. So this would solve it neatly.
When we switch to PoS, this will be all the more relevant.

[2015-11-22 15:51] SCBuergel opened #1998 "solC not on Chocolatey"
Following the windows install instructions from [the wiki](https://github.com/ethereum/go-ethereum/wiki/Contract-Tutorial#install-solc-on-windows), I get the following error message:

    C:\Users\sbuergel>cinst -pre solC-stable
    Installing the following packages:
    solC-stable
    By installing you accept licenses for the packages.
    solC-stable not installed. The package was not found wit

[2015-11-22 21:44] obscuren commented on #1985
@karalabe

[2015-11-22 21:45] obscuren commented on #1978
Considering this closed.

[2015-11-22 21:45] #1978 closed

[2015-11-22 21:47] obscuren commented on #1938
@zelig

[2015-11-22 21:49] obscuren commented on #1935
@bas-vk please get this integrated in the new RPC stack.

[2015-11-23 10:02] karalabe commented on #1985
Hmmm, I'll look into it. That error is reported when the downloader requests some headers from a peer and it sends back something else. However, I wonder if in the case of a miner, whether it could confuse an block announce with a header response.

Just to check, your second node (the non miner) is not in sync, only currently catching up, right?

[2015-11-23 10:12] karalabe commented on #1985
If you can reproduce this, could you give me the logs ran with `--vmodule=downloader=6,fetcher=6`?

[2015-11-23 10:17] karalabe commented on #1962
Hey all, this bug was supposedly fixed upstream in the Go repository. It is scheduled for release in Go 1.5.2, though I'm not sure when that supposed to happen. Until then however I've updated the xgo cross compilation images to support Go development branches, and we've pushes Makefile updates to the geth repo to support selective cross compiles and Go runtime selection.

If you wish to try out b

[2015-11-23 10:21] karalabe commented on #1908
I figure this is solved. We should probably clean up the CLI args further, but that's on our long term todo list already.

[2015-11-23 10:21] #1908 closed

[2015-11-23 10:22] karalabe commented on #1038
@obscuren This was sorted out by the log mipmaps right? If so, please close.

[2015-11-23 11:19] karalabe commented on #1564
This was fixed, and will be further refined by the customizable protocol stacks PR https://github.com/ethereum/go-ethereum/pull/1970.

[2015-11-23 11:19] #1564 closed

[2015-11-23 11:29] karalabe commented on #1897
Just a thought. As already mentioned, doing a full index of transactions would be costly both CPU and storage wise. However, if we consider that most people will only ever care about a handful of accounts, we could do a heuristics whereby a node would only index transactions for:

 * Etherbase
 * All accounts reported by eth.accounts
 * Any account previously requested

This way the storage price

[2015-11-23 11:32] karalabe commented on #1749
I'll close this in favor of a newer duplicate issue that has some semi-active discussion on it. https://github.com/ethereum/go-ethereum/issues/1897

[2015-11-23 11:32] #1749 closed

[2015-11-23 11:34] wildbunny commented on #1897
If you guys are considering adding this, please can we have a 'since block' parameter? That's how exchanges sync their coin's blockchains and it would save them time to have this parameter.

[2015-11-23 12:28] tymat commented on #1985
@karalabe It happens when syncing. It's probably reproducible when network connectivity isn't reliable.

I'll try to get logs together.

[2015-11-23 12:47] obscuren commented on #1998
@tgerring @chriseth any idea who's maintaining this?

[2015-11-23 12:50] frozeman commented on #1812
Why not the `/tmp/` folder anymore?
Because on macosx, the Ethereum folder is in `~/Library/Ethereum` and cpp is in `~/Library/Application Support/Ethereum` So we would still have a different folder.

[2015-11-23 16:47] bobsummerwill commented on #1962
Great!   Thanks for the update @karalabe.

@anthony-cros Please could you use the 1.5-develop branch while putting together our go-ethereum-cross Dockerfile for https://github.com/doublethinkco/webthree-umbrella-cross/issues/29?

[2015-11-23 17:50] anthony-cros commented on #1962
Sounds good @bobsummerwill , and great job @karalabe , I'm curious to know what the problem was (if it's easy to summarize)?

[2015-11-23 17:52] bobsummerwill commented on #1962
Yes - I would be interested too.   Is there specific go ticket which was the root cause, @karalabe?   Got a URL to share?  Thanks!

[2015-11-23 17:56] anthony-cros commented on #1962
it's the fact that it was silent that intrigues me the most

[2015-11-23 18:18] tgerring commented on #1998
Seems like Chocolatey support is patchy. Maybe better that we introduce clearer instructions with Homestead website revamp that @alexvandesande is working on

[2015-11-24 05:13] sammy007 opened #2000 "Mining node crashed"
Trace https://gist.github.com/sammy007/4980b7ed0a1367727633

[2015-11-24 05:40] fjl commented on #2000
Thanks for reporting. This issue is fixed on the develop branch.

[2015-11-24 05:40] #2000 closed

[2015-11-24 05:45] sammy007 commented on #2000
@fjl Can we expect fix in a stable branch?

[2015-11-24 05:51] fjl commented on #2000
It will be in 1.3.2

[2015-11-24 06:13] sammy007 commented on #2000
Very cool, maybe it's time to move this fix to master "stable" branch since it's a show stopper? Node failed several times during 2 hours.

[2015-11-25 04:16] tymat commented on #1897
+1 on the idea of doing a heuristic approach.

[2015-11-25 09:33] frozeman commented on #1812
@obscuren can you please comment?

[2015-11-25 10:33] #1876 closed

[2015-11-25 10:34] #1936 closed

[2015-11-25 10:34] #1956 closed

[2015-11-25 12:08] obscuren opened #2004 "whisper: persist identities"

[2015-11-26 06:25] grizscom commented on #1935
+1 for request

[2015-11-26 07:02] bas-vk commented on #1935
It will be part of the new rpc implementation.

[2015-11-26 07:03] mnoster commented on #1935
yess

[2015-11-26 10:06] karalabe opened #2006 "whisper: spurious test lockup"
Seems that there's a rare lockup in the Whisper tests. This issue is opened mainly to track the freeze log so it doesn't get lost/forgotten: https://build.ethdev.com/builders/OSX%20Go%20pull%20requests/builds/2455/steps/go-test/logs/stdio

[2015-11-26 10:11] karalabe commented on #1317
Should be fixed. Please reopen if it's not the case.

[2015-11-26 10:11] #1317 closed

[2015-11-26 10:15] karalabe commented on #1785
Closing if supposedly fixed. Please reopen if it's not the case. Also note, an upcoming PR will change the account list to comma separated values instead of space separated ones. This is a general move towards eliminating whitespace from within CLI arguments as they cause significant pains when passing through different environments (e.g. bash -> go -> docker -> bash).

[2015-11-26 12:23] danielnovy commented on #1785
Sorry for my late reply! Just tried it now and it's still not working in version `1.4.0-unstable`. So, please, reopen the issue since I don't have the privileges to do so. Thanks!

[2015-11-26 12:36] karalabe commented on #1785
I'll take a look

[2015-11-26 20:55] donpdonp commented on #1054
One point of confusion as a geth newcomer, is 'geth account import' wants a raw privkey. If only the encrypted form/json blob is available, when would import be useful?

[2015-11-26 22:28] obscuren commented on #1054
Other clients do allow private key exports. For security reasons we don't.

[2015-11-26 23:32] zelig commented on #1054
@donpdonp the encrypted form can simply be copied no need to import it. Please see

https://github.com/ethereum/go-ethereum/wiki/Managing-your-accounts

[2015-11-27 00:18] donpdonp commented on #1054
It looks like import is there purely for legacy reasons. Thanks for the info.

[2015-11-27 03:28] dbabits opened #2007 "eth_getTransactionReceipt returns null"
eth_sendTransaction returns hash, but then eth_getTransactionReceipt returns null.
What am I doing wrong?

[code]

[code]

{"id":1,"jsonrpc":"2.0","result":**null**}

[2015-11-27 10:30] tinybike opened #2008 "etherbase and unlock flags result in "Fatal: Invalid account address or index" error"
I'm getting the following error when I use the `--unlock` and/or `--etherbase` flags:
[code]
(I've tried it with and without a `0x` prefix, and with and without single and double quotes.)  If I specify `--etherbase`, it throws that error right away.  If I specify `--unlock` only, I get the following output:
[code]
This output is from the following version (on Ubuntu 14.04):
[code]
This problem sta

[2015-11-27 11:55] sammy007 commented on #2007
Are you sure that TX is confirmed already? If tx is still pending, null is valid result.

[2015-11-27 16:56] dbabits commented on #2007
@sammy007, could you clarify please.
I do what documentation tells me to do:call
eth_sendTransaction, followed by eth_getTransactionReceipt.
If I need to be sure of something in between, could you show another call I need to make?
My guess

[2015-11-27 21:09] Ryanmtate opened #2012 "'admin_chainSyncStatus method not implemented'"
I am using the IPC socket to send the method; it returns:

[code]

payload looks like:

[code]

Is the method no longer implemented?

Thanks,

Ryan

[2015-11-27 21:51] bas-vk commented on #2007
A transaction receipt is generated after the transaction had been processed. It contains things like the amount of gas used or the contract address which are calculated during processing. When you submit a transaction it takes some time before the transaction is processed and the receipt is generated. Until then null is returned as an indication that there is currently no receipt found for the giv

[2015-11-27 22:01] bas-vk commented on #2012
This method has been standardised. Take a look at [`eth_syncing`](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_syncing).

[2015-11-28 18:32] datajerk opened #2013 "panic: runtime error: invalid memory address or nil pointer dereference"
Details:

https://gist.github.com/datajerk/f50d9a14555f3afab107

[2015-11-29 02:07] Ryanmtate commented on #2012
Thanks, will update my code base.

[2015-11-29 02:07] #2012 closed

[2015-11-30 11:46] silly-n opened #2016 "admin.sleepBlocks hangs"
Running geth for private chain, on console I issue miner.start(8); then admin.sleepBlocks(1); and the terminal stops responding. It doesn't recover even when many blocks are mined.
Any suggestions?

geth 1.4.0, but the behaviour was the same yesterday on 1.3

Some logs ...

[2015-11-30 14:30] Gustav-Simonsson opened #2017 "TestThrottling63Full & TestThrottling63Fast block count mismatch"
In build for an unrelated PR:
[code]
https://build.ethdev.com/builders/Windows%20Go%20pull%20requests/builds/2050/steps/go-test/logs/stdio

[2015-12-01 01:59] wil611 opened #2018 "fetch data proportionally to peer capacity #1953 causing stats.ethdev.com issue"
It seems that since i updated this PR I am no longer syncing all data with the stats page. It syncs for a few cycles and then falls behind although the geth client is up to date.

[2015-12-01 10:18] bas-vk commented on #2016
@silly-n, this issue is fixed in develop.
Thx for reporting.

[2015-12-01 10:18] #2016 closed

[2015-12-01 10:36] #1971 closed

[2015-12-01 11:02] karalabe commented on #2018
What version are you running? Stable or develop? They shouldn't really have any influence on one another, but it wouldn't hurt to know exactly your version number.

[2015-12-01 11:03] karalabe commented on #2008
Closing as reported against develop and was fixed. Please reopen if it's not the case.

[2015-12-01 11:03] #2008 closed

[2015-12-01 11:03] fjl commented on #2018
I've seen this too (for "We are the Borg" on netstats). Geth is up-to-date but eth-net-intelligence-api doesn't seem to catch that.

[2015-12-01 11:04] karalabe opened #2023 "Windows CI, account timed unlock test fails sometimes"
[code]

https://build.ethdev.com/builders/Windows%20Go%20pull%20requests/builds/2057/steps/go-test/logs/stdio

[2015-12-01 11:05] karalabe commented on #2018
How does the netstats query the current state?

[2015-12-01 11:16] fjl commented on #2018
[code]

[2015-12-01 11:27] fjl commented on #2018
In the log, it looks like the block filter doesn't return anything.

[2015-12-01 11:28] karalabe commented on #2018
@fjl In develop, there was a bug in the event mux. It was fixed this morning. It shouldn't be present in stable though.

[2015-12-01 11:29] karalabe commented on #2018
https://github.com/ethereum/go-ethereum/pull/2020

[2015-12-01 11:33] fjl commented on #2018
OK, I can confirm that #2020 fixed it for "We are the Borg".

[2015-12-01 11:54] wil611 commented on #2018
@karalabe I'm using develop thanks this looks fixed.

[2015-12-01 11:58] #2018 closed

[2015-12-01 13:04] tgerring opened #2028 "get_TransactionReceipt logIndex and transactionIndex is not correct"
Working on a private chain, I noticed that logIndex seems to follow be the order of a transaction and transactionIndex not set to what it should be. For example, note the below block with 2 transactions, each containing 1 log. The "position" of these logs in the chain should be 7494.0.0 and 7494.1.0 where the format is BlockIndex.TransactionIndex.LogIndex, each as a subset of the other. Instead, g

[2015-12-01 14:28] tymat opened #2029 "block.timestamp returning 0"
[code]
Calling this function returns 0.
When called as part of a contract constructor it returns the correct value.

Not sure if this is Solidity or go-ethereum issue at this point.

**Version**
[code]

[2015-12-01 15:31] bas-vk commented on #2028
@tgerring, according to the official json [docs](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getfilterchanges) the `logIndex` is the index of the log in the block and not in the transaction.

Could you try PR #2030?

[2015-12-01 15:58] tgerring commented on #2028
The problem is that this definition is impractical. If the logIndex is based on the log position in the block, then it is impossible to identify a specific log without fetching all transactions in a block and looping to count the number of logs preceding the particular log. In fact, this is the point of having a transactionIndex. The logIndex should instead be the index of within the particular tr

[2015-12-01 15:59] tgerring commented on #2028
Pinging @frozeman for his input

[2015-12-01 18:09] frozeman commented on #2028
I agree with @tgerring here, it doesn't make real sense to make it block specific, as this makes the log index rather useless.
The only benefit it gives is to give an indication in which order they were processed. (Which can also be found out by checking the tx index too)

Im not sure how this is implemented in cpp @debris

[2015-12-01 22:43] obscuren commented on #2029
@tymat any update on this? Have you discussed this with @chriseth perhaps?

[2015-12-01 22:45] obscuren commented on #2007
I think this is on a private network (otherwise, as @bas-vk, pointed out, this probably won't work).

Please let the transaction be confirmed (mined) and try again. Please let us know if this issue is solved or not.

[2015-12-01 23:10] dbabits commented on #2007
it is on a private network, with only one node.
I simply follow the directions in the documentation, which suggests calling these two functions in this order.
If there's something else that needs to be done in between, could you show the curl command please or update the docs?

I'm not that up-to-speed on the api to translate  "let the transaction be confirmed" into the curl command, would  apprec

[2015-12-02 05:40] tymat commented on #2029
@obscuren haven't been able to catch him online last night.  Will try again today.

[2015-12-02 19:39] silly-n opened #2033 "geth interactive unlock"
I've been wondering why my contracts don't deploy correctly when unlocking account interactively on the console, then successfully made it work when unlocking at geth execution with --unlock.

Like this:
...
[code]
...

always caused greeter.address to be undefined. However I did see contractAddress when calling web3.eth.getTransactionReceipt.

However it did work correctly if I started geth with

[2015-12-03 08:31] fjl commented on #1962
@bobsummerwill The issue was https://github.com/golang/go/issues/13143.

[2015-12-03 10:00] bobsummerwill commented on #1962
Thanks, @fjl :-)

[2015-12-03 22:48] zelig opened #2039 "[swarm] kademllia test intermittent failures with address generation"
https://build.ethdev.com/builders/Linux%20Go%20pull%20requests/builds/2636/steps/go-test/logs/stdio

[2015-12-03 22:51] zelig opened #2040 "[swarm] separate dns/hashonly/raw url schemes"
implement distinct url scheme protocols for:
- dns
- strictly immutable store
- raw content retrieval (via header or forced content)

names still to be decided

this is requirement for mist integration @frozeman @alexvandesande

[2015-12-03 22:53] zelig opened #2041 "[swarm] swarm api integration with rpc v2 + node services"
- [ ]  #2035
- [ ] #2031

[2015-12-03 22:55] zelig opened #2042 "[swarm] bzz protocol should implement info for reporting"

[2015-12-03 22:56] zelig opened #2043 "[swarm] bulk retrieve requests similar to unsynced keys"
performance optimisation

[2015-12-03 22:58] zelig opened #2044 "[swarm] smart peer propagation"
- perpeer session memory cache in hive
- only notify about new peers
- automatic relaying of new closer peers

performance optimisation

[2015-12-03 23:01] zelig opened #2045 "[swarm] push on delete"
the only outstanding case for safe syncronisation logic
- push on db delete
- factor in storage radius for gc in dbstore
- hook for ensured archival checks

[2015-12-03 23:03] zelig opened #2046 "[swarm] deliveries should not enter the sync pool"
For this we need to store retrieved content in a separate access count index, so the db layout needs to change a bit

[2015-12-03 23:05] zelig opened #2047 "[swarm] make http server stoppable"
this breaks tests if we use servers in several tests in the same test regime

[2015-12-03 23:07] zelig opened #2048 "[swarm] swarm namereg rewrite"
* [ ] rewrite namereg interface based on https://github.com/ethereum/EIPs/issues/26
* [ ] rewrite registrar package, use Abi, configurable (by flag) globalRegistrar
* [ ] add dns full end to end tests to http? see #2040
* [ ] use https://github.com/ethereum/go-ethereum/blob/develop/eth/api.go
* [ ] kill https://github.com/ethereum/go-ethereum/blob/develop/common/registrar/ethreg
* [ ] kill  https:

[2015-12-03 23:12] zelig opened #2049 "[swarm] SWarm On-demand Retrieval Daemon"
Sword service: the light client ODR access  plugin.
blocks, transactions, receipts, state and contract storage in swarm
the plan https://gist.github.com/zelig/aa6eb43615e12d834d9f
@zsfelfoldi

[2015-12-03 23:22] zelig opened #2050 "[swarm] IPFS - Swarm integration"
the plan is in the making, watch this space.
My current line of though is to have an ipfs module implementing `swarm/network.CloudStore` interface. This can run alonside bzz push (syncing). I see this as the quickest way to MVP
- interoperability in terms of network
- client interoperability with different stages of bzz implementation / ipfs only
- swap incentivisation for ipfs

[2015-12-04 11:48] frozeman commented on #2040
- `eth://` will resolve namereg DNS
- `bzz://` will resolve swarm hashes (and manifest files, immuteable)
- raw content is to be decided

[2015-12-04 13:11] alexvandesande commented on #2040
@frozeman according to our conversation with them

* `eth://` will be a meta-protocol that resolves name reg into any protocol the name owner wants
* Swarm would have two prefixes one for immutable and other for mutable storage, to be decided by them. I would suggest `bzz://` for mutable and maybe `bzzs://` for immutable (`s` stands for secure, like `https://`)

[2015-12-04 13:41] zelig commented on #2040
`eth` is indeed the meta-protocol that resolves the domain into a full url, using any protocol scheme the name owner wants. this is a mist feature. do you want to have it implemented in swarm?
could do, but maybe it should be above swarm.

this issuee is about the 3 swarm specific scheme handlers:
*  bzz using swarm DNS resolving to swarm hash
* only allowing swarm hash (no trixs with names, as pe

[2015-12-05 07:34] tymat opened #2052 "VM call err: <nil> and VM create err: <nil>"
No errors should not produce these types of messages on the logs.

https://www.youtube.com/watch?v=p0hDorkxAPM

[2015-12-05 14:06] obscuren opened #2053 "RPC: eth.sign should return the ethereum canonical version of the signature"
Ethereum defines the `V` param as `V + 27` (Py relic)

[2015-12-05 18:34] tymat commented on #2029
This can be closed.

[2015-12-05 19:06] #2029 closed

[2015-12-05 19:12] tgerring commented on #1776
GMP dependency removed in #2037 makes building easier. Here is an updated script for building with MingW via Cygwin: https://gist.github.com/tgerring/79f018954aadfb3f406e

[2015-12-06 02:58] tgerring commented on #2007
First check that the transaction has been mined and therefore included in a block with `eth_getTransaction(txhash)`. If the result of this has a block hash & block number, then it should also have a receipt, accessible with `eth_getTransactionReceipt(txhash)`

As pointed out earlier, `null` is a valid result when a receipt is not (yet) avaialble

[2015-12-06 07:27] JeffreyBPetersen opened #2054 "currently latest geth build using solc 0.1.1 on Windows won't compile: no build results found"
[code]

[code]

[code]

I've been trying to figure this out all day.

[2015-12-06 20:37] brw31415 opened #2055 "build error"
hi, i'm trying to build ethereum on debian jesse using the Makefile include in the download  and get these  errors, http://pastebin.com/ZY4KbcPu which seems to be in line 17 of Makefile  http://pastebin.com/A0QATV8M  thanks for any help!

[2015-12-06 23:40] fjl commented on #2055
go-ethereum requires Go 1.4 or later to compile. Please install the go compiler from https://golang.org/dl/ instead of using `apt-get`.

[2015-12-06 23:40] #2055 closed

[2015-12-08 14:21] poiuty opened #2057 "GPU mining not work"
[code]

Try start mining
[code]

And no load to GPU
[code]

[2015-12-08 14:54] fjl commented on #2057
`geth minegpu` doesn't do anything. Run `geth --mine` to start mining.

[2015-12-08 14:54] #2057 closed

[2015-12-08 15:06] poiuty commented on #2057
@fjl, find solution <a href="https://forum.ethereum.org/discussion/3951/go-ethereum-1-3-2-installation-issues-with-ubuntu-14-04lts-solved">forum.ethereum.org</a>
[code]

And it`s work fine.
[code]

So, I think we need to update doc.

[2015-12-09 06:18] ripper234 opened #2059 "Current address scheme should be deprecated"
(This issue is a protocol layer issue, not a geth issue. I hope this is the right repo for it)

Let's call the current account/address scheme "v1 addresses", e.g. [0x78ff59159fafb4a337fd158fcf8d9603a7c6f03a](https://www.etherchain.org/account/0x78ff59159fafb4a337fd158fcf8d9603a7c6f03a).

The v1 address scheme is faulty because it is [missing a checksum](https://www.reddit.com/r/ethereum/comments/3

[2015-12-09 11:33] obscuren commented on #2059
Thanks for the suggestion Ron.

Please see [ICAP](https://github.com/ethereum/wiki/wiki/ICAP:-Inter-exchange-Client-Address-Protocol)

[2015-12-09 13:47] zelig opened #2060 "[swarm] new p2p integration"
- [ ]  https://github.com/ethereum/go-ethereum/pull/1821
- [ ] https://github.com/ethereum/go-ethereum/pull/1925
- [ ] non-redialed forced node connect
- [ ]  min/max peer limit per protocol
- [ ] new API hook to suggest connections

[2015-12-09 15:33] ripper234 commented on #2059
Thanks. I'm closing this now, I guess this isn't the right place for this issue after all.

For future reference, do you think https://github.com/ethereum/wiki/issues is the right place to file issues on the Ethereum protocol?

[2015-12-09 15:33] #2059 closed

[2015-12-10 07:07] zznww commented on #1676
I have a same problem not able to sync and have no peer. The moment I added the peer suggested by @tgerring, it appeared to be working but very soon it stopped with error msg "Synchronisation failed: no peers to keep download active" and then I find the added peer gone!

The weird thing is that the geth process only listens on ipv6 port same problem as @sigwo, which I believe might be the main cul

[2015-12-10 08:54] JonnyLatte commented on #2059
This wouldn't just be for clients. If a standard address with checksums becomes popular then people are going to want to put these addresses into contract code and have the checksum and version stripped out as the contract compiles.

[2015-12-10 09:55] CryptoSiD commented on #1676
create a static-nodes.json file in the .ethereum folder (appdata\roaming\ethereum for windows)
add this in the file

[
"enode://f4642fa65af50cfdea8fa7414a5def7bb7991478b768e296f5e4a54e8b995de102e0ceae2e826f293c481b5325f89be6d207b003382e18a8ecba66fbaf6416c0@33.4.2.1:30303",
"enode://123d37ae8e215b1ec6c9cb94cc8881a88457d6c6f0a7db13cf62a7b38a1e69852ad385c5a62135c81a635531885015db02012bc87c4dec2a50198

[2015-12-10 12:36] zznww commented on #1676
thank you @CryptoSiD
I managed to find it was the ntp issue. after dong ntpdate, it's working! and it is fully reachable by ipv4 though the netstat result shows geth only listens on ipv6

[2015-12-10 15:03] alanwunsche opened #2063 "iGeth - ViewController.swift"
Compiled iGeth in Xcode 7.2 and got a warning

Line 22:
            let data = try NSURLConnection.sendSynchronousRequest(req, returningResponse: &res)

'sendSynchronousRequest... was deprecated in iOS9.0

[2015-12-10 21:09] karalabe commented on #2063
I know, that code is just an example playground, it's nothing official or even necessarily good coding practice. It was just quickly hacked together to display the functionality. Consider it demo sample code.

[2015-12-10 21:09] #2063 closed

[2015-12-10 23:19] fjl commented on #1962
@CJentzsch Go 1.5.2 is out and contains a fix for this issue.

[2015-12-10 23:19] #1962 closed

[2015-12-11 10:38] drupalnomad opened #2065 "Node crash during initial sync"
[code]

and

[code]

[2015-12-11 10:43] drupalnomad commented on #2065
It was behaving very oddly on https://stats.ethdev.com/ - kept on switching between #1xx,xxx and #2xx,xxx as if there was a fork in the blockchain.

I have resumed the syncing and it is no longer doing this.

[2015-12-11 10:46] fjl commented on #2065
Do you have the full trace, by any chance?

[2015-12-11 10:53] drupalnomad commented on #2065
Shit I deleted it. It was 99 MB.

[2015-12-11 10:57] fjl commented on #2065
OK, the log snippets suggest that block data could not be read or written because it ran out of file descriptors.
This can mean two things:

* The limit is set too low. Please check the limit using `ulimit -n`. What is displayed when you run this.
* Geth is leaking file descriptors.

[2015-12-11 11:00] drupalnomad commented on #2065
[code]

It's a fresh Ubuntu 15.10 Linode.

This is the command I used to run it:
[code]

[2015-12-11 11:01] drupalnomad commented on #2065
There was only about 20 peers connected when this occurred.

[2015-12-11 11:02] fjl commented on #2065
`ulimit -u` returns the limit on running processes. What does `ulimit -n` display?

[2015-12-11 11:03] drupalnomad commented on #2065
Oh sorry.
[code]

[2015-12-11 12:35] drupalnomad commented on #2065
It happened again: https://ipfs.io/ipfs/QmQqNucCJoXuPUSY5RbbxcKc7wf7nAm7jNKRjfzyY16MU6

[2015-12-11 12:39] fjl commented on #2065
Please kill geth with SIGQUIT (use `killall -QUIT geth`) so we can see the goroutine stacks.
That will make it possible to see whether something is blocking the closing of files.

[2015-12-11 12:45] drupalnomad commented on #2065
https://ipfs.io/ipfs/QmY2SBrQghAAcAL1WWHzF5mifpMakAqArzvx4ypVQvzcBB

[2015-12-11 13:35] fjl commented on #2065
Sorry, I meant please kill it while the issue happens.

[2015-12-12 07:21] tymat commented on #2007
You need to be mining on your private network.  It will be null until your TX gets mined.  You can wrap your TX in a callback (error first) and periodically check the TX receipt to see that your TX made it onto the chain.

[2015-12-12 07:25] tymat opened #2067 "geth start-up configuration file"
Would be nice to have a configuration file that has the various geth command line parameters (JSON, yaml, ini, dotfile, etc...).  Today we get around this by creating a shell script but it would be nice to have something better for automated deploys of geth nodes.

[code]

[2015-12-12 11:58] tgerring commented on #2007
What you've described is the correct behavior as planned.

What is your expectation of what it should return when the transaction is not yet mined?

[2015-12-12 15:30] mitar opened #2068 "Allow lock and unlocking the account through the RPC"
Otherwise it is really hard to do rally anything remotely (what R in RPC stands for). Unless geth is unlocked for the whole session. Which again means you cannot run geth really remotely.

[2015-12-12 15:38] sammy007 commented on #2068
I like it.

[2015-12-13 17:11] karalabe commented on #2068
`--rpcapi "db,eth,net,web3,personal"`

Please be aware of the consequences of opening up account methods to networked computers.

[2015-12-13 17:24] jackwinters opened #2069 "iGeth mach_msg_trap"
Running in Xcode simulator
Geth not running > Click Start iGeth
Geth not syncing >

Then after a few seconds the debugger with _mach_msg_trap_

**Stack trace (Thread 1)**
#0  0x0000000104147386 in mach_msg_trap ()
#1  0x00000001041467c7 in mach_msg ()
#2  0x00000001014e6b64 in __CFRunLoopServiceMachPort ()
#3  0x00000001014e5fbf in __CFRunLoopRun ()
#4  0x00000001014e5828 in CFRunLoopRunSpecific (

[2015-12-13 23:52] karalabe commented on #2069
I'll try and swap out the Go runtime on the nightly build server from 1.5.2 to the latest develop branch. AFAIK the Go team is considering prepping an initial beta release, so it should be reasonable stable already and as most of the highlights of the 1.6 release will be mobile support, it could be a valuable experiment and maybe provide them too with some feedback on any issues found (e.g. https:

[2015-12-14 04:04] mitar commented on #2068
Personal API is not [documented here](https://github.com/ethereum/wiki/wiki/JSON-RPC)? How stable it is?

Also, it is lacking account locking, there is just unlocking.

[2015-12-14 09:52] ethers commented on #1823
https://www.reddit.com/r/ethereum/comments/3wp5hn/etherchainorg_is_now_linked_to_the_official_name/

[2015-12-14 09:53] karalabe commented on #2068
The `personal` module is part of the [go-ethereum management API](https://github.com/ethereum/go-ethereum/wiki/Go-ethereum-management-API's). It's not supposed to be used by average DApps, hence why it's not part of the standard spec.

[2015-12-14 12:49] obscuren commented on #2068
Not gonna happen.

[2015-12-14 12:49] #2068 closed

[2015-12-14 12:56] obscuren commented on #2068
Another thing is that a DApp isn't supposed to care about locking or unlocking, it should "just happen". It's very domain specific knowledge and that knowledge does not belong with the DApp.

[2015-12-14 15:39] mitar opened #2071 "Provide lockAccount account management API command"
Currently, [management API](https://github.com/ethereum/go-ethereum/wiki/Go-ethereum-management-API's) provides only `unlockAccount` API. It would be great to provide also the `lockAccount` so that you can lock the instance after you do not need it unlocked anymore.

[2015-12-14 15:55] mitar commented on #2068
Yes, by providing the API it can "just happen".

In fact, I was looking into this because I wanted to make it more secure. So I was pretty surprised that you have to run your geth in unlocked mode for the wallet to work. I think this is pretty insecure. So what exactly are the plans for making this more secure? How would mist help here?

I am asking because I am working on a project making web app

[2015-12-14 16:47] obscuren commented on #2071
![NEIN!!!](https://media.giphy.com/media/X3KNwlvpahFBK/giphy.gif)

For a more nuanced answer see https://github.com/ethereum/go-ethereum/issues/2068#issuecomment-164428655

[2015-12-14 16:47] #2071 closed

[2015-12-14 16:48] obscuren commented on #2068
No :-)

Remove accounts entirely from the node. Have the node serve public data **only**. Let whoever need accounting, implement accounting (e.g. mist).

[2015-12-15 00:42] zelig opened #2074 "[swarm] Mist integration - landing dashboard backend functionality"
- [ ] dedicated and actual disk space used for local storage
- [ ] cumulative download / upload in Mb
- [ ] bandwidth/peer reporting, swap arrangement, disconnects due to non-payment, for this we need to explicitly intriduce protocolspecific disconnect reason.
- [ ] autocash/autodeposit settings, balance
- [ ] swap price reporting and dynamic setting? recreate swap arrangement on the fly.
- [ ] ~~

[2015-12-15 02:43] sammy007 opened #2075 "Add 4th param with current height to eth_getWork response"
Please add 4th param to getWork response with current height to make it consistent, otherwise it results in very weird unlocking scheme when you must search for your block around current height, uncles search is also affected. It's backward compatible and can reduce a lot of pain.

[2015-12-15 04:13] zelig commented on #2039
fixed by #2038

[2015-12-15 04:13] #2039 closed

[2015-12-15 04:30] sammy007 commented on #2075
Well, it will go to PoS anyway.

[2015-12-15 04:30] #2075 closed

[2015-12-15 10:16] alexvandesande commented on #2074
I don't need precision on these numbers. If you have already an average size for the chunks and the user can control the amount of chunks to be stored, then it's all good

Isn't that how it works currently? I designed these based on my understanding

[2015-12-15 10:56] karalabe commented on #2069
@jackwinters Could you try with a fresh build pushed out this morning? The previous one was using Go 1.5.2, whereas the new one is built with Go 1.6 develop. Not sure if it makes a difference, but a check couldn't hurt :)

[geth-1.4.0-unstable-9c636d2-ios-7.0-framework.tar.bz2](https://bintray.com/artifact/download/karalabe/ethereum/geth-1.4.0-unstable-9c636d2-ios-7.0-framework.tar.bz2)

[2015-12-15 12:20] karalabe commented on #1892
This issue was fixed upstream in Web3, and down-streamed into geth too. Should be fine on develop. Please reopen if you still encounter this problem on the develop branch.

[2015-12-15 12:20] #1892 closed

[2015-12-15 16:01] Nashatyrev opened #2076 "GetBlockHeaders [reverse = true, skip = 0, origin type = hash] duplicates genesis in response"
E.g. when sending `GetBlockHeaders(Origin = blockHash, Amount = 1000, Skip = 1, Reverse = true)` (where `blockHash` is the block #4) I'm getting block headers `#4, #2, #0`
When sending with `Skip = 0` getting headers `#4, #3, #2, #1, #0, #0` (two zero blocks at the end)
The problem seems to be in that line:
https://github.com/ethereum/go-ethereum/blob/master/eth/handler.go#L421

[2015-12-15 17:06] karalabe commented on #2076
Hmmm, indeed I've managed to reproduce it. The bug is not in that line of code, it's a side effect of using the query itself as an iterator. When we reach the root of the chain, the parent of the genesis block is the nil hash, which is interpreted in a special way in the code. I guess we haven't caught this issue because we don't use this type of queries currently in the code. Let me see how to cl

[2015-12-15 17:33] karalabe commented on #2076
This should be fixed by the commit linked above. If you try it out yourself, please report back whether it worked or not. Otherwise is should be reviewed fairly quickly as it's a trivial fix and land the develop I guess by tonight.

[2015-12-15 18:06] poiuty opened #2078 "GPU mining not use all cards"
[code]

geth 1.3.2 => start mining

[code]

Check load, and only one GPU work.
Also, they can change => work first, then work second (first no load).

[code]

[2015-12-15 18:57] Nashatyrev commented on #2076
We are currently not using such messages as well, just accidentally found this problem.
Thanks for prompt response!

[2015-12-15 19:04] infamousrev opened #2079 "Not connecting to any nodes"
Hello,

I downloaded and compiled go-ethereum, however it does not connect to any nodes and it says "Table.go: No seed nodes found".

Analysing the network-traffic with wireshark shows that there are no problems with connectivity it simply does not try.

I am able to add nodes manually by extracting the enodes from ./eth/backend.go and adding them with admin.addPeer()

Using this technique it conn

[2015-12-15 21:04] infamousrev commented on #2079
I understand the most likely cause of this is a configuration issue.

However, since I checked carefully and cannot find anything (wireshark,iptables,strace) I decided it was a good idea to post it here in case it is caused by a regression in the code.

[2015-12-15 21:22] infamousrev commented on #2079
It does exchange UDP packages with multiple nodes, but it never connects without manual intervention

[2015-12-15 22:00] fjl commented on #2079
Is your local clock out of sync, by any chance?

[2015-12-15 23:11] infamousrev commented on #2079
Hmm, I had already synced it I thought, but tried syncing it again after your comment and it solved my problem.

[2015-12-15 23:11] #2079 closed

[2015-12-16 00:11] poiuty opened #2080 "GPU hashrate down when block imported"
After import block, some time hashrate = 0
[code]

[2015-12-17 12:27] jldinh opened #2082 "Syncing fails to restart if Windows goes into sleep mode for a long time (e.g.: overnight)"
Putting the computer into sleep mode and immediately waking it up is fine though.

[2015-12-17 18:33] chrisfranko commented on #1897
+1 would like to see this

[2015-12-18 14:08] karalabe commented on #2076
Fixed and merged. Thanks for the report!

[2015-12-18 14:08] #2076 closed

[2015-12-20 07:07] kumavis opened #2085 "eth_getLogs not checking all logs (?)"
I’m seeing some seemingly broken eth_getLogs behavior on my geth node
[code]
shows 4 results, each with two logs - the one I searched for, and another
* `0xb2899cb26a6f22b6b94e4cc8de24dc97bcf3cc73fc0dfaac71decef29fac7c53`
* `0x0000000000000000000000004b9ab6d832cd623751cda87a2714352d4c3b62a7`

but if i search for just the second one, I find no results
[code]
afaik, this is not intended behaviour

[2015-12-20 07:11] kumavis commented on #2085
this is geth `Geth/v1.4.0-unstable/linux/go1.5.1` on the morden testnet

[2015-12-20 18:08] altsheets opened #2086 "upgrading of geth-stable fails in chocolatey (windows)"
choco upgrade geth-stable

fails:

![screenshot](http://i.imgur.com/FGwH6cK.png)

what to do?

thanks.

[2015-12-20 18:13] altsheets commented on #2086
ah, the version is needed

    choco install geth-stable -version 1.2.2.0

I suggest you get the version [approved](https://chocolatey.org/packages/geth-stable)
or
put that line [into the manual](https://github.com/ethereum/go-ethereum/wiki/Installation-instructions-for-Windows)

Thanks

[2015-12-21 10:13] bas-vk commented on #2085
If you want to skip searching for the first topic and search for the second you need to specify `null` for the first topic. This causes the node to skip the first topic.

In your example you are asking the node to return logs which have as first topic `0x0000000000000000000000004b9ab6d832cd623751cda87a2714352d4c3b62a7`.

Try this instead:

[code]

I would also recommend specifying a contract addre

[2015-12-21 10:38] bas-vk commented on #2054
Version 0.1.1 is really old and I believe there was a breaking change in the solc command line arguments a while ago.

I would suggest trying the [latest version](https://github.com/ethereum/solidity/releases) or [browser solidity](http://chriseth.github.io/browser-solidity/) for compiling and deploying your contracts.

[2015-12-21 13:32] altsheets opened #2087 "Sync failure on Windows"
I had it working in September, now I am trying to catch up.

But it just stops syncing by itself. I have already restarted it for the 4th time now, which seems to be the only way to continue importing blocks.

    {
      api: "0.13.0",
      client: "Geth/v1.2.2/windows/go1.4.2",
      ethereum: "62",
      network: "1", ...
    }

(windows, installed via chocolatey, see https://github.com/ethere

[2015-12-21 13:37] altsheets commented on #2087
Situation:

    I1221 14:24:18.661271    7188 downloader.go:275] Block synchronisation started
    I1221 14:24:55.187361    7188 chain_manager.go:722] imported 256 block(s) (0 queued 0 ignored) including 275 txs in 13.9577983s. #379037 [c5e3f881 / 6b859d53]
    I1221 14:25:06.790024    7188 chain_manager.go:722] imported 256 block(s) (0 queued 0 ignored) including 293 txs in 11.6006635s. #379293 [

[2015-12-21 14:21] altsheets commented on #2087
and again ...

    I1221 14:51:17.346855    8932 chain_manager.go:722] imported 256 block(s) (0 queued 0 ignored) including 225 txs in 9.056518s. #399943 [5982bf4e / 8eaa8274]
    I1221 14:51:26.086355    8932 chain_manager.go:722] imported 256 block(s) (0 queued 0 ignored) including 289 txs in 8.7384998s. #400199 [5d9c3b91 / 34791cc1]
    I1221 14:51:33.730792    8932 chain_manager.go:722] import

[2015-12-21 15:15] altsheets commented on #2087
Restarted three times already.

Man, 700k blocks? This will take weeks to sync ...

[2015-12-21 16:31] altsheets commented on #1897
Still no solution for this? You are funny people.

Until you start listening to your userbase ... please publish a fully working code that achieves the same result, that we can use for the time being.

Thanks.

[2015-12-21 16:41] altsheets commented on #1897
i.e. publish working code for getting all (recent) transactions of an account.
I suppose it is done with this: https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethfilter ?

Please give working example code not for "pending" but for transactions of an account. Thanks.

[2015-12-21 16:44] fjl commented on #2087
Please upgrade to geth 1.3 if possible.When catching up for the first time, you can use Fast Sync, which can be enabled using the --fast command line flag.

[2015-12-21 17:12] altsheets commented on #1897
var options = {address: "0xf2cc0eeaaaed313542cb262b0b8c3972425143f0"};
    var options = {"address": "0xf2cc0eeaaaed313542cb262b0b8c3972425143f0"}; // also tried this one.

    var myfilter= web3.eth.filter(options);
    console.log(myfilter);

    myfilter.get(function (error, log) {
        console.log("get error:", error);
        console.log("get log:", log);
    });

results in

    f {option

[2015-12-21 17:32] altsheets commented on #1897
P.S.: Also tried this one, same results

    var options = {fromBlock: 0, toBlock: 'latest', address: "0xf2cc0eeaaaed313542cb262b0b8c3972425143f0"};

    var myfilter = web3.eth.filter(options);

[2015-12-21 17:56] altsheets commented on #2087
Thanks a lot for your answer.
After restarting another 6 times, I could make it to block 532257 now.

Yes, I would like to.

Please you do the upgrade on chocolatey --> https://chocolatey.org/packages/geth-stable
The newest version there is 1.2.2.0

Thanks.

[2015-12-21 21:13] kumavis commented on #2085
ok sounds like this is the intending behavior ( not clear from the wiki documentation ).
I originally thought that the format `[a, [b, c]]` would mean `a and (b or c)` for logs in any position.
I'll update the wiki.

[2015-12-21 21:13] #2085 closed

[2015-12-21 21:31] kumavis commented on #2085
feel free to expand on this
https://github.com/ethereum/wiki/wiki/JSON-RPC#a-note-on-specifying-topic-filters

[2015-12-21 21:49] altsheets opened #2088 "getUncleCount(fromBlock,toBlock) - or: Doesn't total supply depend on uncle count?"
I want to calculate the total supply.

I am wondering if I understand the mining rewards correctly.
I think it is **not** simply

    supply = premine + blocknumber*blockreward

because of "uncles", right?

An *uncle miner* gets 4.375 coins or 3.75 coins (for 0Uncles and 1Uncles).   Correct? Other options?

Plus *including* an uncle *into a block* gives an extra 5/32 coins to the block miner. Corr

[2015-12-22 07:38] mcnichol opened #2089 "panic: ethash_full_new IO or memory error"
On a Raspberry Pi 2 with 4GB Swap.
 after running miner.start(1) I receive panic: ethash_full_new IO or memory error

using go-ethereum latest built with go1.5.2 linux/arm

Using the RPI because I need the GPIO pins for prototyping

[code]

I1222 01:23:52.337442    1694 database.go:71] Alloted 16MB cache to 60/01/chaindata
I1222 01:23:52.397603    1694 database.go:71] Alloted 16MB cache to 60/01/d

[2015-12-22 16:18] altsheets commented on #2087
# Newest version - new method

... I [asked](https://twitter.com/altsheets/status/678999101309087744) tgerring (who had done the chocolatey versions up to 1.2.2.0), and got [this answer](https://twitter.com/TaylorGerring/status/679313455392927746):

    Manually download the build as listed on http://Ethereum.org

So the *chocolatey install* is dead seemingly.
But that is where [google "ethereum w

[2015-12-22 16:22] altsheets commented on #2086
how to get a newer version than 1.2.2.0 --> https://github.com/ethereum/go-ethereum/issues/2087#issuecomment-166663969

[2015-12-22 16:47] bobsummerwill commented on #1776
Eew ... instructions which are not automatable are nasty!
Well good luck with this issue.   I am also largely Windows-free myself these days.

[2015-12-22 16:51] tgerring commented on #1776
The second PowerShell script I linked should work on all PowerShell 2.0+ installations (Windows XP SP3 up through Windows 10) and will attempt to install missing dependencies. This can be run directly on a fresh install of Windows and will result in a Geth installation.

This should be sufficient for creating a build-from-scratch Chocolatey script or Appveyor build

[2015-12-22 16:55] tgerring commented on #2086
Chocolatey package needs to be updated per https://github.com/ethereum/go-ethereum/issues/1950#issuecomment-152498107

[2015-12-22 17:28] bobsummerwill commented on #1776
Thanks.

But that is not currently running anywhere, right, because of your afore-mentioned lack of a Windows box?   Good to know.

All Go automation is at https://build.ethdev.com/, right?   And Python, plus other bits-and-pieces, but *not* any C++, though there used to be some several months back.

@LefterisJP pointed me at http://52.28.164.97/, which is the Jenkins instance for C++ which I am a

[2015-12-22 17:30] tgerring commented on #1776
I've asked both @chriseth and @obscuren to have a pow-wow about builds so we can have a less patchwork approach. Right now, Windows is often lagging behind which is probably okay for Frontier, but for greater adoption in Homestead, we need better support of many platforms including Windows and mobile

[2015-12-22 17:40] drupalnomad opened #2090 "CPUs suddenly maxing out, failing to keep up"
I used `killall -QUIT geth` to get the debug information:

https://ipfs.io/ipfs/QmUfpQyc7C7trjzD4ZqFsrJEzJYMrrnjDyzosdGbwacAA1

[2015-12-22 17:49] bobsummerwill commented on #1776
Great!    If there's anything I can do to help, please do feel to drag me in, guys.

I worked on automated builds at industrial scale for EA for more than a decade.   I would like to see Ethereum builds in a robust and healthy state.

I registered the http://ethbuilds.com domain too, if we need a new "commons" for builds outside of ETHDEV?   I assume that Slockit, Ethcore, Consensys and others wil

[2015-12-22 18:32] fjl commented on #2090
The trace has a LOT of txpool operations going on, and several pending requests for the pending block.
Can you provide any details about your setup, command line flags, etc.

[2015-12-22 18:44] drupalnomad commented on #2090
`geth --maxpeers 2500 --shh --rpc --rpcapi db,eth,net,web3,shh 2>/root/.ethereum/logfile &`

2GB 2 core Linode in Singapore. Generally has about 200 connections.

[2015-12-23 12:07] karalabe commented on #2089
Hi, this is  duplicate of https://github.com/ethereum/go-ethereum/issues/1572 . Unfortunately generating the DAG requires quite a significant amount of memory. 4GB doesn't cut it AFAIK. Still, wondering why you would generate the DAG on an rpi? On the main network it would be pretty much useless, maybe on your own private network, but for that there's the testnet which could be an easier solution.

[2015-12-23 12:07] #2089 closed

[2015-12-24 04:18] chyand opened #2092 "Geth build failed error 2"
Running go-ethereum on Ubuntu Trusty Tahr 14.04
Running for months, then after a recent update, I uninstalled some libraries (sudo apt-get purge ethminer eth libethereum) from an initial build because my gpus would not connect.

I resolved to create another mining instance. I created a new directory and new miner, however, I can not make geth. I get a geth error 2. Here is the make, with errors (a

[2015-12-26 05:56] mjackson001 opened #2093 "Greater than or equal operator not working correctly"
Running geth on a private network, had a contract account with 10 ether (simple contract, testing deposits / withdrawals).  Tried to withdraw exactly 10 ether and it failed.  This is the contract:

[code]

The contract failed when using 10,000,000,000,000,000,000.  However, it succeeded when using 9,999,999,999,999,999,999.  Confirmed the account had exactly 10 ether.  Therefore, it appears the ge

[2015-12-26 06:22] mjackson001 commented on #2093
Update: I can easily duplicate this.  Using the simple contract code above and sending transactions using the 'Ethereum Wallet'  Linux x64 0.3.7 client.  I can deposit 10 ether, confirm the transaction, attempt to withdraw 10 ether and it will fail.  If instead I attempt to withdraw 9,999,999,999,999,999,999 wei, it will succeed, leaving 1e-18 in the account when queried afterwards.

Note: this do

[2015-12-26 14:47] mcnichol commented on #2089
I was creating a private network and I needed the GPIO pins to interface with sensor inputs.  Definitely a one-off and I didn't mean to hi-jack too much of your time because of it.  Thank you for the response.

I had seen #1572 but it looked as though the issue was due to it generating two DAG's.  If increasing my swap file to something larger than 4GB would fix this, I may try to resume my work.

[2015-12-28 08:27] karalabe commented on #2093
What version of solidity are you using for compiling the contract? Geth really just runs the EVM bytecode generated by solidity. Also just to note, the EVM does not have combined ">=" and "<=" opcodes, so Solidity needs to generate a more complex code to emulate these using ">" and "==". Could there be a bug in your locally installed Solidity? Not sure whether truffle uses its own Solidity compile

[2015-12-28 08:28] karalabe commented on #2093
@chriseth Do you know anything about a potential bug in the Solidity compiler with complex comparison operators? ^

[2015-12-28 08:30] karalabe commented on #2092
What Go version do you have installed? Seems to me that Go is either old, or the libraries went missing somehow.

[2015-12-28 08:32] karalabe commented on #2090
Note, there has been two huge transaction spikes in the last week, one lasting about a day, the other one was a few hours yesterday. It would probably take its toll on weaker machines. Also if you have a ton of connections, then the transactions are potentially propagated by many nodes to you, so you need to verify and dedup much much more of them. Any particular reason for maintaining such a high

[2015-12-28 08:33] karalabe commented on #2090
@fjl Not sure if we looked at it in the end or not a while back, but it might be worth investigating how to reduce the transaction duplication / propagation for new connections?

[2015-12-28 08:37] karalabe commented on #2082
I also saw something similar, but on Linux, and not after a sleep, but rather after changing my router and adding a new one instead.

@fjl Could UPnP expiration be the cause? It would explain UDP and discovery, but it shouldn't affect the TCP connections, at least not the outbound ones. I'll try to repro my scenario with detailed logging and then see if it could be the same on windows or not.

[2015-12-28 09:25] drupalnomad commented on #2090
I have a high connection pool to be a supernode in Asia and also to stress test the software.

[2015-12-28 09:58] karalabe commented on #2082
@jldinh Could you try running geth with `--vmodule=downloader=6` next time you leave it sleeping overnight and see what it outputs in the morning? Can't seem to reproduce the error on my Linux setup.

[2015-12-28 11:58] obscuren commented on #2090
In that case you'll have to deal with high load, especially during high transaction phases since all of your connected nodes will attempt to send you transactions or you are relaying them back.

@fjl the pending blocks is probably due to high lock retention on the to pool.

[2015-12-28 16:01] colm opened #2096 "admin.getContractInfo seems to search for white space hash when given contract address."
admin.getContractInfo seems to search for white space hash when given contract address.

var address = "0x4db56c006f6d9e2edf742438c7a7dc032a5c3025"
admin.getContractInfo(address)

gives err: HashToHash: content hash not found for '0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470'

var address = "0x1194e966965418c7d73a42cceeb254d875860356"
admin.getContractInfo(address)

gives: er

[2015-12-28 17:46] chyand commented on #2092
Go is Version 1.4.0. I re-installed cpp-ethereum, and the gpus are communicating, and mining fine. Thank you.

[2015-12-28 18:08] karalabe commented on #2096
Hmmm, those methods seem to be using natspec, which is AFAIK experimental stuff. Dunno why natspec got merged into the admin namespace though, should probably have gone into its own. Anyway, that aside, maybe @zelig has an idea?

[2015-12-28 18:30] mjackson001 commented on #2093
Thanks for the feedback.  I checked the versions of solidity - for the geth deploy (not working) the solc version installed in /usr/local/bin on my system is '0.2.0-0/Release-Linux/g++/int linked to libethereum-1.1.0-0/Release-Linux/g++/int'.  The truffle package.json shows ""solc": "^0.1.5", but that appears to be referring to a different artifact: 'soljson-latest.js'.  I'll experiment around wit

[2015-12-28 19:58] colm commented on #2096
Thanks Karalabe, Just to note I used "geth --natspec console 2>> out.txt" enable netspec. As I found online. Not sure about experimental state.

[2015-12-28 21:12] zelig commented on #2096
@colm
In the first case, the hash is indeed that of the empty string.
This is because that contract does not exist, so its contract code is empty.
Obviously, this is not very friendly, with the new RPC and modules, there will be a lot of improvement of errors like this.

In the second case however, the hash looked up is correct:

[code]
which means you have not correctly registered your contract h

[2015-12-28 21:12] #2096 closed

[2015-12-29 10:16] karalabe commented on #2092
The things the failures are referencing were introduced in Go 1.5. However, Geth AFAIK can build with Go 1.4 too. It seems to me that some Go 1.5 libraries are listed somehow in a path that Go 1.4 picks up on your system. Please make sure you don't have two conflicting versions being used at the same time. Perhaps you installed Go from the official Ubuntu repos and a second version from the Ethere

[2015-12-29 16:43] chyand commented on #2092
For the initial install, I cloned Go from github: git clone
https://github.com/ethereum/go-ethereum. I also used the ethererum
repository: add-apt-repository ppa:ethereum/ethereum , and installed the
library: apt-get install -y build-essential libgmp3-dev golang.

This installation is a puzzle to me, and doesn't make a lot of sense,
because I used a guide for the go-ethereum installation. I am uns

[2015-12-29 23:35] HamishMacEwan commented on #1849
This looks similar:
[code]
Geth
Version: 1.1.3
Git Commit: 4813a39100dc8dc884b0a68ceae51c2c420f92af
Protocol Versions: [61 60]
Network Id: 1
Go Version: go1.4.2
OS: linux

Any hints on how to recover?

[2015-12-30 08:05] obscuren commented on #1849
Update your version please. 1.1.3 is considered ancient ;-)

[2015-12-30 10:56] HamishMacEwan commented on #1849
I'll try thanks.

Git's a new thing for me.  I did git fetch and it assured me all was fresh....  Perhaps I need to pull.,

Thanks again.  I did removedb and started again... seems to have caught up OK...

[2015-12-30 11:48] karalabe commented on #1994
I think the simplest solution that would work well for most people is simply to check whether

[code]

with an added optional flag to disable this check. Does this sound feasible @fjl @obscuren @Gustav-Simonsson ? If so, I'd gladly add it as it's a fairly trivial change.

[2015-12-30 14:39] stephantual opened #2100 "The filename of keys makes a difference as to whether or not they can be unlocked"
I found today by playing around with geth that the filename format of the keys makes a difference as to whether or not they can be unlocked.

Expected behaviour: I can place any file with a valid encrypted in key in /keystore and it will be possible to unlock the account with the correct password.

Actual behaviour (OSX, latest master, build from source): if i rename a key file to 'blah_blah' then

[2015-12-30 16:48] zelig commented on #2100
Indeed, you found an inconsistency.
The keystore is meant to recognise the old (prefrontier) format where keys were in their own subdirectories:
`keystore/367670f9a85e63377c9cc43a2ff6fe78b33b01c4/367670f9a85e63377c9cc43a2ff6fe78b33b01c4`

However when we list the accounts we carelessly included the pattern
`keystore/367670f9a85e63377c9cc43a2ff6fe78b33b01c4`

So what would you like to see?

this is

[2015-12-31 13:07] stephantual commented on #2100
Hi Viktor, thank you for your reply :)

So there are two distinct things here:

One, the naming convention which could be changed to parse all files or parse only acceptable ones (ie, the old and new ones). That's not the end of the world either way.

Second - and I'd love to be proven wrong on this - that a key that's not named as expected but still going in the list of accounts cannot be unlocke

[2016-01-01 18:25] zelig commented on #2100
sorry stephan if i was not clear, yes your case is indeed a bug.
Only correctly named (`keyfiles/<key>`), and yes when you unlock it the pattern match is "incorrect" and does not find your file so it won't unlock and on top does not even give a correct error message.
The correct fix would be to disallow your naming convention.
Since you found this first, probably noone else is affected, so I sugge

[2016-01-03 16:34] altsheets commented on #2087
Update:

I had to restart 1.2.2.0 TWENTY times because it got stuck while syncing, again and again and again. Finally I gave up.
I think you should issue a warning, that this version is broken beyond reasonable patience. It has cost me much time.

That is relevant because the 1.2.2.0 is the newest 'choco install geth-stable'
which linked from 'ethereum wiki windows install' https://github.com/ethe

[2016-01-03 16:35] altsheets commented on #2086
See https://github.com/ethereum/go-ethereum/issues/2087#issuecomment-168516500

[2016-01-03 17:17] altsheets commented on #2087
Perhaps I celebrated the 1.3.2 version too early ...

    I0103 17:48:36.407464    1412 blockchain.go:1230] imported 256 block(s) (0 queued 0 ignored) including 451 txs in 33.0168884s. #731014 [8cd55a94 / bf5d6600]
    I0103 17:49:09.858377    1412 blockchain.go:1230] imported 256 block(s) (0 queued 0 ignored) including 332 txs in 33.446913s. #731270 [ef8f75a7 / c2a664c1]
    I0103 17:49:38.696026

[2016-01-03 19:03] tgerring commented on #2087
The wiki has been updated to reflect latest Windows build information, including a not about the old version on Chocolatey

[2016-01-03 19:59] altsheets commented on #2087
Perfect. That should protect others to go through the same ordeal ;-)

[2016-01-04 05:09] klmoney commented on #2100
Hi, for the specific situation that Stephan mentions, this bug would be less of a problem if Geth allowed the export of unencrypted private keys. Then a user would print and store the private key string and when time to rebuild the geth keyfile with the *correct* filename format, would simply use “geth account import”. Having said that, I do appreciate the risks of holding an unencrypted private k

[2016-01-04 10:38] simon-jentzsch opened #2103 "node crashes after [libsecp256k1] illegal argument: recid >= 0 && recid <= 3"
Version:

Geth
Version: 1.3.1
Git Commit: e5532154a50114d5ffb1ffd850b746cab00cb899
Protocol Versions: [63 62 61]
Network Id: 1
Go Version: go1.5.1
OS: linux
GOPATH=/root/go
GOROOT=/usr/local/go

[gocrash.txt](https://github.com/ethereum/go-ethereum/files/77057/gocrash.txt)

[2016-01-04 10:54] fjl commented on #2103
This is fixed in geth 1.3.2.

[2016-01-04 10:54] #2103 closed

[2016-01-04 10:56] simon-jentzsch commented on #2103
Thanks, I'll update

[2016-01-04 14:19] obscuren commented on #2093
@mjackson001 any news?

[2016-01-04 14:20] #2092 closed

[2016-01-04 14:21] obscuren commented on #2090
@karalabe @fjl This is likely due to the 5 digit pending transaction pool which is being rechecked after each block.

@drupalnomad have you run in to issues lately that caused similar behaviour?

[2016-01-04 14:22] karalabe commented on #2090
Yeah, this should be imho fixed by the pending PR.

[2016-01-04 14:26] obscuren commented on #2088
I don't see the point of having these new API calls. Could you please specify why these would be required for DApp development (or any other type of development)?

If you'd like to get all uncles for statistics just loop over all the blocks in your desired range.

Unsure what `+ includeUnclesReward * NumberOfIncludedUncles` means however.

[2016-01-04 14:29] obscuren commented on #2082
@jldinh any update for us?

[2016-01-04 14:32] obscuren commented on #2080
This is because `ethminer` reports the rate every so often. Upon finding a new block the rate goes down to 0 and it will start reporting the correct number after a submission of `eth_sumbitHashRate`.

This does not mean that your miner isn't functioning properly, just that hasn't submitted a new rate yet.

[2016-01-04 14:32] #2080 closed

[2016-01-04 14:40] obscuren commented on #2067
This will not be implemented for numerous reason and one of them is maintenance. Configuration files tend to bite people in the ass and therefor we'd rather not see it implemented.

I don't think `.sh` files are that bad tho, they are actually rather nice and feedback is given when a bad configuration parameter is being used.

[2016-01-04 14:40] #2067 closed

[2016-01-04 15:14] jldinh commented on #2082
Sorry I have been away from my node for the past week. I will give you an update later this week.

[2016-01-04 16:42] altsheets commented on #2088
Thanks a lot for your answer.

Because otherwise I would have to iterate over all 800,000 blocks, checking all of them for uncles.

I would like to calculate the REAL total supply.

supply = premine + mined

The 'mined' part is tricky because of the uncle rewards.

There is a reward given to miners who have included uncles into their mined blocks - right?

[2016-01-04 16:46] altsheets commented on #2087
Now with 1.3.2 ... it took only *four* more restarts to sync the remaining ~60k blocks. Something is wrong there. What a strange software. But I could sync my node now. Finally. Whew. Thanks.

[2016-01-04 17:40] altsheets opened #2104 "transactions of an address - example code please"
Please publish **working example code** for at least one of these questions:
- all transactions TO the address 0xe99356bde974bbe08721d77712168fa070aa8da4
- all transactions FROM the address 0xe99356bde974bbe08721d77712168fa070aa8da4
- the past 10 transactions TO address 0xe99356bde974bbe08721d77712168fa070aa8da4
- the past 11-20 transactions TO  address 0xe99356bde974bbe08721d77712168fa070aa8da4
-

[2016-01-04 17:44] obscuren commented on #2104
It isn't easy and will be time consuming.

[code]

[2016-01-04 17:44] altsheets commented on #2104
Related to https://github.com/ethereum/go-ethereum/issues/1749 and https://github.com/ethereum/go-ethereum/issues/1897 .

[2016-01-04 17:45] fjl commented on #2104
You have already asked for example code in https://github.com/ethereum/go-ethereum/issues/1897.

As much as everyone would like to see support for auto-indexing of raw value transfer transactions,
the answer you'll always receive is that the way to satisfy such queries is to make your account a wallet contract that emits logs for the things you care about.

[2016-01-04 17:47] fjl commented on #2104
Did you try the contract option, and if so, what prevents you from using it?

[2016-01-04 17:47] altsheets commented on #2104
for(var i = 0; i < eth.blocknumber; i++) {

ouch.

Thanks. Please publish example code for that.

That is faster than traversing 800000 blocks?

[2016-01-04 17:51] altsheets commented on #2104
yes - and no one answered there. That made me ask here. You see?  :-)

Is there a working way to use the web3.eth.filter function to achieve the same? Would that be faster than the brute-force-checking-all-blocks-ever-myself suggestion of obscuren (thanks!) ?

[2016-01-04 17:56] altsheets commented on #2104
Can it be applied to any address?

i.e.
what if I want to see all transactions going into, or coming from the address of a friend?

[2016-01-04 17:58] obscuren commented on #2104
@altsheets use something like this

[code]

[code]

[2016-01-04 17:59] obscuren commented on #2104
Please note this is an issue tracker for go-ethereum. This isn't your average go to channel for asking help (though I'm happy to provide it). Please find us on gitter :-)

[2016-01-04 18:00] obscuren commented on #2104
Gitter also has a bigger user base so you'll likely receive help faster

[2016-01-04 18:20] altsheets commented on #2104
Thanks a lot. I was on gitter several times already. Without success.

Thanks a lot for that.

---

I see this same question (all tx of an address) in many places all over the internet - and unanswered. That is why I thought it to be of general interest, and asked here.

Also it is meant to hint at a "**request for code**", for a future version of go-ethereum. Call me a naive dreamer * lol * - but

[2016-01-04 19:17] obscuren commented on #2104
Ethereum provides you with the tools and means to code up "features" through contracts. If you require extra functionality you can extend it, at a cost.

If you require indexing of some type ... you code it up through a contract.
If you require an authentication system ... you code it up through a contract.
If you require storing data ... you code it up through a contract.
If you require ... you c

[2016-01-04 19:42] mjackson001 commented on #2093
Got sidetracked with the holidays.  I just attempted to duplicate from a fresh deploy and it's been working - with the same version of solc as mentioned above.  It was easily duplicated previously, so I'm not sure what changed.  The symptoms were so specific that I still feel like it's possible there may be a bug somewhere.  At the time, I was playing with the BigNumber library so it could be ther

[2016-01-04 22:15] stephantual commented on #2100
Thanks a lot @zelig and I'm thrilled I found an original bug  :smile: :+1:

[2016-01-04 23:06] altsheets commented on #2104
Thanks a lot for your answer. Very interesting.

I like what ETH is adding to the landscape. Otherwise I would not be here.

However, I still don't understand how dropping essential, proven, good concepts is a good thing.

(And why do you defend the status quo of an unready system, against such a much wanted function, which is needed by so many people? Just google it, and see the above "... everyo

[2016-01-04 23:06] altsheets commented on #2104
Ah, so the above strategy would cost money then?

Not sure I understand.
What if I wanted to study all the transactions of 10 different accounts? Would I need to create 10 contracts for that, and pay 10 times? And what if I wanted to study 100 accounts? 1000 accounts?

Thanks a lot.

[2016-01-05 09:36] obscuren commented on #2104
Yes. Talking micro cents here tho.

It doesn't. I'm trying to show you that if you require any additional functionality not provided by default you'd have to code it up :-)

It's a nice strategy but isn't required by default. For example I use my `<address>` as an identity and there's an identity management system on the blockchain that I can interact with. I don't care about the information when

[2016-01-05 11:48] karalabe commented on #2104
The confusion I think stems from the fact that we have two types of accounts: user accounts and contracts.

The system was really designed to support complex contracts, where user accounts only initiate a contract function, but otherwise in itself is not interesting. If you use your account in this context, then it's much less interesting what a user did as it "should" just interact with contracts

[2016-01-05 13:42] Ulysseus opened #2105 "GETH running downloading blocks, but no blocks found mining."
Command to run Geth is the following
 build/bin/geth --metrics --rpc --rpcaddr "10.0.0.104" console    2>>geth.log

The geth.log window shows that blocks are downloading and mining is going on.
But no blocks are found, when I try to quit geth via quit in the console nothing happens.
The output of kill -s is in the following gist Output of kill -s.
Restarting Geth cures the problem and it finds blo

[2016-01-05 14:37] fjl commented on #2105
Which version of geth is this?

[2016-01-05 14:48] karalabe commented on #2090
@drupalnomad Could you please check with the current hotfix release (https://www.reddit.com/r/ethereum/comments/3zkdwq/geth_133_breviceps_released_download_transaction/) if you're using master, or latest develop for the fixed code?

[2016-01-05 15:38] altsheets commented on #2104
Thanks for all the background information! Very interesting.

[2016-01-05 20:29] datajerk commented on #2090
@karalabe I have the exact same problem and can reproduce easily.  We are using ARM devices and experimenting with blockchain for IOT.  As little as 9 TX in a single block and my CPUs spike and the chain is always behind.  We have to kill geth and restart it to fix.  We only have about 20 test devices.  IOT will have a millions.  We are trying to refactor our code to use as little of the blockchai

[2016-01-06 11:53] frozeman commented on #1897
@altsheets filters are not for getting past transactions, this issue doesn't belong here ;)

This is meant as a discussion about adding some. You issue would be better in the http://github.com/ethereum/web3.js/issues repo.

Please file there again, and ideally give the line number in web3.js where the error is thrown.

[2016-01-06 14:36] chriseth commented on #2093
I can't imagine this being a Solidity issue, it is just too basic usage.

[2016-01-06 15:21] altsheets commented on #1897
Thank you very much for your answer.

Ah.
That explains it why all my such code attempts were futile :-)

Perhaps the [wiki could be improved](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethfilter) to state that fact "not past".

So then the existing API is telling us really only one thing:
[getTransaction**Count**](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethgettransa

[2016-01-06 15:21] altsheets commented on #1897
+1 add getTransactions(address) to API.

[2016-01-06 16:40] nagydani commented on #2040
Has a conclusion been reached on how to do it that I can start implementing?

[2016-01-06 18:27] frozeman commented on #2040
bzz://domain[:blocknumber]/path
bzzi://hash/path
bzzr://hash/path

or

bzz+://domain[:blocknumber]/path
bzz://hash/path
bzzr://hash/path

[2016-01-07 01:15] tgerring commented on #1776
I'm confident the scripts I posted offer compelling solutions to close out this issue. The remaining question is what to target, either maximum compatibility back to WinXP SP3 32-bit (Powershell 2) or a more recent Win7 64-bit (Powershell 3).

Although the maximum compatibility script will work on all versions of Windows, it does not appear that the 32-bit binary works despite the build not failin

[2016-01-07 09:24] frozeman commented on #1897
To be correct, filters, don't give your transactions at all, expect for `filter('pending')`, which gives you pending transactions.

If you use ethereum for smart contracts, than tx doesn't matter so much, as they only tell the input person of an action on the blockchain, not what happens then.

But i definitely see a use case for getting past transactions of an account too. Though as @obscuren des

[2016-01-07 09:30] frozeman commented on #1776
I personal would love if we could support win 32bit, as many people still have it and mist can deliver there too. But it shouldn't then require to much overhead, or hacks.

[2016-01-07 14:41] nagydani opened #2107 "[swarm] Swap pricing"
The semantics of the price set in the configuration (and later in a user friendly interface) must be the amount ASKED for settlement, if the other party goes into debt.

Rationale: a node knows their bandwidth costs, so if you are providing swarm service for profit, you buy bandwidth from, say, Amazon (in dollars) and sell it to swarm users (for ethers) and there is a market exchange rate to which

[2016-01-07 14:57] altsheets commented on #1897
Perhaps ... space saving could be to store only the block *height* of all the blocks that contain transactions to/from an account. The block height needs much less space than the transaction id.

If I know the blocks in which to look, it is fast to collect all the transaction ids for a certain account.

And then it is easy and straight forward to allow 'since block' and 'to block' parameters.

[2016-01-07 17:06] Ulysseus commented on #2105
1.3.2 since upgraded to 1.3.3 but still doing it.

[2016-01-07 21:13] ethers opened #2109 "HD wallet"
Since Mist uses the "wallet" that Geth provides, any plans for Geth to use/implement an HD wallet?
https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki

[2016-01-07 21:55] bobsummerwill commented on #1776
Well ... any automation is better than no automation, so why not start with getting your Powershell 3 solution running, and make a new issue for the lack of Windows 32-bit support?

[2016-01-07 23:01] obscuren commented on #2109
No plans yet

[2016-01-08 07:10] tgerring commented on #1776
@frozeman 32-bit build succeeds but resulting binary doesn't appear to run. I tried to track down what exactly is going on with @Gustav-Simonsson a while back, but we were largely unsuccessful. Barring a true expert Windows developer, I don't know that this is going to be solved soon

@bobsummerwill Both PS2 and PS3 solutions work but WinXP SP3 only supports PS2. I have *not* tried to build 32-bit

[2016-01-08 07:21] tgerring commented on #2088
And each time I want to update that information I either have to store my intermediate results, or completely redo them (and why should I store such a result, which is of such general interest? The ethereum software itself should know about those numbers - they are just small integers, and will not take up much space.).

What you're describing are **database indexes** which is a non-trivial topic

[2016-01-08 07:36] tgerring commented on #1897
What you're describing are [database indexes](https://en.wikipedia.org/wiki/Database_index) which is a non-trivial topic and why you're not likely to get an answer about aggregates via API any time soon.

Although storing an index to a particular block of data will be faster than a full scan of the database, this is not a complete solution without also considering demands for covering indexes or h

[2016-01-08 07:37] tgerring commented on #2053
Will this be included with the 1.4.0 milestone?

[2016-01-08 07:38] tgerring commented on #1998
Nominate to close this issue and move it to the appropriate solc repo.

[2016-01-08 16:36] jldinh commented on #2082
OK, I managed to reproduce the issue (I forgot to mention it does not happen every time).

Here's the output:

[code]

Given the randomness of the issue, could it be a failure to discover new peers if all the peers known before going into sleep mode are gone when the computer wakes up?

[2016-01-08 16:46] altsheets commented on #2088
Exactly.

To prevent that, I was thinking about a supersimple internal summation, whenever a new block is added.

These are thoughts about a future API, of course ...

Is my above "supply = premine + ..." formula correct at all? Perhaps I am wrong in my assumption how much ether has been mined. But if not ...:

Right now (without iterating over all 800k blocks) it is impossible to name the **corre

[2016-01-08 17:01] altsheets commented on #1897
I get that. Focus on the most important topics, for sure.

On the other hand, this is the best funded team out there, so there should be time to also solve side issues, right?

And for some users it is *not* even a side issue that we want to see *tx of an addr*.

But ... I see no hope for us here. So:

---

What about the other strategy then - create a new repo which is intended to solve all "for

[2016-01-08 17:15] altsheets commented on #2088
Exactly.

To prevent that, I was thinking about a supersimple internal summation, whenever a new block is added.

These are thoughts about a future API, of course ...

Is my above "supply = premine + ..." formula correct at all? Perhaps I am wrong in my assumption how much ether has been mined. But if not ...:

Right now (without iterating over all 800k blocks) it is impossible to name the **corre

[2016-01-08 21:13] fjl commented on #2088
If you need detailed information on the uncle headers of all blocks, please consider creating your own index. It is not that hard to build one. You can even update it incrementally using existing features of the web3 API.

Just to be clear on this: We take suggestions for new APIs seriously and keep track of them. This is the first time anyone has requested an API for aggregate information on uncl

[2016-01-08 21:13] #2088 closed

[2016-01-08 21:21] #2086 closed

[2016-01-08 21:25] #1998 closed

[2016-01-08 21:37] fjl commented on #1855
SOCKS support is required for users that need/want to tunnel through Tor.
I'll give it a shot for geth 1.5, the release after the next big release.

[2016-01-08 21:38] fjl commented on #1836
It is now lowercase in geth 1.4.

[2016-01-08 21:39] fjl commented on #1798
Haven't seen it fail for a long time.

[2016-01-08 21:39] #1798 closed

[2016-01-08 23:51] fjl commented on #883
This is now done on develop.

[2016-01-08 23:51] #883 closed

[2016-01-09 00:03] fjl commented on #1955
I'll close his for now since the new code is very different and this issue hasn't popped up again.

[2016-01-09 00:03] #1955 closed

[2016-01-09 00:04] fjl commented on #1942
The disclaimer has been removed in geth 1.3.2.

[2016-01-09 00:04] #1942 closed

[2016-01-09 03:00] altsheets commented on #2088
Thanks a lot.

Nice. So one day, I might see that function. Thx.

A tiny thing to add to it: While you are on it anyways, and when that above data is then available, please also create a simple API function that tells me, us, everyone ... about the total coin supply:

supply()

[2016-01-09 03:04] altsheets commented on #2087
Perfect. I had been wondering if I do exactly that.
Perfect title, that nails it (and as I still had problems in 1.3.2 too ... it is not only a 1.2.2.0 problem.).

Thanks a lot. Enjoy your weekend ;-)

[2016-01-09 12:27] frozeman commented on #1897
Write it up :) It should be fairly easy in any language. You have `web3.eth.getBlock(1234, true)`, which includes even all transactions and there you go..

Ethereum is a smart contract based blockchain, we might in the future even drop normal accounts completely and make even them smart contracts, the you could fire logs for you account and have them listed, for example. Read here https://blog.eth

[2016-01-09 14:53] karalabe commented on #1798
I think I still see it occasionally, but if it's not too bothersome, we might as well leave this closed.

[2016-01-09 14:57] karalabe commented on #1855
@fjl I was thinking about a different use case that might or might not impact this. I'm using [Mozilla's Circus](https://circus.readthedocs.org/en/latest/) as a process manager to run my local Ethereum node, have it handle log file rotation, restarts, etc. Among the usual process management features, Circus also has a feature to manage sockets on behalf of the child processes (i.e. when an app nee

[2016-01-09 16:09] fjl commented on #1855
I'll make a new issue for Socket Activation and related features.

[2016-01-09 20:43] altsheets commented on #2088
Thanks a lot.

Nice. So one day, I might see that function. Thx.

A tiny thing to add to it: While you are on it anyways, and when that above data is then available, please also create a simple API function that tells me, us, everyone ... about the total real coin supply:

supply()

[2016-01-10 01:13] mjackson001 commented on #2093
Update: I am seeing this again and have some better information.  It appears to be specifically related to using the Mist-based 'Ethereum Wallet' Linux x64 0.3.7 client to send the transactions.  I can use a node.js command-line prompt to issue the web3 commands directly to geth over RPC and it works.

The procedure to duplicate is to compile the contract above to get the ABI, and deploy it.  Then

[2016-01-10 01:47] mjackson001 commented on #2093
I tried the identical function call directly from web3:

contract.withdraw(1000000000000000000, {gas: 50000})

and it succeeds with total gas consumed == 22082.  So the 29018 gas above should have been more than enough.   Very confused now :)

[2016-01-11 04:48] aaronstjohn commented on #2016
I'm experiencing the same issue, even after switching to the develop branch. I'm running geth consistently with the tutorial docs here:
https://ethereum.gitbooks.io/frontier-guide/content/testing_contracts_and_transactions.html

Here's my session:
[code]
Here's the log file that gets dumped out:
[testnet.txt](https://github.com/ethereum/go-ethereum/files/85325/testnet.txt)

[2016-01-12 02:44] axic opened #2117 "p2p/discover: from address in ping is IPv6 unspecified in some cases"
While working on an independent peer implementation in ethereumjs, I've came across this weird issue.  This is a decoded `ping` message in DHT (redacted some fields and received a similar from many nodes):

[code]

The `address` field (from address) is actually the '::' (any/unspecified) encoded in IPv6 over the wire.

The relevant pieces of code in geth are:
https://github.com/ethereum/go-ethereu

[2016-01-12 12:33] karalabe commented on #2117
@fjl Could you take a look at this?

[2016-01-12 12:35] karalabe commented on #2087
Unless you can give us some logs, it's not something we can figure out. Please run geth with `--vmodule=downloader=6` and - if it gets stuck - paste the logs into a github gist so we might investigate.

[2016-01-12 12:40] fjl commented on #2087
I have identified the issue. It is the same issue as #1579. Will have a fix soon.

[2016-01-12 12:46] karalabe commented on #2090
Could you detail the hardware of those devices? I.e. CPU, RAM, disk type? The issue @drupalnomad was mentioning was caused by the network pingponging invalid transactions, which increased linearly with the number of peers you had (hence why he was hit hard with 200+ connections). In your case if you're using a private network, I don't the same issue holds. Could you open a new thread about it with

[2016-01-12 12:46] #2090 closed

[2016-01-12 12:56] fjl commented on #2117
Yes. This can happen when NAT punching is off or doesn't work. In this case, it will send the unspecified address because it simply does not know what its externally reachable address is. I mean, we could send 127.0.0.1, but it wouldn't help you either.

It is better to use the UDP envelope address rather than relying on the address field.

You are getting a 16-element address because of the inter

[2016-01-12 13:05] axic commented on #2117
I've resorted doing that in case unspecified is received. Maybe it would make sense to use the PONG response as an alternative to NAT traversal? e.g. update the internal representation if the sender in PING was unspecified and the PONG received has an external address.

At least documenting that an implementor should use the UPD sender address in case the PING fromAddress is unspecified.

And you

[2016-01-12 13:08] fjl commented on #2117
UDP endpoint exchange is not implemented like you suggest is planned (and the protocol supports it) but I haven't found the time to implement it.

I'll look into sending IPv4 unspecified address next time I look into discovery protocol stuff.

[2016-01-12 13:17] altsheets commented on #2087
Thanks. Too late for now, but good to know for the future.

Happy. Thanks.

[2016-01-12 16:02] datajerk commented on #2090
RPI2 SD card.

[2016-01-12 16:29] nbabenko opened #2118 "Chain is not syncing"
Hi,

Our geth client cannot sync blockchain.
We have latest version installed from ppa repository (ubuntu 14.04, sudo apt-get upgrade ethereum).

It stopped syncing 2 days ago, no configurations of the server/firewall were changed.

Here are the logs:

I0112 16:28:55.281797    2094 downloader.go:252] Attempting synchronisation: 394a0c7719c53ecd, head [c78263ca…], TD 5444577416484936025
I0112 16:28

[2016-01-12 16:40] nbabenko commented on #2118
It was an issue of the clock, sudo ntpdate -s time.nist.gov fixed it

[2016-01-12 16:40] #2118 closed

[2016-01-13 19:50] lfamorim opened #2121 "Connecting a HTTPS WebAPP to Ethereum"
I'm really really excited on how web3.js and Ethereum JSON RPC can change the web forever and I will start using to spread it to the world.

I will be glad to know how I could make the communication with Ethereum client. It's because my application are served in SSL (https://www.harlan.com.br/) and the Ethereum runs locally without SSL. Did you guys pretend spread Ethereum only at Mist? Good luck

[2016-01-14 13:37] Jetlum opened #2122 "After a transaction is broadcasted???"
What info is shown after a transaction is broacasted?

**After it goes on the blockchain has an ID,but what else is shown any other info?**

[2016-01-14 14:06] tymat opened #2123 "Sync fails to restart"
**Version info**

[code]

[code]

[2016-01-14 14:50] tymat opened #2124 "Add admin command to disable/enable vmdebug from console"
Currently the only way to enable vmdebug is through the `--vmdebug` command line flag.  It would be nice to have this as an IPC admin command similar to `admin.verbosity(n)`

[2016-01-14 14:52] karalabe commented on #2123
Closing this as agreed it being a connectivity issue and not inherently geth.

[2016-01-14 14:52] #2123 closed

[2016-01-14 14:54] karalabe commented on #2122
You can query the transaction based on the ID. Initially you'll see only relatively little information since it's not included in the chain, but afterwards you should get quite a detailed listing:

e.g.

[code]

[2016-01-14 14:57] Jetlum commented on #2122
After it's included in the chain can we get a transaction dataset and a block dataset?

[2016-01-14 15:01] karalabe commented on #2122
Not sure what you're trying to do Could you elaborate a bit?

[2016-01-14 15:28] Jetlum commented on #2122
The example above is it the list after it's included in the chain?

Cause I want to know what info or data can we get after the transaction is broadcasted,the data of the tx and the data of the block

[2016-01-14 15:29] karalabe commented on #2122
My example was one already included in the chain.

[2016-01-14 15:34] Jetlum commented on #2122
Okay thanks for the answer

[2016-01-14 15:34] #2122 closed

[2016-01-14 22:30] aaronstjohn opened #2125 "admin.sleepBlocks(10) hangs"
With reference to this issue: https://github.com/ethereum/go-ethereum/issues/2016

I tested this on both the frontier release of geth and the current version in the "develop" branch  where this issue is reported to have been fixed in the above issue and got the same behavior. The console simply hangs indefinitely.

I'm running everything on a  MacBook pro with El Capitan and following the frontier

[2016-01-15 09:17] vindicatorr commented on #1979
I'm under the impression that I should be seeing "clEnqueueFillBuffer" if I "nm" the library file, but I don't when viewing libmali.so (ARM T62x r6p0-02rel0).
Instead, the only Enqueue items are:
[code]
*libOpenCL.so links back to libmali

[2016-01-15 16:50] aakilfernandes opened #2127 "Request: Split chain datadir from keystore datadir"
A user might want to use multiple apps which connect to the ethereum network. However, they might wish to keep their keystores separate. There is security and privacy reason for this (not letting other apps access keys they don't want accessed).

Ideally, a user should only have to sync the blockchain once regardless of how many apps are installed on their computer. This is only possible (AFAIK) b

[2016-01-15 17:00] aakilfernandes commented on #2127
Another possible solution would be to provide an interface for geth to load keys at runtime, that way apps could do their own private key management

[2016-01-15 22:15] fjl commented on #2127
Apps can do their own key management today, by signing transactions outside of geth and sending them using `eth_sendRawTransaction`.

[2016-01-15 22:41] aakilfernandes commented on #2127
True. However, web3 was built the assumption that rpc clients would handle the signing of transactions. (double checking with the web3 team to make sure, but this is my understanding).

[2016-01-16 05:17] luxbock opened #2128 "Problem with peer discovery on OSX"
I installed geth via `brew install ethereum` on my MacBook, created a new account and started the node with verbosity set to 5. This is what I see:

[code]

...and so on. I asked for help on IRC, and confirmed that @kobigurk was able to transfer blocks to me by connecting directly. I left the process running overnight, but after waking up I was connected to zero other nodes.

What I've tried:

- O

[2016-01-16 10:45] fjl commented on #2128
I'll look into it on Monday.

Which command line flags are you using to start geth?

[2016-01-16 12:56] luxbock commented on #2128
I ran it with `geth --vebosity 5 2>>eth.log`.

[2016-01-16 16:20] obscuren commented on #1832
While I do not directly oppose to the feature request, why not try mix or eth js' VM?

[2016-01-16 23:55] infamousrev commented on #2100
I agree with stephantual that the behaviour that it could simply detect any filename would be very useful.

I think anyone making a backup of there key will probably want to store it in a hard to recognize way, for example encrypt it another round to make the contents look like random data it and rename it to familyphoto.jpg.

This is important because if the file name has to contain your wallet a

[2016-01-17 18:20] tgerring commented on #2121
For this to work, it requires the user to be running a local node configured to serve RPC requests locally, which is targeted at developers and unlikely to be a common case in the future. Instead, solutions like browser plugins or [MetaMask](https://metamask.io) will likely be adopted, in addition to Mist and invariants running on multiple OSs.

What use-case do you see for Geth supporting TLS ove

[2016-01-17 20:11] fjl commented on #1420
Not gonna happen for Homestead.

[2016-01-17 22:04] aaronstjohn commented on #2125
I'm closing this issue, because I now realize it was a fundamental misunderstanding on my part about what I should've been expecting from this sequence of commands and how long it takes to actually mine 10 blocks.

For posterity and anyone else that stumbles on this, since it's not super-duper clear in the frontier guide (at least not to me), I'll spell it out here.  Actually mining 10 blocks, eve

[2016-01-17 22:04] #2125 closed

[2016-01-18 07:22] sammy007 opened #2129 "Unable to install crypto package"
go get github.com/ethereum/ethash
# github.com/ethereum/go-ethereum/crypto
C:\...\ethereum\go-ethereum\crypto\crypto.go:92: undefined: secp256k1.RecoverPubkey
C:\..\ethereum\go-ethereum\crypto\crypto.go:203: undefined: secp256k1.Sign

[2016-01-18 21:57] Gustav-Simonsson commented on #2078
Hmm, this could be a regression following changes in package `miner`. Will investigate, thanks for reporting.

[2016-01-18 22:08] Gustav-Simonsson commented on #2100
The files in the keystore are not meant to be fiddled with by users. They are internal and have no guarantees other than what the key spec at https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition defines.

Fun fact: the spec recommends what older versions of the keystore used - a random UUID (unrelated to the actual key) assigned to each key as file name.

I would recommend that the

[2016-01-18 22:17] Gustav-Simonsson commented on #2129
Looks like it pulls in `crypto` but not it's dependency package `secp256k1` https://github.com/ethereum/go-ethereum/tree/master/crypto/secp256k1

Meanwhile one can work around this not using `go get` directly on `ethash` but rather `go-ethereum` and then using `godep restore` to set ethash in the GOPATH to the version `go-ethereum` is using.

If you want to develop something in package `ethash` or

[2016-01-20 12:05] mudpedal opened #2135 "sendRawTransaction: fails without presence of an arbitrary account"
What I did is make an application that signs transactions offline then sends them via sendRawTransaction, everything works great besides that I have to trick geth each time by storing a dummy wallet in the keystore folder as UTC--time--address. If I dont I get the "account does not exist or balance too low" error. For the moment, I got past this with this dummy file trick, but I wish sendRawTransa

[2016-01-20 14:29] fzzr- opened #2137 "[JSRE] Duplicate eth.contract in tab-completion"
![screen shot 2016-01-20 at 17 19 47](https://cloud.githubusercontent.com/assets/888526/12451510/f0bddcd8-bf9a-11e5-99d9-a9f5deadf2d8.png)

[2016-01-20 15:19] gregbkr opened #2138 "Docker geth : Cannot unlock account : "Fatal: Failed to unlock account""
Hello Ethereum team!

I got issues to unlock account in Docker, impossible via --unlock in cmd or js (only possible while sending a transaction).

My environnement:
- Ubuntu 14.04.2 LTS
- docker version: 1.9.1
- Geth 1.4 image: ethereum/client-go

My steps:
## DATA container (for blockchain, wallet, password)

[code]
## Import wallet

[code]
## Run geth while unlocking wallet: I tried all these co

[2016-01-20 15:37] aakilfernandes commented on #2127
It turns out https://github.com/ConsenSys/eth-lightwallet provides everything needed to sign in the browser. Closing this issue for now

[2016-01-20 15:37] #2127 closed

[2016-01-21 01:01] pnomarev opened #2139 "TxByPriceAndNonce comparison is logically incorrect"
TxByPriceAndNonce : core/types/transaction.go

Say, I have three transactions in the queue with the same price:
A: from account x, nonce=1
B: from account x, nonce=2
C: from account y, nonce=3

according to the comparison function:
A<B = true (comparing by nonce)
B<C = false (comparing by price)
A<C = false (comparing by price)

If the purpose if to "order by price, nonce", then the code should be

[2016-01-21 01:14] obscuren commented on #2139
Adjacent account nonces need to be favoured over price **within their own set**. To further detail the above scenario:

[code]

This would be included as `[A, C, B]`.

[2016-01-21 02:15] pnomarev commented on #2139
Ah, right. Probably gp for A and B should be swapped? (the higher price - the better for miner)
[code]

The problem in current implementation is still persist.

[code]

I would expect to see the transactions ordered by nonces across the array. However the result is not  correctly ordered:
[code]
As you can see the transaction with nonce=1 from account=2f4e71aa83051eeed0c500caef6656622ef31a4a appea

[2016-01-21 03:07] pnomarev commented on #2139
Probably this. In any case there must be some other sort criteria in case of equal prices.

[code]

[2016-01-21 06:37] pnomarev commented on #2139
Here is even simpler repeatable example:

[code]

result of 'sort.Sort(types.TxByPriceAndNonce{testTransactions})' :

[code]

It's clear that the TxByPriceAndNonce comparator violates the basic principle: if A<B and B<C, then A<C.
In the above sorted result, every transaction is "less" then the next one, therefore the first one is "less" then the last one. Which contradicts to the comparator.

[2016-01-21 10:21] obscuren commented on #2139
Precisely not because that would violate a basic rule of accounting. Nonces need to be subsequent and need to be included in that order **at all time**.

Here's a basic test that will demonstrate the order:

[code]

Which will result in

[code]

We reward transactions that are send in batches (e.g. those that can fit in to one block).

[2016-01-21 16:36] karalabe commented on #2139
I think there's a legitimate issue here. Quicksort cannot be used to sort according to two criteria (price and nonce), so certain invocations indeed produce bad results, depending on the comparisons made during sorting.

The example written out in full code: https://gist.github.com/karalabe/bb32ae9a66480e926f13

[2016-01-21 17:08] karalabe commented on #2135
That's most definitely a bug then :) It should work fine without requiring even a dummy account. If you wish, please fix it and open a PR. If not, we'll look into it :)

[2016-01-21 17:10] karalabe commented on #2137
Not sure if this still applies after transitioning to the new API implementation which should gather the list of supported methods automatically. Will look into this, thanks for reporting it!

[2016-01-21 17:12] karalabe commented on #2139
We would need a custom sort to fix this. One that sorts all transactions by nonce into a map associated with individual accounts, and then merge the transactions from the different accounts into one by price.

[2016-01-21 17:33] fjl commented on #2139
You can also do

sort.Sort(txByNonce(txs))
sort.Stable(txByPrice(txs))

[2016-01-21 17:38] karalabe commented on #2139
Nope, because that would preffer < nonce globally.
On Jan 21, 2016 7:34 PM, "Felix Lange" <notifications@github.com> wrote:

[2016-01-21 17:45] obscuren commented on #2139
It would be sort price, sort nonce

[2016-01-21 17:50] karalabe commented on #2139
But if you don't sort the nonce globally, only per account, then there
isn't a total order and they will produce invalid results :) Yes, i tried
it, but maybe I'm wrong? I think still think we need a per account nonce
sort first, then a heap based merge.
On Jan 21, 2016 7:46 PM, "Jeffrey Wilcke" <notifications@github.com> wrote:

[2016-01-21 17:54] obscuren commented on #2139
Global nonce sort will work but isn't ideal. Merge would be idea

[2016-01-22 07:22] LeeAbell79 opened #2142 "geth does not exit"
geth hangs issuing : geth js <(echo 'console.log(admin.nodeInfo.enode); exit;')

I0122 07:19:00.080405    7824 blockchain.go:215] Last block: #0 [d4e56740…] TD=17179869184
I0122 07:19:00.080607    7824 blockchain.go:216] Fast block: #0 [d4e56740…] TD=17179869184
I0122 07:19:00.091089    7824 cmd.go:114] Starting Geth/v1.3.3-c541b38f/linux/go1.5.1
I0122 07:19:00.091333    7824 server.go:311] Starti

[2016-01-22 09:05] karalabe commented on #2139
Here's a test to repro the error and catch all the inconsistencies that should not be there. Quicksort pretty much screws up the order spectacularly :D I think the reason we didn't catch this is because irrelevant of the ordering, there are always some transactions that can actually go through, which will change the order in the next iteration; so after a while, all will manage to pass. Also this

[2016-01-22 09:09] karalabe commented on #2139
@fjl Your proposal fails with:

[code]

Inserting the sort order would fail with:

[code]

I'll try to write the heap-merge based algo and see how that works.

[2016-01-22 09:16] obscuren commented on #2139
The latter I don't find so important. The former will actually fail in the system.

[2016-01-22 09:37] karalabe commented on #2139
Oh yeah :D

[code]

[code]

[2016-01-22 09:47] obscuren commented on #2139
Aww you beat me to it :+1:

[2016-01-22 10:09] mudpedal commented on #2135
I just tested this again, seems it's been already fixed in geth 1.4.0. Sorry to bother you with this issue, seems it's Not A Bug. You may close this.

[2016-01-22 10:09] #2135 closed

[2016-01-22 10:25] karalabe commented on #2139
@pnomarev Could you take a look at https://github.com/ethereum/go-ethereum/pull/2143 and check if you see anything wrong with it or if it seems ok to you too? :)

[2016-01-22 11:08] karalabe commented on #2142
This was fixed in the develop branch, but it will not be backported into the 1.3.x releases as far as I know as it's not something essential. If you really really need it, I'd suggest trying develop, otherwise it will land after the homestead release is done.

[2016-01-22 11:08] #2142 closed

[2016-01-22 14:46] LeeAbell79 commented on #2142
this issue was in 1.5.1

[2016-01-22 14:49] karalabe commented on #2142
I was talking about Geth versions. Current master is 1.3.3, develop is 1.4.0.

What I'm guessing you wrote above is the Go runtime version, which is independent of this issue.

[2016-01-25 04:13] pnomarev commented on #2139
@karalabe just finished testing. looks good to me! nonces && prices are in correct order

[2016-01-25 04:27] wanderer opened #2148 "Rename RPC tx property name input -> data"
Hi, can we rename tx property `input` to `data`? This is what the yellow paper calls it.

[2016-01-25 04:27] wanderer commented on #2148
related https://github.com/ethereumjs/ethereumjs-tx/issues/7

[2016-01-25 06:20] pnomarev opened #2149 "transaction_pool.go : RemoveTx - inefficient remove algorithm"
I'm testing a higher than usual load of transactions, and discovered a bottleneck in the RemoveTx function. It simply traverses all accounts in the queue
for address, txs := range pool.queue {
}
and removes the hash when found. The performance of this algorithm is really bad when there 50 account and 20k-50k transactions, and it's getting worse exponentially with increase of transactions/addresses

[2016-01-25 07:15] Joter85 commented on #1897
+1 for this command too.

[2016-01-25 10:34] obscuren commented on #2149
Thanks. We are aware that the transaction pool needs some attention and optimisation. Thus far it hasn't been necessary considering the amount of transaction relayed on the network at present.

A change will likely hit after homestead.

[2016-01-25 11:32] fjl commented on #2128
I looked in detail and it's probably related to your clock. Do you have NTP time sync turned off?

[2016-01-25 11:46] bbva-javiermoreno commented on #1494
Hi, I am having this same problem. How was it solved?

I sign and successfully send a transaction using geth and sendRawTransaction. I get the receipt, but it never gets mined. I am using the same gaslimit and gasprice as in transactions signed in the client and they always get mined immediately.

[2016-01-25 11:54] obscuren commented on #1494
@bbva-javiermoreno are you sure the nonce, the price, the gas limit, etc are correct?

[2016-01-25 12:34] bbva-javiermoreno commented on #1494
Nonce was wrong. It is solved now.

[2016-01-25 12:59] luxbock commented on #2128
I didn't, and after enabling it now appears that I am able to connect to other peers. Thanks!

[2016-01-25 12:59] #2128 closed

[2016-01-25 15:51] karalabe commented on #2139
Brilliant :) Thanks for the check.

[2016-01-25 15:56] gregbkr commented on #2138
Hello, seems like my problem is due of the alteration of my wallet password, when I create a new account via :
    docker exec -it geth geth account new

If you see in docker "Unsupported terminal, password will be echoed.", thing will probably not work.
Seems like the prompt is acting strange and geth will not accept the same password I just set seconds ago.

A workaround I found is to create the

[2016-01-26 17:17] mmitech opened #2150 "Scalability"
Not sure where I need to ask this question, but please bear with me, now that the scalability topic is a hot topic, I had to research Ethereum especially that everybody is calling it the next big thing and I came across this in the wiki:
 _"Ethereum is likely to suffer a similar growth pattern, worsened by the fact that there will be many applications on top of the Ethereum blockchain instead of j

[2016-01-27 02:17] TalkingAntColony commented on #1579
@fjl I tried your latest commit above and am still having peer issues. See log:

https://gist.github.com/anonymous/f03843bc9c5b60bd02b9

[2016-01-27 06:27] pnomarev opened #2152 "ProtocolMaxMsgSize vs block max size"
There is a potential issue: theoretically block size is unlimited, limited only by GasLimit which can grow over time.
Therefore generated block size may become larger than the maximum allowed protocol message size, which will lead to the node isolation

[2016-01-27 09:27] fjl commented on #2152
I agree that this is a theoretical issue, and thank you for noticing.

However, consider the following:

The largest message size allowed for eth is 10MB at this time. It applies to all messages,
even those containing multiple blocks or transactions. The code that sends batches of blocks tries
to keep the message size below 2MB (`softResponseLimit`), the only case where this limit could
be exceede

[2016-01-27 10:11] fjl commented on #1579
In that log, the original issue where discovery stopped working is no longer present.

But here's another observation:
The log covers 145 seconds of execution. Within that time, there were 8 distinct cases where a block you received had a future timestamp. The error is a bit cryptic but tells more or less exactly what is going on:

[code]

What this means is that the block was received at 21:08:41

[2016-01-27 10:17] pnomarev commented on #2152
This issue is easy to reproduce on a private blockchain. I'm not sure whether this whole project is for public network only, or it has to provide a reliable private network as well.
Currently this "extreme case" issue prevent it from being used in a private environment, where difficulty and GasLimit can be adjusted and transactions load can be sometimes extremely high

[2016-01-27 10:25] fjl commented on #2152
Can you provide some details on the parameters you use for the private chain?

[2016-01-27 11:38] area opened #2153 "Change in eth_getTransactionCount RPC response on develop branch"
With exactly the same (private) chain running locally, I get different responses from different versions of `geth`. Running `geth` v1.3.3:

[code]

Running `geth` from the develop branch (63e76482ac0):

[code]

[2016-01-27 12:11] obscuren commented on #2153
Thanks for reporting this issue. I've actually noticed this myself while we were working over the weekend at the Gophergala hackington.

It appears that the pending state is that of an empty state while it should be that of the current, pending, accumulated state. I'll look in to this.

[2016-01-27 12:57] karalabe commented on #2148
I don't think that's a viable possibility. The API is "standardized" across all clients and confirms to the [JSON-RPC sped](https://github.com/ethereum/wiki/wiki/JSON-RPC). Renaming the field would instantly break all code depending on the specific field. I don't see this happening any time soon to be honest.

Further, [data isn't that good of a name actually](http://archive.oreilly.com/pub/post/t

[2016-01-27 13:58] karalabe commented on #2153
Running the RPC tests https://github.com/ethereum/rpc-tests

[code]

[2016-01-27 14:03] karalabe commented on #2153
https://github.com/ethereum/go-ethereum/blob/develop/rpc/types.go#L309

[2016-01-27 14:45] karalabe commented on #2153
Ok, this is strange because we do get back the block and serialize it to a flat map, but then the response is lost inside the RPC implementation somehow and never sent out.

[2016-01-27 15:09] karalabe commented on #2153
This is a tricky construct that sort of doesn't do it's job: https://github.com/ethereum/go-ethereum/blob/develop/rpc/types.go#L176

An interface{} is only nil, if it was passed nil. A nil pointer however is already "something" so it's not nil any more. http://play.golang.org/p/1SomgEimrM

The check doesn't hurt per se, but we need to handle nil big.Ints within the big.Int branch. And no, this doe

[2016-01-27 16:09] karalabe commented on #2153
Proposed fix to this issue: https://github.com/ethereum/go-ethereum/pull/2154

[2016-01-27 21:21] wanderer commented on #2148
well i'll deal with it then

[2016-01-27 21:21] #2148 closed

[2016-01-28 00:13] pnomarev commented on #2152
genesis:
{
	"nonce": "0xbebededefefeafdeef",
	"timestamp": "0x0",
	"parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
	"extraData": "0x0",
	"gasLimit": "0x80000000",
	"difficulty": "0x100000",
	"mixhash": "0x0000000000000000000000000000000000000000000000000000000000000000",
	"coinbase": "0x3333333333333333333333333333333333333333"
}

- running two nodes on the same

[2016-01-28 14:04] karalabe commented on #2150
I'm going to close this issue as it's not really tied to the Go implementation (or any specific implementation) in particular, rather a philosophical and high level question. Please reach out to the [Research Gitter](https://gitter.im/ethereum/research) room for discussion about these kinds of topics :)

[2016-01-28 14:04] #2150 closed

[2016-01-28 14:04] RichAyotte opened #2155 "Fatal: Unable to initialize console - unable to retrieve modules"
When trying to connect to a remote server, the following error occurs.

[code]
Local version
[code]

Remove version
[code]

[2016-01-28 23:07] promethe42 opened #2157 "502 error when behind Apache reverse proxy"
Hello,

first of all thank you for the great work!

I'm trying to use the JSON-RPC API behind an Apache Reverse Proxy.
Here is the corresponding configuration:

[code]

The web browser can connect to `/blockchain/` "most of the time" (3 out of 5 times I would say).
But sometimes, I get a 502 (Bad Gateway) error.

Here is what I get in the Apache error logs:

[code]

I don't have this issue when I

[2016-01-28 23:17] promethe42 commented on #2157
It looks like adding `ProxyTimeout 300` to the Apache configuration solves the issue.

[2016-01-28 23:34] promethe42 commented on #2157
After further testing setting `ProxyTimeout 300` is not the solution and I still get 502 errors.

[2016-01-28 23:36] karalabe commented on #2155
Latest develop includes a full rewrite of the RPC layer, so there may be some quirks still lurking in there. I'll take a look in the morning.

[2016-01-29 00:16] datajerk commented on #2065
Hi, I get this as well from time to time, was it fixed?  Thanks.

[2016-01-29 00:17] karalabe commented on #2157
Is this happening with the stable branch or latest develop?

[2016-01-29 00:19] promethe42 commented on #2157
I'm using the ppa. Here is my Ansible setup:

[code]

[2016-01-29 03:00] saltduck opened #2158 "Geth never re-sync block data after network interrupt"
I just run geth the first time. It started to sync block data from the p2p network. After some hours, my network is down. So geth stopped to sync block data. It's all right. But while my network is up again, geth never sync data again. I have to press CTRL+C to stop it and run it again. Then every thing is OK and new block data is coming. I think that's a bug. Geth should automatically re-sync blo

[2016-01-29 05:47] mtbitcoin commented on #1832
closing this issue as it is addressed in https://github.com/ethereum/go-ethereum/pull/2156

[2016-01-29 05:47] #1832 closed

[2016-01-29 07:59] sammy007 opened #2160 "All RAM is cached regardless of amount"
After server boot and running geth eventually after several minutes all available RAM is cached. Regardless of how swapiness tuned on servers they will eventually start to swap. I am very sure this is not how geth must perform.

[2016-01-29 09:32] karalabe commented on #2158
Could you tell us please what version of Geth are you using, how you installed it and on what operating system?

[2016-01-29 10:45] chfast opened #2162 "Peer discovery service provokes firewall bans"
My corporate firewall starts blocking any connections comping from my computer after using geth with peer discovery service enabled. geth is configured for private network so it has no change finding any peer matching network id. This has never happened with C++ and Python implementation.

[2016-01-29 12:46] karalabe commented on #2162
Hmm, could you tell us **why** the firewall is banning you? I mean what filtering rules are you hitting?

[2016-01-29 12:48] karalabe commented on #2160
Are you sure you're hitting swap? Linux always uses all the available memory for disk caches. I can imagine if an app requests a huge chunk of memory at once it might overflow for a moment into the swap space before flushing out the disk cache, but this isn't something we have any say about. It's just how the Linux kernel works.

[2016-01-29 21:44] TalkingAntColony commented on #1579
Good catch! I synced the clock and now am stable at 40 peers, the most my node has seen since before frontier. I can provide a full log upon request if you would like to check one last time before closing this issue.

[2016-01-30 10:20] promethe42 commented on #2007
I would expect `web3.eth.getTransactionReceipt` to return only when the tx was actually mined.

How can we know a transaction has been mined otherwise?
Here is what I tested:

[code]

When the tx is mined, r.blockHash is properly set.
But that's a very cumbersome way to deal with this.

Can't we have some kind of event/callback oriented way to know when the tx was mined ?

Regards,

[2016-01-31 09:03] poiuty commented on #2078
Any news?

[2016-01-31 15:16] karalabe commented on #2139
Fixed in develop, closing the issue.

[2016-01-31 15:16] #2139 closed

[2016-01-31 15:19] karalabe commented on #2137
This issue seems to be corrected upstream in develop, so closing.

[2016-01-31 15:19] #2137 closed

[2016-01-31 21:43] promethe42 commented on #2157
Doesn't happen with stable (1.3.3).

[2016-02-01 05:01] saltduck commented on #2158
I build it from git branch master.

OS: Ubuntu15.04

[2016-02-01 10:52] karalabe commented on #2121
I think the reason is simply to work around browser security policies. Chrome for example refuses to execute HTTP AJAX calls if the page itself was loaded over HTTPS. Still though I don't think interfacing a webpage directly with a locally running node is a good thing, neither can I imagine users allowing it, so I don't think this is really something we should be investing time in.

[2016-02-01 18:54] sirhill commented on #1625
I had this problem using the raspberry pi arch linux image. I did like croqaz and it saves me a lot of time. I am still discovering ethereum, but I will probably redo a more recent image for the raspberry pi (seems to be over 6/7 month old).

[2016-02-02 22:25] karalabe commented on #2157
We'll probably merge in some RPC fixes tomorrow, though there was a huge refactor and we're still seeing unstable pieces here and there. I'll try to reproduce it somehow. What calls were you making against the proxy? GET or POST? Any details that might help?

[2016-02-02 22:38] karalabe commented on #2160
Closing this with works-as-intended. If you see the memory used by geth itself rising (as reported by `ps` or `top`) I'll gladly take a look, but disk caching is a Linux feature and should not interfere with your daily routines.

[2016-02-02 22:38] #2160 closed

[2016-02-03 09:53] promethe42 commented on #2157
I think it was both GET and POST. AFAIK the 502 was completely random : the exact same request could work once, then fail the next time.

Tell me when I can test those fixes on unstable and I'll try to reproduce the issue.

[2016-02-03 14:20] chfast commented on #2162
Sorry for late response. I was trying to get any more details about the issue.

So the firewall we have is Cisco ASA5505, but I was said by IT guy it _does not_ blocks connections from my computer. The limit of opened connections is 2000.

The true issue is, after some time of running geth (`geth --networkid 666`) I have internet connectivity problems - some hosts are unreachable and/or responses

[2016-02-03 14:34] fjl commented on #2162
I haven't had time to look deeper into the packet trace you provided recently. For reference, my findings from looking quickly were:

[2016-02-03 15:46] fjl commented on #2162
I'm *dusting off my Stevens* for this one.

[2016-02-04 10:56] karalabe commented on #2155
Hey, I've checked it out. 1.4 introduces a new RPC internals, with support for push notifications among others. To make things cleaner, we've changed the name of some internal RPC method calls. Because of this, 1.4 queries available modules differently than 1.3.x did, hence why the two can't talk to each other.

However, as we don't intend currently to support cross version attaches, these kinds o

[2016-02-04 10:56] #2155 closed

[2016-02-04 12:28] drupalnomad commented on #2158
I find this also. I am always switching network connections / suspending my computer, etc and sometimes Geth gets stuck and I have to restart it. bitcoind is much better in this regard - it can always recover.

[2016-02-04 12:47] drupalnomad opened #2172 "Unable to deploy contracts with new RPC interface"
If I go back to the commit before https://github.com/ethereum/go-ethereum/commit/19b2640e89465c1c57f1bbea0274d52d97151f60 I can broadcast transactions fine.

Even on the lastest commit https://github.com/ethereum/go-ethereum/commit/3274db19c7563e31f79418b63f6c10233cbaa32a it does not work.

[2016-02-04 14:07] karalabe commented on #2172
Could you provide a curl or whatever else RPC call to too what doesn't work exactly (redacted is fine)? Maybe an error message to go along with it?

[2016-02-04 23:43] tjade273 opened #2173 "Insufficient funds error when sending entire balance."
When attempting to send an account's entire balance, geth returns `error: Insufficient funds for gas * price + value`

The command used was

[code]

Looks like there's a `<=` instead of `<` somewhere in the code where the balance is checked.

[2016-02-05 09:48] karalabe commented on #2173
I think this might actually be a JavaScript rounding error. JS uses 64 bit floats to represent integers (wtf?), which means that anything greater than [2^53 - 1](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER) (which is about 0.01 ETH) will be rounded, up or down.

It might be interesting to check if you calculate the sweep transaction and

[2016-02-05 11:04] SCBuergel opened #2174 "(CPU) miner does not start"
I am using Version: 1.4.0-unstable (installed yesterday) on Ubuntu 14.04.3 LTS on a large exoscale.ch cloud machine.

Several times `miner.start(1)` is not responding, it is hard to reproduce but pops up regularly. Now it happened while geth was running (but not mining) and ssh crashed, I had to disconnect, just in case rebooted the machine. Then I started geth (as always) with `geth --genesis cus

[2016-02-05 12:21] drupalnomad commented on #2172
Okay, it's specifically transactions that deploy contracts that aren't being broadcast anymore.

If I run the following code in the Geth JS console no transaction is broadcast:
[code]

[code]

[code]

[2016-02-05 12:40] obscuren commented on #2172
Could you try lowering the gas amount? Or isn't that possible due to the size of the contract?

[2016-02-05 12:45] drupalnomad commented on #2172
Ah, that solved the problem although I don't know why. Why should 3m gas be a problem?

Reduced gas to 30,000 and it broadcast a transaction.

[2016-02-05 12:45] drupalnomad commented on #2172
The deploy code generated by browser solidity has gas set to 3m.

[2016-02-05 14:22] obscuren commented on #2172
You need be te extremely lucky to get it in, your tx needs to come before anyone else's. With a 3m tx nothing else fits in (lowest is 21.000). We need a higher Gas limit ;-)

[2016-02-05 14:22] #2172 closed

[2016-02-05 14:24] karalabe opened #2177 "Windows named pipe timing issues"
I've noticed this during writing IPC tests, that Windows named pipes produce all kinds of weird error messages: `Access Denied`, `EOF` among others. The first one appeared when I tried to reuse the same pipe path between tests (properly closed in between). The second error appeared when I ran tests that started up an IPC endpoint and immediately connected a`jsre` to it. If I wait 100ms after creat

[2016-02-05 15:00] karalabe commented on #2177
Update, I had to move the timeout both after listening and after dial to make it pass all my absolutely trivial tests. We really need to investigate this as there seems to be something quite off.

[2016-02-05 18:43] chfast opened #2179 "Allow controlling when sync starts"
Currently sync starts when:
- there is at least 5 peers OR,
- after 10 seconds.

https://github.com/ethereum/go-ethereum/blob/master/eth/sync.go#L32-L33

Allow a user to control these values.

Moreover, there is no point to wait for 5 peers if the user set peer max number to 3.

[2016-02-06 06:32] drupalnomad opened #2180 "Since the new RPC layer went in transactions are not always created"
[code]

[2016-02-06 06:34] drupalnomad commented on #2172
This issue is not yet resolved. The problem is that a lot of the time transactions are not being created at all: https://github.com/ethereum/go-ethereum/issues/2180

[2016-02-06 06:45] drupalnomad commented on #2180
If I go back to https://github.com/ethereum/go-ethereum/commit/f2ab351e8d3b0a4e569ce56f6a4f17725ca5ba65 everything works correctly:

[code]

[2016-02-06 08:31] obscuren commented on #2172
Different issue tho. This particular issue is "solved".

[2016-02-06 08:32] obscuren commented on #2180
Strange, it appears errors aren't properly returned from the RPC making it *appear* everything is ok

[2016-02-06 08:34] drupalnomad commented on #2180
This is how I launch Geth:
[code]

I'll try with less parameters.

[2016-02-06 08:40] drupalnomad commented on #2180
I tried it with default parameters and it is still the same:
[code]

[2016-02-07 01:29] aakilfernandes opened #2181 "RNG always seeded to same value in geth javascript console"
This a pretty weird bug. All 4 times, the same random numbers are generated. While probably not imminently critical, an enterprising scammer could take advantage of this

![screen shot 2016-02-06 at 8 24 04 pm](https://cloud.githubusercontent.com/assets/1577353/12870382/df08d1fa-cd0f-11e5-9684-53292c77e67b.png)

Here's the contents of randomtest.js

    for(var i = 0; i<5; i++){
        console.lo

[2016-02-07 01:30] aakilfernandes commented on #2181
Geth
    Version: 1.3.2
    Protocol Versions: [63 62 61]
    Network Id: 1
    Go Version: go1.5.1
    OS: darwin
    GOPATH=
    GOROOT=/usr/local/Cellar/go/1.5.1/libexec

[2016-02-07 11:02] gaetanocaruana commented on #842
this was very very helpful. Thank you.

The problem is that most devs will be using solidity browser and they face this issue again and again until there is a very easy way that will allow you to send more gas through it

[2016-02-07 11:17] obscuren commented on #2180
It's about errors not properly reported back to the console. Will look in to this

[2016-02-07 20:11] hitchcott commented on #1908
In case anyone had a similar issue, I was starting with `--datadir /tmp/something ` and had to use `geth attach ipc://tmp/something/geth.ipc` (including  `geth.ipc`)

[2016-02-08 10:43] karalabe commented on #2180
@drupalnomad Could you check latest develop now. Seems to have been a trivial omission of not returning an error.

[2016-02-08 10:55] drupalnomad commented on #2180
This seems to be better now:
[code]

[2016-02-08 10:55] #2180 closed

[2016-02-08 14:03] aiman opened #2185 "Block gaslimit target decays to 3141592 with custom genesis gasLimit"
I am running tests on a private network using the [example](http://jev.io/example_genesis.json) genesis block linked at the go-ethereum wiki page [Private network](https://github.com/ethereum/go-ethereum/wiki/Private-network), with the addition of a `1` ether allocation for address `0xffffffffffffffffffffffffffffffffffffffff`.

[code]

Note I have left the `gasLimit` 0x8000000 (`134217728`) unchan

[2016-02-08 14:29] karalabe commented on #2185
The gas limit specified in the genesis block is the limit of the genesis block itself, not the chain. You cannot influence the chain's target gas limit from the outside using Geth. You could always build your own version of Geth that has a modified parameter set to target a different block limit, but I don't think we aim to support such a use case any time soon via CLI parameters.

[2016-02-08 14:35] aiman commented on #2185
That makes sense now. Thanks!

[2016-02-08 16:03] tayzlor opened #2186 "joining --bootnodes with resolvable DNS name doesnt work"
If i try and use the --bootnodes arg and have something like -

[code]

This won't join - even though if I ```ping host1``` it resolves to its IP address. If I however replace the above with -

[code]
It works just fine. Should the bootnodes arg be able to use DNS (via /etc/hosts for example) to resolve the IP address? The reason i'm asking as i'm trying to set up a cluster via Docker and using DN

[2016-02-08 21:13] fjl commented on #2186
The lack of DNS resolution for bootnodes (and `addPeer`) is intended.

[2016-02-08 21:13] #2186 closed

[2016-02-09 02:01] henrikno opened #2187 "panic: close of closed channel 0.10.0"
Just upgraded to 0.10 GA. It went fine for a day, but suddenly the process stopped, a bit after midnight.

[code]

[2016-02-09 07:35] mtbitcoin commented on #1897
+1 . If performance issues is a consideration then make the indexing optional during startup of the geth instance

[2016-02-09 08:44] fjl commented on #2187
This is a crash in influxdb. go-ethereum does not use influxdb in any way.

[2016-02-09 08:44] #2187 closed

[2016-02-09 10:35] henrikno commented on #2187
I'm sorry, don't know how this got here :)

[2016-02-09 11:25] ppratscher opened #2188 "Latest develop mines to 0x0000... if etherbase is set via the commandline"
The latest develop branch seems to mine to 0x0000000000000000000000000000000000000000 if the coinbase/etherbase address is set via the commandline flag.

To reproduce:
geth  --rpc --etherbase 0xabababa...
Mine & notice that mined blocks have 0x0000000000000000000000000000000000000000 set as their miner.

[2016-02-09 11:30] ppratscher commented on #2188
A lot of people have already mined block to the zero address, see: https://etherchain.org/account/0x0000000000000000000000000000000000000000#blocks

[2016-02-09 13:37] bas-vk commented on #2181
`Math.random` isn't meant to be cryptographically secure. Trusting on it for any crypto/security related operations isn't a good idea. Geth uses the otto vm which comes with a `Math.random` implementation that uses the `math/rand` package to generate pseudo random floats. There is actually a [PR](https://github.com/robertkrimen/otto/pull/95) in the otto vm repo to use a somewhat better seed.

[2016-02-09 14:13] karalabe commented on #2188
@ppratscher Could you please check this PR https://github.com/ethereum/go-ethereum/pull/2189 if it works for you?

[2016-02-09 14:43] ppratscher commented on #2188
yes, I can confirm the PR fixes this issue!

[2016-02-09 14:44] karalabe commented on #2188
Great, thank you! :)

[2016-02-09 14:44] #2188 closed

[2016-02-09 19:14] christianlundkvist opened #2190 "Adding deterministic signatures (RFC6979)?"
It seems that currently we are using a random k-value in the ECDSA algorithm:

https://github.com/ethereum/go-ethereum/blob/develop/crypto/secp256k1/secp256.go#L138

Is there interest in moving to a deterministic k-value using RFC6979?

Quick googling found this go library:

https://github.com/codahale/rfc6979

[2016-02-09 19:56] obscuren commented on #2190
Not at the moment. Is there a reason why you're asking? Are you working with a device which does not contain proper random number generators?

[2016-02-09 19:57] obscuren commented on #2190
Reference http://tools.ietf.org/html/rfc6979